[2022-10-10 17:39] #1507 closed

[2022-10-10 17:39] davidlago commented on #1273
In the right repo now.

[2022-10-10 17:56] Naarcha-AWS commented on #1036
Added Due Dates to each line item, with an eye to categorizing each based on like sections.

[2022-10-10 18:04] Naarcha-AWS commented on #1036
Here's a linear view of estimated section completion dates:

#### 10/14/2022

- API Reference

#### 10/19/2022

- Clients
- Tools

#### 10/21/2022

- Index and Ingestion
- Availability and Recovery

#### 10/26/2002

- Getting Started
- Installation and Configuration

#### 10/28/2022

- Security

#### 11/2/2022

- Observability

#### 11/4/2022

- Search and Query

#### 11/16/2022

- Dashboards

[2022-10-10 18:24] vagimeli commented on #922
Tutorials: Playground doesn't have experimental feature; will be available in production; confirming we can experiment on a local host.

[2022-10-10 19:28] Naarcha-AWS commented on #1355
@Naarcha-AWS to find SME for asynchronous search.

[2022-10-10 21:11] ariamarble opened #1508 "[DOC] Add API documentation for node.reload and node.usage"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.

[2022-10-10 21:36] JeffH-AWS commented on #1377
@scrawfor99 when you have an opportunity could you please provide more info?  See my previous comments.  I'd like to better understand the use case.

[2022-10-10 21:39] kolchfa-aws opened #1509 "[DOC]Complete javascript client helper documentation"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Add description of search, msearch and scrollSearch helper functions in the javascript client.
**What other resources are

[2022-10-11 16:08] #823 closed

[2022-10-11 17:03] hdhalter opened #1514 "[DOC] Fix the Download link on the Documentation site"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [x] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 The top right menu Download link on the Documentation site acts differently than the other pages of the site.

**What other

[2022-10-11 17:04] hdhalter commented on #1514
@nateynateynate - is this something you can fix? Thanks.

[2022-10-11 18:31] nateynateynate commented on #1514
Branch merged. Will keep eyes on the site to verify, then I'll close this out.

[2022-10-11 20:30] #1117 closed

[2022-10-11 23:50] vagimeli commented on #1178
@kavilla Please let me know if you're the appropriate technical reviewer for the new content. Draft is in progress.

[2022-10-11 23:59] #1115 closed

[2022-10-12 16:15] dlvenable opened #1535 "[DOC] Versioned Data Prepper documentation"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Data Prepper is a distinct product from OpenSearch. It has its own versions and release schedule. And similar to OpenSearch

[2022-10-12 16:22] #608 closed

[2022-10-12 16:29] dlvenable opened #1542 "[DOC] Re-structure Data Prepper plugins documentation"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Data Prepper currently has a very large [Configuration reference](https://opensearch.org/docs/latest/clients/data-prepper/d

[2022-10-12 18:21] nateynateynate opened #1545 "[BUG] Make navbar backport agnostic moving forward."
**What do you want to do?**

- [X] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Mods to the navbar seem to require backporting even though they have nothing to do with the actual documentation. I'd like to see about fixing this.

**What other resources are available?** Provide li

[2022-10-12 19:03] tanishk-23 commented on #1545
@nateynateynate can I work on this?

[2022-10-12 20:52] dlvenable commented on #1267
Expanding on the suggestions in #1542, I'd also like to suggest that we break up the existing page named "Pipelines" to include information to have sub-pages from the list in the description above.

[code]

[2022-10-12 20:55] graytaylor0 commented on #1542
I like this structure! Maybe we could have another section for the higher level pipeline configuration such as `workers` and `delay` as well

[2022-10-12 20:57] dlvenable commented on #1267
I believe the following items from the list above are geared more toward developers and should only be in the data-prepper GitHub repository:

* Simulation Development

I also suggest adding the following to opensearch.org because they are for end-users.:

* Expression Syntax
* Monitoring

[2022-10-12 20:59] dlvenable commented on #1542
@graytaylor0 , perhaps the "Pipeline configuration" section as shown below?

[code]

[2022-10-12 21:09] cmanning09 commented on #1542
I like putting the metrics close to each plugin with this design. Metrics are missing in the public documentation. This change won't capture system or core data prepper metrics. Should we create a separate feature request?

[2022-10-12 21:16] dlvenable commented on #1542
I did suggest in the description that each plugin have:
1. Information about the plugin. This would be a textual description and may some usage examples.
2. Configuration information
3. Metrics information.

Let's include that in this proposal. I think another page under "Reference" makes sense here.

[2022-10-12 21:21] graytaylor0 commented on #1542
@dlvenable Yes something like that makes sense. My only minor concern with the naming of `Pipeline configuration` would be that it clashes a bit with how we call the entirety of the `pipelines.yaml` a "pipeline configuration", but this may not be a problem

[2022-10-12 21:27] dlvenable commented on #1542
@graytaylor0 , I think that is a good point - there might be a better name here. Perhaps this page could discuss the basic concepts of pipelines at a high-level - sources, sinks, workers, etc. I'm not quite sure what to call it though.

[2022-10-12 21:41] cmanning09 commented on #1542
This information is in an overview page In the repository: https://github.com/opensearch-project/data-prepper/blob/main/docs/overview.md . I am not sure if this helps. It may make sense to align on naming for these pages.

[2022-10-12 21:52] alicejw-aws commented on #1116
Hi @macrakis, just to confirm the request: Do you want the individual query types and field options defined? Just want to be sure I'm on the right track with the requirement.
Example:
Use the `match` query type to specify fields you want returned.
(Instead of current definitions based on query "Creates a boolean query that returns the search term.)
Thanks

[2022-10-12 22:01] sshivanii commented on #1542
How about having a `Pipeline Configuration Structure` section similar to our Overview [sample config](https://github.com/opensearch-project/data-prepper/blob/main/docs/overview.md#sample-pipeline-configuration) which can have define the minimal components and have a General options section for `workers and delay`
[code]

Overall structure can look like:
[code]

[2022-10-13 01:21] dlvenable commented on #1542
@sshivanii , I agree we should have that. The documentation is porting over some of this documentation as part of #1267. In that issue I also proposed that we include this under the "Pipelines" section. But, that might be better discussed in that issue.

[2022-10-13 14:43] Naarcha-AWS commented on #1535
Target Date: Mid-November

[2022-10-13 17:13] alicejw-aws commented on #1116
Status: in tech review with PM to verify accuracy.

[2022-10-13 17:13] alicejw-aws commented on #1114
Status: in tech review with PM to verify accuracy.

[2022-10-13 18:29] JeffHuss opened #1555 "[DOC] Move Docker Performance Analyzer instructions to _monitoring-plugins/pa/index.md"
**What do you want to do?**

Currently the installation process for Docker also specifically calls out instructions for Performance Analyzer. Based on previous discussions with developers and others involved with the OpenSearch project, this is an artifact of long ago when an arbitrary decision was made to include it. It was decided, however, that the process should not live in the installation do

[2022-10-14 04:15] jmazanec15 opened #1563 "[DOC] Documentation for new Neural Search OpenSearch plugin"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Add documentation for new neural search plugin. More details on plugin can be found in [RFC](https://github.com/opensearch-

[2022-10-14 15:00] cwperks opened #1566 "[DOC-META] Create repository with different cluster security config examples"
**What do you want to do?**

There are currently 2 zip files on the documentation website with examples for an LDAP authentication and authorization backend and one with a SAML authentication backend as well. See https://github.com/opensearch-project/documentation-website/tree/main/assets/examples

The example zips can be located on:
  - https://opensearch.org/docs/latest/security-plugin/configura

[2022-10-14 15:02] cwperks commented on #1566
@cwillum @davelago @dblock This is my first campaign issue filed. Any ideas on the suggestion above?

[2022-10-14 15:29] #1508 closed

[2022-10-14 15:30] #424 closed

[2022-10-14 15:38] vagimeli commented on #937
Confirmed with @brijos that we are launching feature in 2.5

[2022-10-14 15:59] eherot opened #1572 "[DOC] Behavior of ism_template.priority field is not adequately explained"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

[This page](https://opensearch.org/docs/latest/im-plugin/ism/index/) explains that `ism_template.priority` is used to deter

[2022-10-14 16:09] nateynateynate commented on #1545
@tanishk-23 Please! I have a feeling this will require some mods to the liquid.js templates so that the navbar isn't part of the collections logic. If you end up needing another set of eyes I'm happy to eyeball your solutions as well.

Thanks!

[2022-10-14 16:10] nateynateynate commented on #1545
Pro-Tip: Make sure to restart the jekyll server after any modifications to `_config.yml`

[2022-10-14 17:14] tanishk-23 commented on #1545
@nateynateynate can you please elaborate this issue as i am not able to understand.

[2022-10-14 18:11] JeffH-AWS commented on #745
Meeting with @setiah this morning to plan this out.

[2022-10-15 17:26] SohamRatnaparkhi commented on #1555
hey @JeffH-AWS, I would love to work on this issue. Can you assign it to me?

[2022-10-17 17:56] junqiu-lei opened #1582 "[DOC] Add self host maps server document"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Self host OpenSearch Maps Server will to be released on docker hub, which allow user to self host a maps server to be used f

[2022-10-17 18:14] cwillum opened #1583 "Add documentation for pool pruning period and idle time settings for LDAP"
Add documentation that covers configuration of LDAP connection pool pruning period and idle time in the config.yml file. This references issue [#2090](https://github.com/opensearch-project/security/issues/2090) in the security repo.

[2022-10-17 18:20] cwillum opened #1584 "Edit LDAP documentation for custom_attr_allowlist so that it agrees with inclusive language code changes"
Add documentation that covers configuration of the LDAP setting `custom_attr_allowlist` in the config.yml file. This references issue [#2032](https://github.com/opensearch-project/security/issues/2032) in the security repo.

[2022-10-17 18:32] Naarcha-AWS commented on #1582
@junqiu-lei: Does this pertain to a specific version?

[2022-10-17 18:43] junqiu-lei commented on #1582
Hi @Naarcha-AWS, it doesn't require a specific version of OpenSearch, thanks!

[2022-10-17 19:15] Naarcha-AWS commented on #836
@Naarcha-AWS: Follow up with @brijos about the status of this.

[2022-10-18 21:25] #1260 closed

[2022-10-19 14:40] kkaempf opened #1609 "[DOC] Links to distribution-specific download artifacts"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [x] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

While the opensearch-project provides generic packages (rpm) for Linux distributions, I wonder if there's interest
in provi

[2022-10-19 15:17] #1114 closed

[2022-10-19 15:17] #1116 closed

[2022-10-19 15:24] dmitten-mwb opened #1615 "ISM API ism_template priority direction"
**What do you want to do?**

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Small thing, but the documentation for ISM states "If you have more than one template that matches an index pattern, ISM use

[2022-10-19 15:59] vagimeli commented on #1582
Met with engineer 10/18; draft content needed by EOD 10/19. Releasing this feature this week and they want documentation to accompany the release.

[2022-10-19 17:34] alicejw-aws commented on #923
adding link to the feature brief: https://quip-amazon.com/c6OLATXRBb8D/OpenSearch-Feature-Brief-Adding-efficient-filtering-for-Lucene-based-approximate-k-NN

[2022-10-19 20:01] nateynateynate commented on #1545
@tanishk-23 - normally when documentation is added or changed, it's for a specific version of OpenSearch's documentation. So in this repo, this is what we refer to as a "backport" - if the documentation submitted applies to more than just latest, it has to be merged with the other branches so that when the user selects the version of documentation they want, a different set of docs appears.

And t

[2022-10-19 20:35] smsalamon commented on #519
Hi @lukas-vlcek, I'd like to work on this if you want to assign it to me?

[2022-10-19 22:23] cwillum opened #1631 "Add "setting" definition and usage to TERMS.md[DOC]"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
Adding "Setting" definition and usage to Terms doc.

[2022-10-20 19:02] bbarani commented on #905
@Naarcha-AWS I have removed old labels from this issue. Please feel free to update the labels as needed.

[2022-10-21 14:23] JeffH-AWS commented on #789
Switching over to migration documentation now. Parking this ticket until I have cycles to pick it back up and review Helm, Ansible, and K8s.

[2022-10-21 14:25] JeffH-AWS commented on #1377
Putting this on the backlog since I haven't gotten any follow-up info. I'll leave it open for awhile before closing it as stale just in case.

[2022-10-21 14:30] JeffH-AWS commented on #413
Putting this issue on the backlog again. Still waiting on a lot of the materials and a good amount of dev work. This feels like a 3.0 target since a lot of the recommended behavior are breaking changes.

[2022-10-21 14:49] codingday123 commented on #1555
hey @JeffH-AWS, I would love to work on this issue. Can you assign it to me?

[2022-10-21 16:22] #569 closed

[2022-10-21 16:39] vagimeli commented on #1582
Merged PR #1625

[2022-10-21 16:39] #1582 closed

[2022-10-21 18:09] JeffH-AWS opened #1654 "."

[2022-10-21 18:10] JeffH-AWS commented on #1654
![image](https://user-images.githubusercontent.com/107883031/197261613-f258aa91-81c8-482b-b8b4-eec1ee30f0f3.png)

^ picture of the table for reference

[2022-10-22 08:20] cliu123 opened #1656 "[DOC] mget, msearch or bulk Requests Are Not Documented as Cluster permissions."
**What do you want to do?**

- [x] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

They are also used to allow/disallow actions that affect multiple indices, like `mget`, `msearch` or `bulk` requests.

The above statements are needed to be documented in the [cluster permissions section](https://opensearch.org/docs/latest/

[2022-10-22 08:21] cliu123 commented on #1656
@cwillum Please let me know if any information is missing.

[2022-10-24 15:27] JeffH-AWS opened #1659 "[DOC] Fix broken links 2022-10-24"
**What do you want to do?**

Clean up broken links reported by the link checker while building the site from `main` locally.

[code]

[2022-10-24 15:48] JeffH-AWS commented on #1659
Fixed

[code]

[2022-10-24 16:56] alicejw-aws commented on #836
Status: started research 10/24. Learning from demo recording and other information.

[2022-10-24 18:26] #1631 closed

[2022-10-24 18:38] Naarcha-AWS commented on #1036
Based on the work for the API reference section, I'm adjusting the dates for each section to leave additional room between sections and to allow additional time to complete the task.

New ETA: 11/23/2022

[2022-10-25 13:35] davidlago opened #1661 "[DOC] Clarify when Transport vs REST communication is used"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 There is some confusion with the [deprecation of TransportClient](https://github.com/opensearch-project/OpenSearch/issues/1

[2022-10-25 14:36] JeffH-AWS commented on #1661
On it.

[2022-10-25 15:15] JeffH-AWS commented on #1609
@kkaempf could you please describe your request? Are these distributions available already and we just don't publish links?  I'm not quite clear on what you're asking for.

[2022-10-25 15:15] #1401 closed

[2022-10-25 15:35] JeffH-AWS commented on #1361
I'm assuming that `jvm.options` is overriding anything passed in the command line to the service. Just need to double check that, then I'll get some wording added.

[2022-10-25 15:49] #1661 closed

[2022-10-25 15:59] reta commented on #1361
That is correct, but not only override - it could conflict (fe attempting to change GC and set some GC specific settings), the consequences - the service won't even start.

[2022-10-25 15:59] JeffH-AWS commented on #1361
Oh!!  Yikes that is quite bad.

[2022-10-25 16:00] Naarcha-AWS commented on #1555
@codingday123: Feel free to take this on if you have the bandwidth.

[2022-10-25 16:34] #1235 closed

[2022-10-25 17:35] #695 closed

[2022-10-25 18:30] cliu123 opened #1683 "[DOC] SAML ACS Endpoint is Incorrect"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
User follows the documentation, but could not configure SAML properly.

The security plugin uses `/_opendistro/_security/sam

[2022-10-25 19:11] andrross opened #1684 "[DOC] Searchable Snapshot Feature"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
 We would like to develop the documentation for the initial experimental release of the searchable snapshot feature in OpenSearch 2.4. The feature design proposal is here: https://github.com/op

[2022-10-25 19:58] kolchfa-aws commented on #1124
Fixed by PR #1333

[2022-10-25 20:20] kolchfa-aws opened #1685 "[DOC]Search relevance feature"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Add documentation for the new "Compare search results" feature of the Search Relevance plugin.

**What other resources are

[2022-10-26 16:51] Naarcha-AWS commented on #1683
@cwillum: Should be an easy fix here.

[2022-10-26 17:09] Naarcha-AWS opened #1708 "[RFC] [DOC] Add feedback mechanism"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Currently, the only way for users to leave feedback on documentation is to enter a Github issue. While this works fairly we

[2022-10-26 17:21] Naarcha-AWS opened #1709 "[RFC] Make navigation sticky"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Currently, the side navigation of documentation on the left-pane of opensearch.org doesn't scroll down with the user when t

[2022-10-26 17:38] vagimeli commented on #991
Multi data sources issues:

* GitHub issue https://github.com/opensearch-project/documentation-website/issues/922
* GitHub issue https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1388
* https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2400

[2022-10-26 17:45] vagimeli opened #1710 "[DOC] New main page: Discover OpenSearch Dashboards"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Create Discover main page

**What other resources are available?** Provide links to related issues, POCs, steps for testing

[2022-10-26 18:37] Naarcha-AWS opened #1712 "Address consistent captilization in REST API Reference"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

As an outgrowth of PR #1637, we discovered an inconsistency where the names of API operations are not consistently capitali

[2022-10-26 19:02] Naarcha-AWS opened #1713 "[RFC] "cat" API naming convention"
_"To CAT or not cap cat, that is the question?"_
Bill Shakespeare

**What do you want to do?**

- [x] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Unlike most APIs, "cat" is an acronym for "Compact and aligned text". Therefore, it doesn't follow our usual convention of making an API operation lower

[2022-10-26 19:20] peternied opened #1714 "[Windows] Security Documentation"
Add documentation for the security plugin on a Windows machine

[2022-10-26 19:22] peternied commented on #1714
@cwillum I've added this as a placeholder for the v2.4.0 release that will include windows can you determine what else needs to be done to update documentation before the new platform release?

[2022-10-26 23:27] Naarcha-AWS opened #1721 "[DOC]: OpenSearch Installation on Windows"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Describe how to install OpenSearch on Windows.

**What other resources are available?** Provide links to related issues, PO

[2022-10-26 23:37] vagimeli commented on #922
PR #1710

[2022-10-26 23:40] vagimeli commented on #1710
https://github.com/opensearch-project/documentation-website/pull/1711

[2022-10-27 07:42] navneet1v opened #1722 "[DOC] : Incomplete Documentation for starting the cluster using systemctl command"
**What do you want to do?**

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [X] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
The process of starting the OpenSearch service defined on this URL: https://opensearch.org/docs/latest/opensearch/cluster/#s

[2022-10-27 15:04] #1361 closed

[2022-10-27 15:05] JeffH-AWS commented on #789
Putting this back in progress for the morning while I work on distilling a quickstart guide from the new Docker material.

[2022-10-27 16:14] #519 closed

[2022-10-27 16:30] alicejw-aws commented on #1483
hi @kolchfa-aws , Heather asked me to reassign this ticket to you. Thanks

[2022-10-27 16:50] #1659 closed

[2022-10-27 18:58] Naarcha-AWS commented on #1722
@navneet1v: From where were you trying to start OpenSearch? Are you starting the Managed Service or Open Source?

[2022-10-27 18:58] Naarcha-AWS commented on #1714
@kolchfa-aws and @cwillum: I tagged you both so you can collaborate on this.

[2022-10-27 19:13] alicejw-aws commented on #1712
Hi @Naarcha-AWS ,
This issue appears to require a discussion and consensus on what is our naming convention and usage throughout the doc set.
Perhaps remove label "good first issue?"

[2022-10-27 19:22] hdhalter opened #1748 "[DOC] Move Common REST API Parameters topic"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Now that we've moved the REST API reference section out of the OpenSearch navigation structure, can we move the Common REST

[2022-10-27 20:14] alicejw-aws commented on #1713
I agree we should keep the CAT API individual component reference pages titled in lowercase, per their component names and keep the API group name in camel case on the index page, as follows:

API group index page: [Compact and aligned text (CAT) API](https://opensearch.org/docs/latest/api-reference/cat/index/).
Individual component page: [cat aliases](https://opensearch.org/docs/latest/api-refere

[2022-10-27 21:28] ariamarble commented on #1684
Closing with PR https://github.com/opensearch-project/documentation-website/pull/1749

[2022-10-27 22:05] andrross commented on #1684
Left a comment on the PR right as it was being merged, but I think we'll want to model this documentation similar to [segment replication](https://opensearch.org/docs/latest/opensearch/segment-replication/configuration/). Specifically this should be a stand-alone page with all the experimental-feature caveats. We should probably wait until the feature is fully ready in a subsequent release before

[2022-10-27 23:30] navneet1v commented on #1722
I am trying to run the OpenSearch on a EC2 machine by downloading the .tar.gz file from the official site.

[2022-10-28 17:34] Naarcha-AWS commented on #1713
@natebower: What are your thoughts on this?

[2022-10-28 19:38] kolchfa-aws commented on #880
Fixed by #1751

[2022-10-28 19:41] RoyXue812 opened #1755 "[DOC] analysis-common module documentation support"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Need documentation support for analysis-common module to better understand its usages and it should be applied to the latest

[2022-10-28 19:54] natebower commented on #1713
Because "cat" has another meaning (the animal), and because even in lowercase form, "cat" has a meaning as an acronym in our context, let's always treat it as an acronym and use "CAT API".

[2022-10-28 19:58] dlvenable commented on #1535
This proposal would likely change the overall structure of the documentation page.

Right now, Data Prepper documentation is located at the following: https://opensearch.org/docs/latest/clients/data-prepper. Readers change change the OpenSearch version to other versions, say https://opensearch.org/docs/2.2/clients/data-prepper.

If the documentation resided at the same location, it would result in

[2022-10-28 20:05] AMoo-Miki commented on #1535
@kgcreative, would love to hear your thoughts

[2022-10-29 00:31] ShabanaNaik commented on #1654
Hello @JeffH-AWS if no one is working on this. I would like to give it a try. Please assign me this.

[2022-10-29 00:34] kgcreative commented on #1535
@AMoo-Miki Lets generalize this to be able to accommodate Data Prepper, OpenSearch and OpenSearch Dashboards

[2022-10-29 00:41] ShabanaNaik commented on #618
@. Change the Naarcha-AWS  what exactly is needed to be done here? Update the current version of openseacrh version in the file or to use a docker identifier?
 Would like to work on this if it is not assigned to anyone else.

[2022-10-31 16:49] JeffH-AWS commented on #1722
I'll take a look at this.

[2022-10-31 16:52] JeffH-AWS commented on #1722
@navneet1v can you tell me if you're looking for something like this? I put this together when I wrote the installation guide for the tarball:

[code]

[2022-10-31 16:53] JeffH-AWS commented on #1722
If so I can make them a bit more directory and version-agnostic, and then include them as guidance for those who install via tarball.

[2022-10-31 18:07] JeffH-AWS commented on #1722
Ok after a little testing here are the steps as they work for me:

[code]

[2022-10-31 18:19] JeffH-AWS commented on #1722
This process worked:

[code]

[2022-10-31 19:44] JeffH-AWS commented on #1722
PR is up and pending tech review. The doc review should be pretty quick since the commentary is minimal.

[2022-10-31 20:08] JeffH-AWS opened #1772 "[DOC-META] Fix broken links"
**What do you want to do?**

Fix broken links. See the following list:

## 1.3
[code]

## 2.0
[code]

## 2.1
[code]

## 2.2
[code]

## 2.3
[code]

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.

[2022-10-31 20:15] JeffH-AWS commented on #1772
I'm doing a little vetting here because some of the results from the Link Checker seem inaccurate.  For example, the `1.3` version of the site showed:

[code]

But when you go to the live site it seems work fine? I'm probably overlooking something simple.

[2022-10-31 21:35] cwillum opened #1773 "Create documentation for new multi-tenant aggregated view of saved objects [DOC]"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
OpenSearch security is working to make sharing objects within Dashboards and across tenants an easier and more intuitive experience. In the first stages of this effort, the team has created a n

[2022-10-31 23:31] alicejw-aws commented on #923
Update: writing content, on-target for tech review of two drafts by 11/3 this week.

[2022-11-01 00:16] maryanamorato commented on #1712
Hey can I work on this

[2022-11-01 19:22] JeffH-AWS commented on #1722
I got some great feedback from @peterzhuamazon - the steps are good as-is. However, due to the lack of strict root user access control and ease of manipulating file locations, etc., we should add a very clear disclaimer to the process. This disclaimer will essentially say something like:

"We strongly recommend using the RPM distribution which is already configured as a service with systemd. Tarba

[2022-11-01 19:23] JeffH-AWS commented on #1722
Will ping Peter again for final approval once the PR has been updated.

NOTE: I will be OoO with no access to GH or email through 11/14. I will resume work on this issue when I get back online.

[2022-11-02 05:29] arvindmahesh opened #1787 "[DOC] Remove compatibility override from breaking changes"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Report a technical problem with the documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

https://opensearch.org/docs/2.0/breaking-changes/

We list "Deprecate Compatibility override" as one of the breaking changes. We had originally made that change, b

[2022-11-02 10:59] albgus opened #1788 "[DOC] Add Documentation for how to configure ISM with Data Streams"
**What do you want to do?**

- [X] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**

I'm looking at switching to data streams for managing the logs. The documentation for Data Streams explains how to create a data stream and how to set up the index template for it in a good wa

[2022-11-02 16:36] dhwanilpatel opened #1792 "Cluster manager task throttling [DOC]"
### **What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

### **Tell us about your request.** Provide a summary of the request and all versions that are affected.
 **Give a brief description of your request.**
We have introduced new settings for cluster manager task throttling.

[2022-11-02 16:38] ariamarble commented on #1684
We'll work on breaking this off into it's own section

[2022-11-02 16:58] ariamarble commented on #60
The documentation status of this issue is currently in a "needs research" status. Working on this on my end.

[2022-11-02 17:46] jordarlu opened #1793 "[DOC] A docker-compose example command to correct on OpenSearch docker installation web page"
**What do you want to do?**

An existing example docker-compose command shown on https://opensearch.org/docs/latest/opensearch/install/docker/ is a bit mistakenly placing the arguments 'up' and '-f /path/to/your-file.yml' in an incoorect order. If user just do copy&paste, the command fails.

Insted of (current) :  docker-compose up -f /path/to/your-file.yml
Should change to  :  docker-compose -f /

[2022-11-02 17:48] jordarlu commented on #1793
@JeffH-AWS , if this is something you can help with ... Thanks!!

[2022-11-02 19:09] andrross commented on #1684
@ariamarble Here's a rough draft of the content I had in mind. I don't have a strong opinion as to exactly how it should be structured or what page it should be on.

# Searchable snapshots

[code]

[code]

A searchable snapshot index is an index where data is read from a [snapshot repository](https://opensearch.org/docs/latest/opensearch/snapshots/snapshot-restore/#register-repository) on-demand a

[2022-11-02 19:16] Naarcha-AWS commented on #1709
@nateynateynate: Any ideas on this one? Figure we could add a new element.

[2022-11-02 19:23] ariamarble commented on #1684
Created PR - https://github.com/opensearch-project/documentation-website/pull/1795 - with my early rough draft. I will incorporate these changes into that PR.

[2022-11-02 19:57] ashwin-pc commented on #1198
@vagimeli Are we on track for this?

[2022-11-03 00:04] ariamarble commented on #1684
PR - https://github.com/opensearch-project/documentation-website/pull/1795 - is ready for Tech Review if you want to review @andrross

[2022-11-03 00:06] ariamarble commented on #60
Will be working with the team next week for clarification on documentation requirements.

[2022-11-03 14:21] dhruv16dhr commented on #674
@kolchfa-aws Please close this issue after closing the PR

[2022-11-03 14:27] kolchfa-aws commented on #674
@dhruv16dhr It should be closed automatically when the PR is merged, but I'll make sure. Thanks.

[2022-11-03 16:25] heyrita opened #1798 "[DOC] Maximum allowed monitors"
**What do you want to do?**

Could you please add to the documentation the information about maximum allowed monitors.

Is there any limit?

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.

[2022-11-03 16:39] Naarcha-AWS commented on #1788
@albgus: This is a great suggestion. For additional context, do you have an Data Stream example configuration we could use for reference?

[2022-11-03 20:14] vagimeli commented on #1178
Addressing @joshuarrrr feedback. UX working on UI steps graphic

[2022-11-03 20:20] #922 closed

[2022-11-03 21:03] kolchfa-aws opened #1800 "[DOC]Add GeoJSON format to geopoint"
**What do you want to do?**

- [ x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

[2022-11-03 21:14] cwillum commented on #1773
See PR #1786

[2022-11-03 22:45] bowenlan-amzn opened #1809 "[DOC] ISM Error prevention / Action validation feature"
**What do you want to do?**

- [x] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

We are releasing the first stage of ISM Action validation feature in 2.4. The main goal is to improve the user experience o

[2022-11-04 00:26] #1800 closed

[2022-11-04 01:12] lezzago opened #1810 "[DOC] Alerting plugin RBAC enhancement feature"
**What do you want to do?**

- [X] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 This is affecting versions 2.4+. We have currently enhanced the Alerting create/update monitor API to allow for a new param

[2022-11-04 02:19] #1100 closed

[2022-11-04 05:11] anshu1106 opened #1811 "[DOC] Weighted Round Robin shard routing"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
 We have introduced support for weighted zonal search request routing policy. With this change the search requests at the coordinator performs a weighted round robin to route requests to shard

[2022-11-04 08:20] imRishN opened #1812 "[DOC] Awareness Attribute Decommission"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 We have introduced a feature to decommission an awareness attribute from the cluster in the event of zonal failures. With d

[2022-11-04 13:11] #674 closed

[2022-11-04 13:12] #862 closed

[2022-11-04 18:38] dtaivpp commented on #923
@alicejw-aws and @martin-gaievski can we remove these quip links and either past the content in a comment or post it somewhere public? Thanks!

[2022-11-04 20:22] Naarcha-AWS commented on #1809
@bowenlan-amzn: Is this specific to 2.4 or being backport to 2.0?

[2022-11-04 20:33] #1481 closed

[2022-11-04 21:04] bowenlan-amzn commented on #1809
Specific to 2.4. Won't be backported for now.

[2022-11-04 22:40] alicejw-aws commented on #923
hi @dtaivpp, will do! I've saved the resources for doc purposes, and removed the quip links to this issue. Not sure if they are made public or not. Thanks

[2022-11-05 00:40] kolchfa-aws opened #1815 "[DOC]Add geo-bounding box query documentation"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Add geo-bounding box query documentation
**What other resources are available?** Provide links to related issues, POCs, st

[2022-11-05 22:25] Jon-AtAWS opened #1823 "[DOC] Data Prepper Getting Started Guide does not work"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [ X] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

I was following: https://opensearch.org/docs/1.2/clients/data-prepper/get-started/. I pulled data-prepper:latest, added th

[2022-11-05 22:28] Jon-AtAWS commented on #1823
Here's the error I got from docker run

[code]

[2022-11-07 09:12] albgus commented on #1788
This is the policy that I've tried with:

[code]

That said I haven't had time to actually test the rollover yet so I'm not 100% sure it's correct, but at least the data stream indices show up as managed by the policy in the web ui.

[2022-11-07 16:30] dlvenable commented on #1823
Yes, `data-prepper` is the correct image name.

https://hub.docker.com/r/opensearchproject/data-prepper

[2022-11-07 18:52] Naarcha-AWS commented on #1815
@kolchfa-aws: Do you have any additional info on this?

[2022-11-07 19:10] Naarcha-AWS commented on #905
Closed by #1719

[2022-11-07 19:10] #905 closed

[2022-11-07 19:18] alicejw-aws commented on #923
11-7 update: doc is in eng review with Martin and his team.
New section is in-prog to be added for outlining the top 3 use cases, and add an algorithm diagram image with a table of three types of filters that vary from very selective (2%) to medium (40%) to very selective (80%).

[2022-11-07 19:24] alicejw-aws commented on #1810
quick note: With short notice (3 days prior to release), I can't guarantee that this doc can be written in time. Starting research now, will do best we can within this timeframe. Might need to iterate on it after the release. Thanks

[2022-11-07 19:37] lezzago opened #1832 "[DOC] Alerting - Troubleshooting section"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
There should be a troubleshooting section in the Alerting documentation stating common issues users have for when they use A

[2022-11-07 19:37] lezzago commented on #1832
Additionally, this would be helpful for all plugins to have such a section

[2022-11-07 20:24] Naarcha-AWS commented on #1809
@ariamarble: Since you've written about cluster and index management before, I'm going to assign this to you for now, let me know if that works.

[2022-11-07 21:01] kolchfa-aws commented on #1815
@Naarcha-AWS It's an issue that I put in for myself because I already did a similar query for xy point, so it would be easy for me to do. That's why there's no information.

[2022-11-07 22:28] vagimeli opened #1833 "Issue Blog Post: Refresh Moving from open-source Elasticsearch to OpenSearch"
***Describe the blog post your would like to write**
This is a blog refresh to update technical information as of OpenSearch 2.4; blog link https://opensearch.org/blog/technical-posts/2021/10/moving-from-opensource-elasticsearch-to-opensearch/

**What is the title of the blog post?**
Moving from open source Elasticsearch to OpenSearch

**Who are the authors?**
Sarat Vemulapalli

**What is the prop

[2022-11-07 22:30] vagimeli commented on #1833
@saratvemulapalli Please review content for technical accuracy. Content went through editorial review (11/7).

[2022-11-07 22:32] vagimeli commented on #1833
Editorial review occurred 11/7; if no substantive technical changes, then we'll be okay to publish. Otherwise, we need to send it through for another editorial review.

[2022-11-07 22:55] vagimeli commented on #1833
Created this issue in the incorrect repo. See https://github.com/opensearch-project/project-website/issues/1135

[2022-11-07 22:55] #1833 closed

[2022-11-08 16:23] goyamegh opened #1835 "[DOC] ISM Alias action"
**What do you want to do?**

- [x] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Gives complete support for all update alias API options by reusing the alias actions parser internally and explicitly not d

[2022-11-08 16:52] #1714 closed

[2022-11-08 17:01] devin-2 opened #2045 "[Doc] Document examples for filtering Alerts"
**Is your feature request related to a problem?**
I encountered some issues attempting to filter alert results using the URI in the developer tools and, when looking at the Alerting dashboard API, it appears to take parameters for: from, size, search, start_time, sortDirection, severityLevel, alertState

**What solution would you like?**
Examples showing how to filter alerts discovered with the en

[2022-11-08 17:14] Naarcha-AWS opened #1837 "[Data prepper] Trace Analytics"
Migrate the Data Prepper Trace Analytics page: https://github.com/opensearch-project/data-prepper/blob/main/docs/trace_analytics.md

[2022-11-08 17:15] Naarcha-AWS opened #1838 "[Data prepper] Monitoring"
Migrate monitoring page to Data Prepper section:

https://github.com/opensearch-project/data-prepper/blob/main/docs/monitoring.md

[2022-11-08 20:42] #1684 closed

[2022-11-08 21:30] Naarcha-AWS commented on #1837
Make sure the we reconcile this with the example Trace Analytics pipeline on the pipelines page at https://opensearch.org/docs/latest/data-prepper/pipelines/#trace-analytics-pipeline

[2022-11-08 21:43] #1006 closed

[2022-11-08 22:29] dlvenable opened #1846 "[DOC] Create use-case specific pages for Data Prepper documentation"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

The Data Prepper documentation includes four [example pipelines](https://opensearch.org/docs/latest/data-prepper/pipelines/

[2022-11-08 23:03] alicejw-aws commented on #923
Update: Tech review is completed 11-8, now in doc review.

[2022-11-08 23:12] cmanning09 commented on #1846
I like the alternative approach. Enumerating just on the high level use case and then show casing different options to support those use cases in child pages.

[2022-11-09 17:10] dhrubo-os opened #1848 "[DOC]Documentation for new Opensearch-py-ml plugin"
**What do you want to do?**

- [ ] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Opensearch-py-ml is a Python Opensearch client for exploring and analyzing data in Opensearch with a familiar Pandas-compatible API.

Where possible the package uses existing Python APIs and data structures to make it easy to switch between

[2022-11-09 19:32] vagimeli commented on #1198
Documentation https://github.com/opensearch-project/documentation-website/pull/1808

[2022-11-09 21:37] ariamarble commented on #1809
Currently in progress

[2022-11-09 21:40] carolxob commented on #1846
@dlvenable I prefer the first suggestion for information architecture reasons - it looks cleaner and more user-friendly.

[2022-11-09 21:49] joshuarrrr opened #1853 "[DOC] Orphaned doc links in OpenSearch Dashboards"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [x] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

In OpenSearch Dashboards, we have a centralized location where we define all documentation links. Within that file, there's

[2022-11-10 01:04] ashwin-pc commented on #1198
Thank you!

[2022-11-10 16:17] #795 closed

[2022-11-10 18:02] #1685 closed

[2022-11-11 15:32] #1106 closed

[2022-11-11 19:23] #923 closed

[2022-11-14 16:16] JeffH-AWS commented on #1793
Hello @jordarlu and thanks for raising this typo! Fix pending.

[2022-11-14 17:03] #1793 closed

[2022-11-14 17:38] JeffH-AWS commented on #1722
Waiting on tech review from Peter before moving to doc review.

[2022-11-14 17:47] jordarlu commented on #1793
Thank you, @JeffH-AWS

[2022-11-14 18:25] lezzago commented on #1810
@alicejw-aws, these `rbac_roles` refer to `backend_roles` in security. In step 1 above, they would create the user like this:
[code]

[2022-11-14 18:41] JeffH-AWS commented on #1722
Tech review done. Requested docs review.

[2022-11-14 19:16] alicejw-aws commented on #1810
Hi @lezzago , i have a draft PR ready for your review.

Sections updated:
1. Create user note: (https://opensearch.org/docs/latest/security-plugin/access-control/api#create-user)
2. Create a query level monitor: https://opensearch.org/docs/latest/monitoring-plugins/alerting/api/#create-a-query-level-monitor
3. (Advanced) Limit access by backend role: https://opensearch.org/docs/latest/monitoring-p

[2022-11-14 19:34] #1198 closed

[2022-11-14 20:08] zhongnansu opened #1867 "[DOC] Add documentation for date-math"
**What do you want to do?**
 "Acceptable date format" helper link in OpenSearch Dashboards  is pointing to documentation home page.

<img width="424" alt="screen_shot_2022-11-09_at_12 14 59_pm" src="https://user-images.githubusercontent.com/28733332/200968655-fb604089-9308-475c-b398-aa93c4cc9279.png">

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a tech

[2022-11-14 20:23] #1722 closed

[2022-11-14 22:03] #1713 closed

[2022-11-14 22:21] lezzago commented on #1798
The maximum number of monitors is 1000.
code reference: https://github.com/opensearch-project/alerting/blob/817d9ef6c2b439c0b943df2d699380a9a3d54975/alerting/src/main/kotlin/org/opensearch/alerting/settings/LegacyOpenDistroAlertingSettings.kt#L22

[2022-11-14 22:22] lezzago commented on #1798
It has always been by default 1000 monitor and is configurable

[2022-11-15 02:26] ryn9 opened #1889 "Document Clone Snapshot API"
**Is your feature request related to a problem? Please describe.**
The clone snapshot API is not documented

**Describe the solution you'd like**
please document it

**Describe alternatives you've considered**
N/A

**Additional context**
https://www.elastic.co/guide/en/elasticsearch/reference/current/clone-snapshot-api.html

[2022-11-15 15:59] #1400 closed

[2022-11-15 16:03] #1792 closed

[2022-11-15 17:41] #1810 closed

[2022-11-15 20:51] ariamarble commented on #1809
Update of existing ISM docs complete. Waiting on troubleshooting guide from @Angie-Zhang

[2022-11-16 02:12] cwillum commented on #1488
Creating a PR to restore images in documentation. They didn't get in the first time.

[2022-11-16 02:39] cwillum commented on #1773
Post release fixes: an image and a typo.

[2022-11-16 16:48] kolchfa-aws opened #1920 "[DOC] Create an easy to navigate and visually appealing landing page"
**What do you want to do?**

Create an easy to navigate and visually appealing landing page with calls to action, groupings of similar concepts, what’s new, popular topics, and getting started. Example: https://learn.microsoft.com/en-us/azure/?product=popular

- [ x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ]

[2022-11-16 16:50] kolchfa-aws opened #1921 "[DOC] Doc site: Let body text be scrollable while the left pane and right panes remain static."
**What do you want to do?**

Let body text be scrollable while the left pane and right panes remain static. Allow users to hide left pane and right pane elements so that only the body remains. Example: https://www.twilio.com/docs/flex/developer/plugins/debugging-with-vscode#downloading-the-debugger-for-chrome-plugin

- [ x] Request a change to existing documentation
- [ ] Add new documentation
- [

[2022-11-16 16:57] kolchfa-aws opened #1922 "[DOC] Doc site: Add a floating back to top page element that stays with user throughout the page."
**What do you want to do?**

Add a floating back to top page element that says with user throughout the page.

- [x ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

[2022-11-16 16:58] kolchfa-aws opened #1923 "[DOC] Doc site: Add the ability to span rows/columns for tables"
**What do you want to do?**

Add the ability to span rows/columns for tables

- [x ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

[2022-11-16 16:59] kolchfa-aws opened #1924 "[DOC] Doc site: Add the ability to copy code samples."
**What do you want to do?**

Add the ability to copy code samples with one click. This includes REST APIs, with the ability to copy or modify curl commands based on user input.

- [x ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

[2022-11-16 17:00] kolchfa-aws opened #1925 "[DOC] Doc site: Include documentation inside OpenSearch Dashboards"
**What do you want to do?**

Include documentation inside OpenSearch Dashboards, including the use of highlighting key areas that the user might want to interact to achieve a specific task.

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

[2022-11-16 17:03] kolchfa-aws opened #1926 "[DOC] Doc site: Create a REST API section with client language support"
**What do you want to do?**

Create a dedicated, searchable REST API reference section (possibly that can be downloaded as a pdf) and gives the ability to switch between client languages in request and response examples. Example: https://www.twilio.com/docs/sms/send-messages.

- [ x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the do

[2022-11-16 17:05] kolchfa-aws opened #1927 "[DOC] Doc site: Add ability for code examples or table contents to be resized."
**What do you want to do?**

Add ability for code examples or table contents to be resized without scrolling.

- [ x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

[2022-11-16 20:13] dblock opened #1933 "[DOC] Document differences between various k-nn implementations"
I'd like to understand (have documentation that explains) the differences between the various k-nn options in OpenSearch, including but not limited to features (eg. similarity functions available), characteristics (e.g. recall), performance (gap between Lucene-based HNSW and FAISS), resource consumption (heap vs. native memory), support for acceleration (GPU, etc.), etc. Basically, if I have a nea

[2022-11-16 20:16] dblock commented on #1933
https://gist.github.com/martin-gaievski/7a0d83f57d607392642f87e43f40f606 is interesting

[2022-11-16 20:41] #1809 closed

[2022-11-16 21:45] cwillum commented on #1488
Merged PR #1928, so I'm closing this again.

[2022-11-16 21:45] #1488 closed

[2022-11-16 22:54] hdhalter commented on #1838
This issue is tied to this https://github.com/opensearch-project/documentation-website/pull/1931 PR.

[2022-11-16 23:12] hdhalter commented on #1481
PR is #1485

[2022-11-16 23:32] #1773 closed

[2022-11-17 02:28] #1486 closed

[2022-11-17 14:44] #1563 closed

[2022-11-17 16:55] ariamarble commented on #1015
@ macrakis plugins are hosted on Maven and there is not a way to list those over the CLI. the opensearch-plugin binary is only able to list installed plugins as well. Maven is covered in the plugin install guide. I will update to link to the CAT page.

[2022-11-17 17:33] ariamarble commented on #1015
Resolved - https://github.com/opensearch-project/documentation-website/pull/1962

[2022-11-17 17:33] #1015 closed

[2022-11-17 19:11] #1359 closed

[2022-11-17 19:18] alicejw-aws commented on #836
Update: 11/17. Picked up again after 2.4 release is done. Starting doc outline from previous research completed.

[2022-11-17 20:01] jmazanec15 opened #1972 "[DOC] Should Neural Search Plugin be a search plugin?"
**What do you want to do?**

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Currently, in https://opensearch.org/docs/latest/, the neural search plugin has its own top level folder. I think it should

[2022-11-17 20:33] navneet1v opened #1973 "[DOC] : Incorrect documentation for Neural Search Plugin"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [X] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
The example provided here: https://opensearch.org/docs/latest/neural-search-plugin/index/#example-request are incorrect. It

[2022-11-17 20:36] dhrubo-os commented on #1973
In addition, `Request fields` aren't quite matching with the `Example request`. We should add more detailed explanation for the `Request fields`

[2022-11-17 22:56] dblock opened #1975 "[DOC] JDK8 breaking issue"
**What do you want to do?**

- [x] Request a change to existing documentation
- [x] Add new documentation

The [breaking changes](https://opensearch.org/docs/2.0/breaking-changes/) documentation for 2.0 is incomplete.

A Lucene upgrade forced OpenSearch to drop support for JDK8 and as a consequence forced the same on opensearch-java client. Restoring support for JDK8 is [opensearch-java#156](https

[2022-11-18 06:14] imRishN commented on #1812
@Naarcha-AWS any updates on this? Let me know if more details are required

[2022-11-18 17:00] vagimeli commented on #1853
@joshuarrrr I'm working on this issue

[2022-11-18 17:27] Naarcha-AWS opened #1981 "[DOC] Add ML Commons cluster setting"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Add ML commons cluster settings so people can configure their OpenSearch cluster for ML task and ML nodes.

**What other re

[2022-11-18 19:58] cwillum opened #1988 "[DOC]Fill gaps in Security Analytics documentation for the 2.4 release"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
This issue creates a space for addressing gaps and any other insufficiencies with Security Analytics post-release documentation for version 2.4.
Some topics to address:

- [x] #2061
- [x] #2131

[2022-11-18 20:10] cwillum commented on #939
Closing this issue based on #1988 - we can use this new issue to manage any topics for documentation that surface after the 2.4 release.

[2022-11-18 20:10] #939 closed

[2022-11-21 07:03] gaobinlong opened #1991 "[DOC] Update index settings API's document contains some useless url parameters"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Update index settings API's document contains the following useless url parameters:

- flat_settings
- ignore_unavailable

I

[2022-11-21 17:25] ps48 opened #1993 "[DOC] Prometheus SQL and Metrics Analytics Observability Plugin"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 With OpenSearch 2.4, we released features for connected metrics in Observability plugin. This included two new components:

[2022-11-21 20:07] kamingleung opened #1994 "[DOC] Alerting - Destination migration to notification"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Since 2.0, a centralized notification plugin was introduced to replace the destinations within alerting.
In alerting documen

[2022-11-21 20:23] Naarcha-AWS commented on #673
https://opensearch.org/docs/latest/opensearch/shard-indexing-backpressure/ <---- These should be documented here, feel free to reopen if you feel like more is missing.

[2022-11-21 20:23] #673 closed

[2022-11-21 21:19] cwillum commented on #746
Closing this after merging #927

[2022-11-21 21:19] #746 closed

[2022-11-21 22:05] Naarcha-AWS commented on #1921
This is a duplicate of #1709

[2022-11-21 22:05] #1921 closed

[2022-11-21 22:20] Naarcha-AWS commented on #1924
Per our meeting with @kolchfa-aws and @nateynateynate, adding a "Add to clipboard" icon should be easy enough to add. However, adding a mechanism to switch between a generic and curl example might be more difficult to achieve. For now, it might be best to keep this low-hanging-fruit and just add an icon for copying code, while keeping to code SDK agnostic.

[2022-11-21 23:40] vagimeli commented on #831
@nknize @ervikrant06 @Naarcha-AWS Is a documentation update still needed on this issue? The issue is closed but was assigned to me. I search documentation and haven't located any files with the verbiage "OpenSearch 1.x to 2.x."

[2022-11-22 00:14] vagimeli opened #2008 "[DOC] Move Browser Compatibility page to a subpage under Install Dashboards page"
**What do you want to do?**

- [ X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Move Browser Compatibility page to a subpage under Install Dashboards page

**What other resources are available?** Provide

[2022-11-22 03:28] wbeckler opened #2010 "Remove documentation for High Level Rest Client [DOC]"
**What do you want to do?**

- [ X ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

We have a section on the High Level Rest Client: https://opensearch.org/docs/latest/clients/java-rest-high-level/

In fact this client is not recommended. It will likely be deprecated. There are several challenges to

[2022-11-22 04:28] wbeckler opened #2011 "Remove "beta" designation of opensearch-java"
**What do you want to do?**

- [ X ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

The documentation here (https://opensearch.org/docs/1.2/clients/java/) suggests that opensearch-java is "beta."  In fact it is not in beta and it is the recommended client. the verbiage is misleading. This verbiage is

[2022-11-22 16:30] #2008 closed

[2022-11-22 17:33] kolchfa-aws commented on #1721
Closed. Complete #1825

[2022-11-22 17:33] #1721 closed

[2022-11-22 17:35] #1975 closed

[2022-11-22 17:40] JeffH-AWS commented on #789
Quick start guide is in tech review now. Waiting on feedback regarding the depth of the guide - is more needed? Less? I might get it merged before Thanksgiving if the approvals and reviews are quick but no guarantees.

[2022-11-22 19:19] qreshi commented on #1994
For reference, here was the original PR that added the Notifications contents to the documentation: https://github.com/opensearch-project/documentation-website/pull/586. We can use this as a base for improvements.

I noticed that there was a regression in the documentation website as well. You'll notice [things that we removed for Destinations in that original PR](https://github.com/opensearch-pro

[2022-11-22 19:41] Naarcha-AWS commented on #2011
Hi @wbeckler: The `beta` designation is removed from OpenSearch 1.3 up: https://opensearch.org/docs/1.3/clients/java/.

Do you still need us to update the OpenSearch 1.2 documentation?

[2022-11-22 19:50] Naarcha-AWS commented on #1994
@kamingleung and @qreshi: To clarify the ask here, whoever is assigned to this issue should do the following:

1. Remove the destinations section text for OpenSeach 2.0 and greater.
2. Add a note on the monitors page that monitors are now created in the notifications plugin.
3. Guidance on how to migrate destinations that are not automatically migrated to notifications.

Do you have any notes on w

[2022-11-22 19:52] Naarcha-AWS commented on #1993
@ps48: Do you have additional resources besides the two PRs you linked?

[2022-11-22 20:02] qreshi commented on #1994
@Naarcha-AWS Personally, for #3, I believe we had already answered that [here](https://github.com/opensearch-project/documentation-website/pull/586/files#diff-84890c1e896f001520a4397fcf87cf33ae70edd6bd059ec94f0d85cef5abc654R364-R365). Alerting continues to attempt migration until all Destinations have migrated. If migration fails, it uses the Destination as a fallback seamlessly, there should be n

[2022-11-22 20:04] qreshi commented on #1994
Some more technical details on this migration were mentioned in the [PR that added it to Alerting](https://github.com/opensearch-project/alerting/pull/379) if we want to include any of that in the documentation.

[2022-11-22 20:31] kamingleung commented on #1994
Sorry, I didn't realize there is already a section on "Questions about Destinations". I believe items 2 & 3 are covered in that section.

For item 3: For failed migrations, would it make sense to also recommend users to recreate the destination as channel and update the monitor to use the new channel?

[2022-11-22 20:58] ashwin-pc commented on #992
Are you referring to Vega or TSVB or something else entirely?

[2022-11-22 21:00] ashwin-pc commented on #992
Configure panels

Also what do you mean by this?

[2022-11-22 21:03] qreshi commented on #1994
@kamingleung If the migration is failing it is presumably because the indexing of the config has failed somehow (if it's transient it'll work the next time the job runs). In cases like this, they have bigger problems with the cluster as all writes would be failing. We want to avoid manual intervention here and should not recommend it. Let's keep it hands off for now. If we start seeing customer is

[2022-11-22 21:25] ashwin-pc commented on #992
Here's how i was thinking of the most important sections for visualizations:
- A list of all the vis types and what they are (And sub pages for each vis type)
- A list of all the aggregations, what they are and how they aggregate data (Common for all visualizations)
- How the query bar, filters and date range work with visualizations.
  - How the query bar works
  - Different options for the time

[2022-11-22 23:13] hdhalter commented on #1708
Here is a potential solution from a fellow colleague: https://github.com/facebook/react-native-website/pull/1449 and https://github.com/facebook/react-native-website/pull/1458/files

[2022-11-23 02:54] wbeckler commented on #2011
Yes, for all versions. The status of the client isn't dependent on the
server version , so every "beta" reference linked from old versions is
confusing and incorrect.

On Tue, Nov 22, 2022, 2:41 PM Naarcha-AWS ***@***.***> wrote:

[2022-11-23 22:01] JeffH-AWS commented on #789
Refactor completed for tarball, RPM/YUM, and Docker installations. Additionally, I created a quickstart guide from scratch and pushed it.

Next priority is upgrading OS, followed by migrations from other platforms or infrastructure.

[2022-11-23 22:01] #789 closed

[2022-11-23 22:02] JeffH-AWS commented on #1772
Since there are ongoing efforts to clean up the ToC and general website structure I'm going to close this issue. Will look in to it again after website restructure activities are completed to make sure we're solid.

[2022-11-23 22:02] #1772 closed

[2022-11-23 22:03] JeffH-AWS commented on #1377
Closing this stale issue. Please feel free to reopen this issue if/when you're able to provide the requested information.

[2022-11-23 22:03] #1377 closed

[2022-11-23 22:07] JeffH-AWS commented on #904
Moving this to in-progress since I'm beginning work on major/minor version upgrades.

[2022-11-23 23:40] Angie-Zhang opened #2042 "[DOC] Update documentation for Error Prevention"
**What do you want to do?**

- [X] Request a change to existing documentation
- [X] Add a new documentation page
- [X] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
1. We have added Error Prevention API in issue #1809. Now we need an individual page under INDEX MANAGEMENT PLUGIN fo

[2022-11-24 09:54] ervikrant06 commented on #831
@vagimeli I am good with closure. thanks

[2022-11-28 07:25] gaobinlong opened #2044 "[DOC] Add max_shard_size parameter for Shrink API"
**What do you want to do?**

- [x] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Relates to https://github.com/opensearch-project/OpenSearch/pull/5229, in this PR, we add a request body parameter `max_shard_size` for Shrink API, we should add this parameter to the document.

**What other resources a

[2022-11-28 16:50] dblock commented on #2045
I just moved this issue into documentation-website.

[2022-11-28 18:13] macrakis opened #2046 "[DOC] Some suggestions for the Dashboards page"
**What do you want to do?**

- [X ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

I am new to OpenSearch Dashboards, so I went to the https://opensearch.org/docs/latest/dashboards/index/ page. There were

[2022-11-28 18:34] JeffH-AWS opened #2047 "[DOC] Fix path to example docs in git repo"
**What do you want to do?**

Right now in the docs {{site.opensearch_version}} expands to a three digit version which doesn't work for the URL path:

E.g., the link using that parameter expands to:
https://github.com/opensearch-project/documentation-website/blob/2.4.0/assets/examples/ecommerce-field_mappings.json

But it should expand to:
https://github.com/opensearch-project/documentation-website

[2022-11-28 18:51] JeffH-AWS commented on #2047
PR is up waiting on approvals. Verified that all the links seem to work now.

[2022-11-28 19:23] cwillum opened #2061 "Detector API: complete API documentation according to doc team guidelines."
To account for Detector API documentation in Security Analytics and complete it in accordance with STYLE_API_TEMPLATE.md in the documentation repo.

[2022-11-28 21:11] Naarcha-AWS commented on #1848
Since the client can be installed and has officially [been published](https://pypi.org/project/opensearch-py-ml/), I'll add the client page today.

[2022-11-28 22:17] #1981 closed

[2022-11-28 23:06] ariamarble commented on #1259
Status - most of the research and testing is complete on this one. Currently working on a rewrite of some pages.

[2022-11-29 16:22] tv1n94 opened #2068 "[DOC] How shards will work if zones are not specified"
**What do you want to do?**

- [v] Request a change to existing documentation
- [v] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

Good afternoon!

I'm just getting started with OpenSearch. I have an OpenSearch cluster, but its configuration does not include Configure shard allocation awareness (https://opensearch.org/docs/2.0/opensearch/cluster/#advance

[2022-11-29 17:47] hdhalter opened #2069 "[DOC] Replace Quickstart information with new Quickstart page"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Now that we have tested quickstart instructions, lets replace the existing instructions on the doc home page: https://opens

[2022-11-29 21:45] JeffH-AWS commented on #745
Circling back - this is fully in progress now, but the p0 is Docker major/minor version upgrades. I've started data gathering and have built a lab environment to use for testing, including separate `docker-compose.yml` files for each minor version of `1.x` and `2.x`. I have compiled a list of questions that require feedback from the devs and PM.

Additionally, the table of contents for the page is

[2022-11-30 00:38] lezzago opened #2075 "[META][DOC] Feature Anywhere Documentation"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
We have this upcoming feature from Alerting and AD plugins where we want to document this feature on launch.
This feature wi

[2022-11-30 16:30] JeffH-AWS commented on #904
@saratvemulapalli can you provide a link to the details for the bug you referenced? What specifically is the issue and is there an issue against the OS repo?

[2022-11-30 17:40] Naarcha-AWS commented on #990
@macrakis: We've documented this for Query DSL here: https://opensearch.org/docs/latest/opensearch/query-dsl/text-analyzers/#language-analyzer.

Are you hoping to have the same change implemented in 1.1 version of OpenSearch?

[2022-11-30 17:52] JeffH-AWS commented on #571
Taking a look at this.

[2022-11-30 17:52] JeffH-AWS commented on #571
[code]

[2022-11-30 17:58] JeffH-AWS commented on #571
[code]

[2022-11-30 18:00] JeffH-AWS commented on #571
[code]

[2022-11-30 18:07] JeffH-AWS commented on #571
If the endpoint is deprecated and the new endpoint is `/allowlist` then why doesn't that endpoint seem to exist? Did more change in the path than just substituting `allowlist` for `whitelist`?

[2022-11-30 18:18] JeffH-AWS commented on #1867
@zhongnansu can you please explain what the issue is? I'm not sure what you mean by:
[code]

Please provide a summary of the current state, what exactly is wrong, and what it should look like when it's fixed.

[2022-11-30 18:46] JeffH-AWS commented on #379
The plugins page has been updated with a full list of compatible versions. There are currently no plans to automate this documentation. Since it's updated I'm going to close out this issue. Please reopen it, or open a new issue, if there's still an action item that you believe hasn't been addressed.

[2022-11-30 18:46] #379 closed

[2022-11-30 18:48] JeffH-AWS commented on #434
There isn't an ask from the documentation team here. This repo is also for the OpenSearch Project, not for Amazon OpenSearch Service which is where the instance class and EBS discussion would apply.

[2022-11-30 18:48] #434 closed

[2022-11-30 19:22] Naarcha-AWS commented on #2075
@lezzago: How related is this to https://github.com/opensearch-project/documentation-website/issues/796? Has the name of the feature changed?

[2022-11-30 20:25] cliu123 commented on #571
@JeffH-AWS The API paths in your requests are incorrect. [These](https://github.com/cliu123/security/blob/main/src/main/java/org/opensearch/security/dlic/rest/api/AllowlistApiAction.java#L87-L89) are the right API paths.

[2022-11-30 20:47] JeffH-AWS commented on #571
[code]

[2022-11-30 20:52] hdhalter commented on #1867
Hi Jeff, I believe they are asking for documentation to be created for this feature. Currently, the link from dashboards is going to our home page. As soon as we create documentation and provide a link, they'll update the link in the UI.

[2022-11-30 20:53] hdhalter commented on #1867
@kolchfa-aws - do you know if we have documentation on this?

[2022-11-30 20:54] navneet1v commented on #1973
@Naarcha-AWS when we are planning to take up this task?

[2022-11-30 20:56] JeffH-AWS commented on #571
This will require two different PRs once it's completed - one for the `2.x` versions and one for `1.x` since the language was changed.

[2022-11-30 21:41] kolchfa-aws commented on #1867
We do have documentation on acceptable date formats (https://opensearch.org/docs/latest/opensearch/supported-field-types/date/#formats), but I don't think the intent is to link to date formats. What Dashboards page is this from? Does it need to link to date formats or date math? If it needs to link to date math, the only mention of it that we have is in the [term queries](https://opensearch.org/do

[2022-11-30 21:47] kolchfa-aws commented on #1867
@JeffH-AWS @hdhalter You can assign this one to me if you want.

[2022-11-30 21:51] JeffH-AWS commented on #745
Currently blocked on this while I wait to hear back from developer resources. I've compiled a list of questions. Here's a list of open questions:

[code]

[2022-11-30 23:19] nhtruong opened #2077 "[DOC] Issues found in CAT API documentation"
## **What do you want to do?**

- [x] Request a change to existing documentation

## **Tell us about your request.** Provide a summary of the request and all versions that are affected.

### Inclusive Naming - Version 2.0 to 2.4:
- [x] [CAT nodes](https://opensearch.org/docs/latest/api-reference/cat/cat-nodes/#response): `master` should be changed to `cluster_manager`.
- [x] [CAT allocation](https