[2022-06-02 22:11] #486 closed

[2022-06-02 22:12] #595 closed

[2022-06-03 17:20] opoplawski opened #637 "Existing RPM file will be used even though new file is available"
NOTE: More information in comments about why this should be a documented issue.

Original title:
[BUG] opensearch-dashboards 2.0.0-1 rpm fails to start

**Describe the bug**

opensearch-dashboards fails to start:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install opensearch-dashboards-2.0.0-1.x86_64 from repository
2. Start service
3. systemctl status opensearch-dashboards
4. See

[2022-06-03 20:49] hdhalter commented on #616
Hi @AMoo-Miki, is this something you need to do or can you point me to the right file? Thanks.

[2022-06-06 11:37] neuralsearch-opensearch opened #640 "[BUG] link to version 1.3 is showing 2.0.0 documentation."
### What is the bug?
The 1.3.x docs  page https://opensearch.org/docs/1.3/security-plugin/configuration/security-admin/ is showing the below config which is 2.0.0 specific configuration and does not work on 1.3.x.

./securityadmin.sh -f ../../../config/opensearch-security/internal_users.yml \
  -t internalusers \
  -icl \
  -nhnv \
  -cacert ../../../config/root-ca.pem \
  -cert ../../../config/ki

[2022-06-06 14:51] #620 closed

[2022-06-06 15:52] setiah commented on #631
Thanks @Naarcha-AWS for picking this up. I discussed this with @bbarani last week. @prudhvigodithi can provide some references for documentation here.

[2022-06-06 18:18] #633 closed

[2022-06-06 18:33] hdhalter opened #642 "Drag and Drop in Dashboards"
What do you want to do?

- Make a change to existing documentation
**- Add new documentation**
- Report a technical problem with the documentation
- Other

Please provide the following information:

**Give a brief description of your request.**
Document new functionality coming in 2.1: Drag and Drop enhancements to Dashboards.

**Which versions are affected?**
New to 2.1

**Which pages or URLs are

[2022-06-06 18:44] hdhalter opened #643 "Multi-terms aggregation feature"
What do you want to do?

Make a change to existing documentation
**Add new documentation**
Report a technical problem with the documentation
Other

Please provide the following information:

**Give a brief description of your request.**
New feature added in v2.1: Have an aggregation feature that lets me sort by a number of a document or a metric aggregation on a composite key and get top N results

[2022-06-06 18:55] hdhalter opened #644 "Pluggable Translog feature"
What do you want to do?

Make a change to existing documentation
**Add new documentation**
Report a technical problem with the documentation
Other

Please provide the following information:

**Give a brief description of your request.**
The proposal is to provide a mechanism for achieving durability of uncommitted indexing operations and look at the advantages of making the implementation pluggabl

[2022-06-06 19:03] hdhalter opened #645 "Contribution analysis function"
What do you want to do?

Make a change to existing documentation
**Add new documentation**
Report a technical problem with the documentation
Other

Please provide the following information:**

**Give a brief description of your request.**
New feature in 2.1: Contribution analysis is to find the top contributors to some abnormal period like which server contributes most for the error spike. We can

[2022-06-06 19:07] opensearch-trigger-bot[bot] opened #646 "Update dashboards.yml config to reflect deprecation"
**Is your feature request related to a problem?**
A new feature has been added.

**What solution would you like?**
Document the usage of the new feature.

**What alternatives have you considered?**
N/A

**Do you have any additional context?**
See please
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1485.

[2022-06-06 19:08] tmarkley commented on #646
This is related to the config deprecation in https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1485

[2022-06-06 19:09] hdhalter opened #647 "Snapshot management feature"
What do you want to do?

Make a change to existing documentation
**Add new documentation**
Report a technical problem with the documentation
Other

Please provide the following information:

**Give a brief description of your request.**
This is a feature slated for 2.1: snapshot management feature, installed as a plugin

**Which versions are affected?**
This is being added in 2.1

**Which pages or

[2022-06-06 19:41] KnowledgeGarden opened #648 "[BUG] OpenSource Version is now 2.0"
### What is the bug?
It's not so much a bug as potential bugs if you move from OS version < 2.0 to the new 2.0 because they have a new REST client

### How can one reproduce the bug?
Can't without changing `opensource.version' value in module.xml

### What is the expected behavior?
I can only predict that REST client code might have to change

[2022-06-06 19:41] hdhalter opened #649 "Support for more zoom levels in dashboard"
What do you want to do?

**Make a change to existing documentation**
Add new documentation
Report a technical problem with the documentation
Other

Please provide the following information:

**Give a brief description of your request.**
This is a new feature slated for 2.1: Currently we have zoom level of 10 but we would need to further increase to 20.

**Which versions are affected?**
2.1

**Whic

[2022-06-07 00:07] KnowledgeGarden opened #673 "Setting number of shards and replicas in 2.0 needs to be documented"
**Is your feature request related to a problem? Please describe.**
The online documentation for the 1+ version is explicit on ways to configure number of shards and replicas.
The online documentation for the 2.0 version has no such example. Perhaps it is the case that setting those values was moved to some other API, but

- It's not at all easy to find by using search around the repo
- It's not do

[2022-06-07 12:28] prudhvigodithi commented on #631
Hey @setiah and @Naarcha-AWS , please check the following information:

Current DockerHub registries
[opensearchproject](https://hub.docker.com/u/opensearchproject)
 [opensearchstaging](https://hub.docker.com/u/opensearchstaging)

New ECR registries
[public.ecr.aws/opensearchproject](https://gallery.ecr.aws/opensearchproject/)
[public.ecr.aws/opensearchstaging](https://gallery.ecr.aws/opensearchst

[2022-06-07 17:14] hdhalter commented on #177
Hi Fanit, can you please try to tackle this issue? In addition to this request (that has been in our backlog for a while), there was a recent request in a Slack thread for documenting the data types: https://amzn-aws.slack.com/archives/C01L92M6Y92/p1654250558281419 chat. Let me know if you can't access it. Nate A. will support, as needed. Thanks!

[2022-06-07 18:06] opensearch-trigger-bot[bot] opened #652 "Use custom web map service(WMS) when unable access maps service"
**Is your feature request related to a problem?**
When Dashboard users want to use their own tiles map service by custom WMS at air-gapped region or VPC, the tiles map should be loaded properly.

**Do you have any additional context?**
The bug has been fixed at this PR
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1550.

[2022-06-07 18:59] #625 closed

[2022-06-07 18:59] kolchfa-aws commented on #625
Removed releases page and tags.

[2022-06-07 19:52] alicejw-aws commented on #632
Update:
PHASE I is complete. Updated spreadsheet is available in WorkDocs: [Documentation priorities.xlsx](https://amazon.awsapps.com/workdocs/index.html#/document/98496dc50ceaa7d1aa7f5f1df011ececda68d6449c3439e2acc4ff576a227bf5)
See Worksheet: Content Coverage Status - each item contains content coverage status and URL if content is available.

PHASE II: Survey is in-progress. Final responses due

[2022-06-07 20:55] kavilla commented on #642
Hello @hdhalter,

I believe this is targeted as 2.2 experimental feature.

cc: @ahopp, @ashwin-pc, @joshuarrrr, @cptnb

[2022-06-08 00:20] VachaShah opened #653 "[FEATURE] Add documentation for missing clients"
### Is your feature request related to a problem?
We have few clients which are not included in the documentation on the website. These clients are: [Rust](https://github.com/opensearch-project/opensearch-rs), [High Level Python](https://github.com/opensearch-project/opensearch-dsl-py) and [Ruby](https://github.com/opensearch-project/opensearch-ruby).

### What solution would you like?
Add documen

[2022-06-08 00:24] VachaShah opened #654 "[BUG] Update the java client version"
### What is the bug?
On the documentation page for the [java client](https://opensearch.org/docs/latest/clients/java/), it states that the client is still in beta phase. We have already released 1.0.0 and 2.0.0 for this client.

### How can one reproduce the bug?
https://opensearch.org/docs/latest/clients/java/

### What is the expected behavior?
Remove the beta phase banner and update the client

[2022-06-08 14:53] #128 closed

[2022-06-08 16:10] Naarcha-AWS commented on #648
@KnowledgeGarden: Could you provide more specific on what you mean? Trying to decide how we would adjust the documentation to account for REST changes.

Furthermore, what differences in behavior did you encounter before upgrading?

[2022-06-08 18:17] KnowledgeGarden commented on #648
I did not upgrade. I am building a de novo platform and noticed that the 1+ REST platform directs to the 2+ platform. I had already followed the instructions for adding shards and replicas values to a Settings builder; when I switched to the new maven dependencies, that builder was no longer available; I could not import that Settings class. I cannot find a similar class in the 2+ platform.

It se

[2022-06-08 18:43] Naarcha-AWS opened #656 "Add OpenSearch Style Guide"
Convert the OpenSearch style guide to markdown so that everyone has access.

[2022-06-08 21:46] KnowledgeGarden commented on #648
ExistsRequest is found in the opensearch-java dependency, which I loaded.
Now, maven talks about
opensearch-rest-high-level-client
and
opensearch-rest-client
both at version 2.0, and each with a different maven dependency
The instructions I followed called for opensearch-rest-client, which is the cause of loss of shards and replicas APIs which were there when I installeid opensearch-rest-high-leve

[2022-06-08 22:43] zhongnansu opened #658 "[BUG] OpenSearch Dashboards Vega Help - need to remove Help menu item"
**Describe the bug**

- <img width="1485" alt="image" src="https://user-images.githubusercontent.com/32652829/172729444-98aee7f1-c191-4dfb-87c8-01bd067d7dc8.png">

- Clicking that link leads to https://opensearch.org/docs/latest/dashboards/index/

- I know we may not have full documentation for any visualizations in OSD. Is there a meta issue for creating those documentation?

**To Reproduce**
Ste

[2022-06-08 22:56] krisfreedain commented on #616
@AMoo-Miki @hdhalter -

Miki - do you have time to check into this?

[2022-06-09 15:48] #654 closed

[2022-06-09 16:14] Naarcha-AWS commented on #607
@cliu123: Are there plans to update this convention at some point, considering we no longer refer to Dashboards as Kibana in OpenSearch?

[2022-06-09 16:19] Naarcha-AWS commented on #247
Considering the date of the request, I'm going to go ahead and close this issue for now. We've released so many updates to OpenSearch since the switch from OpenDistro that anyone using OpenDistro should consult newer documentation in OpenSearch.

Open to reopen this though, if anyone feels passionate about it.

[2022-06-09 16:19] #247 closed

[2022-06-09 16:29] Naarcha-AWS commented on #318
Relates to issue #653

[2022-06-09 16:42] cliu123 commented on #607
It was [decided](https://github.com/opensearch-project/opensearch-plugins/issues/17#issuecomment-847204447) not to rename index when creating OpenSearch.

[2022-06-09 18:52] Naarcha-AWS commented on #18
@Naarcha-AWS will validate the Port Numbers

[2022-06-09 18:55] alicejw-aws commented on #643
Duplicate issue - see [issue 582](https://github.com/orgs/opensearch-project/projects/22/views/1?filterQuery=assignee%3A%40me)

[2022-06-09 18:57] #643 closed

[2022-06-09 21:52] alicejw-aws commented on #632
Survey community members with a Forum post:  https://forum.opensearch.org/c/feedback/

Draft in-progress, will finalize post survey question, and get editor's review before we post it.

"Hello OpenSearch developer community members!
Could you help us identify which features you use now that are missing usage guides in our documentation set  [OpenSearch.org/docs/latest](https://opensearch.org/docs/

[2022-06-10 05:03] jmazanec15 opened #669 "[BUG] KNN parameter typo"
### What is the bug?
Related to https://github.com/opensearch-project/k-NN/issues/407, parameter name in https://opensearch.org/docs/latest/search-plugins/knn/knn-index/#ivf-parameters is nlist not nlists.

Also appears here: https://opensearch.org/docs/latest/search-plugins/knn/api/#usage-5.

Parameter is defined here: https://github.com/opensearch-project/k-NN/blob/main/src/main/java/org/opensea

[2022-06-10 20:03] dtaivpp commented on #649
@hdhalter I was actually just looking for documentation on this. From what I can see the maps documentation is missing from the whole website. I missed the doc that floated around for missing docs but I think this is a good candidate to make it to that backlog.

[2022-06-13 19:09] anirudha opened #671 "Add documentation for the .NET client[FEATURE]"
### Is your feature request related to a problem?
Add documentation for the .NET  client

https://www.nuget.org/profiles/opensearchproject

[2022-06-14 15:42] brijos opened #672 "[Documentation] Support ML node role"
Is your feature request related to a problem?
ML model generally consuming more resources, especially for training process. The community wants to support bigger ML models which might require more resources and special hardware like GPU.

As OpenSearch doesn’t support ML node, we dispatch ML task to data node only. That means if user wants to train a large model, they need to scale up all data nod

[2022-06-14 21:51] Zhangxunmt commented on #614
We need to update the official document for the recently refreshed stats API. The old one is https://opensearch.org/docs/latest/ml-commons-plugin/api/#stats, which is out of date.

[2022-06-14 21:51] hdhalter commented on #632
@alicejw-aws  - is this final or do you need sign-off by anyone else?

[2022-06-15 02:13] Yury-Fridlyand commented on #528
Some parameter values are case-sensitive - this should be mentioned as well.

[2022-06-15 15:28] hdhalter opened #674 "Backend - Point in Time Search"
What do you want to do?
Request a change to existing documentation
**Add new documentation**
Report a technical problem with the documentation
Other

**Give a brief description of your request.**
This is a new feature: Point in Time allows users to run different queries against the same fixed data set in time. Point in time only takes data into account up until the moment it is created. Hence, non

[2022-06-15 15:38] alicejw-aws commented on #632
@hdhalter - yes this is final - ready to post today.

[2022-06-15 17:16] #669 closed

[2022-06-16 12:08] rursprung opened #676 "[FEATURE] missing documentation on configuration: plugins.security.allow_default_init_securityindex"
### Is your feature request related to a problem?
this isn't a new feature, it has been around for a long time.

### What solution would you like?
the `plugins.security.allow_default_init_securityindex` config option must be documented. by default it's `false`. when set to `true` the configuration for the security plugin is loaded from the config folder on initial startup if the node can't find a

[2022-06-16 16:10] alicejw-aws opened #679 "New section: full-text queries - language analyzer usage & values"
### What is the bug?
Missing usage and list of acceptable values for language analyzer.

To do: add section to Full-text queries page for language analyzer options.

URL:
[Options](https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/#options)

[2022-06-16 17:24] alicejw-aws commented on #632
Posted to community forum: https://forum.opensearch.org/t/help-us-improve-our-docs/9958

General data capture plan:
1. check it daily for responses, and add to worksheet with list of new sections needed.
2. Add to spreadsheet - worksheet: Community requests.
3. Share with team in OS Docs Team folder.

[2022-06-16 17:37] Naarcha-AWS commented on #671
@anirudha: Will the .NET client be compatible with all versions of OpenSearch upon release?

[2022-06-16 18:04] #152 closed

[2022-06-16 18:11] Yury-Fridlyand opened #681 "[PROPOSAL] Implement automated validations in GitHub Actions"
### What are you proposing?
Automated content validation for:
* broken links
* missing pictures
* etc

On each Commit and/or Pull Request.

### How did you come up with this proposal?

1. Modify `build.sh` script just to build the website
2. Introduce new script which builds and launches the local web server (as `build.sh` acts now)
3. Create a GitHub Actions (GHA) workflow which will run `build.s

[2022-06-16 18:21] alicejw-aws commented on #632
PHASE II point 2 is complete: Survey results are organized into a spreadsheet:Missing topics list for OpenSearch docs,  Survey list of topics - sheet
Shared in OS Docs Team folder.
Note: we did not get the team to identify which features are exclusive to OpenSearch (i.e. Elastic does not provide).

[2022-06-16 19:12] jzonthemtn opened #682 "[BUG] Fix docker image name in Pipelines documentation"
### What is the bug?
The example command to run Data Prepper using docker at the bottom of https://opensearch.org/docs/latest/clients/data-prepper/pipelines/ has the wrong image name.

### How can one reproduce the bug?
Shown: `opensearchproject/opensearch-data-prepper:latest`

### What is the expected behavior?
Should be: `opensearchproject/data-prepper:latest`

[2022-06-16 22:49] hdhalter commented on #646
@Naarcha-AWS - I believe this has already been updated. Can you confirm? Thanks!

[2022-06-17 06:18] evs-xsarus commented on #464
@johns1342 the yaml's from my previous comment work when you remove 'working_dir'.

[2022-06-17 09:59] rursprung opened #684 "[FEATURE] document performance tuning options"
### Is your feature request related to a problem?
an out-of-the-box setup of OpenSearch might not perform very well depending on the use-case without proper tuning.

### What solution would you like?
provide some guidelines on how to tune OpenSearch for various setups:
* generic setup (roughly equal amounts of ingest & search requests)
* search heavy setup
* ingest heavy setup
* other common setup

[2022-06-17 16:52] alicejw-aws opened #687 "Fix incorrect query parameter description for CAT API"
**Problem:**
We need to be consistent with API parameter types and syntax.

* Path parameter - follows directly in the URL after the resource name. (e.g. to add “timeout” path parameter. Example:
    PUT <index-name>/timeout
* Query parameter - takes the “?” delineator before the parameter name. Example:
GET _cat/<operation_name>?v

Query parameters are listed in the CAT API page incorrectly as UR

[2022-06-17 19:40] #687 closed

[2022-06-17 19:40] alicejw-aws commented on #687
PR is merged/closing ticket.

[2022-06-17 19:41] #18 closed

[2022-06-19 12:54] swapnilsvaidya opened #1273 "[DOC] Getting exception while indexing document with user having role with document level security enabled"
**What is the bug?**
A clear and concise description of the bug.
I have created a user which is mapped with role having document level security enabled.
If I try to index the document through Bulkrequest using this user I get following exception:

[code]

After looking into the code, it seems DlsFlsValveImpl is trying to read the dls query related header from the request.
------Code snipper from D

[2022-06-20 01:48] prudhvigodithi opened #695 "[BUG] Securityadmin error: Not a valid protocol version: This is not an HTTP port."
**What is the bug?**
Running `/usr/share/opensearch/plugins/opensearch-security/tools/securityadmin.sh` on port `9300` throws error `Caused by: org.apache.http.ParseException: Not a valid protocol version: This is not an HTTP port`
Full Error log:
[code]
From 2.0 release notes I see Transport client is deprecated, however the [documentation](https://opensearch.org/docs/latest/security-plugin/confi

[2022-06-20 17:02] johns1342 commented on #464
hi @evs-xsarus, i don't see a working_dir in the v2 docker compose example @peterzhuamazon linked to.  fwiw your example config is using v1 images as well, which does work for me with the example config.

it appears [2.0.1](https://github.com/opensearch-project/OpenSearch/releases/tag/2.0.1) fixed this issue for me.  the only difference in the example is it's pulling 2.0.1 image instead of 2.0.0 i

[2022-06-20 22:07] Naarcha-AWS commented on #590
Looks like this has already been implemented in the security repository, if we look at issues open by the trigger bot: https://github.com/opensearch-project/documentation-website/issues/created_by/app/opensearch-trigger-bot.

@VachaShah: Should we add a couple more repositories for the bot to make issues against?

[2022-06-21 13:39] elfisher commented on #644
As an FYI, this got moved to 3.0.

[2022-06-21 15:07] Naarcha-AWS commented on #682
Thanks @jzonthemtn! Your PR is merged in.

[2022-06-21 15:07] #682 closed

[2022-06-21 18:25] Naarcha-AWS commented on #649
Let's indicate support for additional levels in the release notes, since we don't have maps documentation as of right now.

[2022-06-21 18:35] Naarcha-AWS commented on #672
Need to figure out if this is still relevant to 2.1.

[2022-06-21 18:41] Naarcha-AWS commented on #653
Issue for the Ruby client: #318

[2022-06-21 23:39] hdhalter commented on #118
In addition to adding this feature, can we add tracking as a measurement tool?

[2022-06-22 07:53] salacr commented on #695
Hi
I don't know if it's related but when I change the port to 9200 I get an error

"javax.net.ssl.SSLException: Unrecognized SSL message, plaintext connection?"

[2022-06-22 08:42] pawelw1 commented on #695
@prudhvigodithi I know that cross-cluster replication and search still using port 9300.

[2022-06-22 16:45] #656 closed

[2022-06-22 18:03] Naarcha-AWS commented on #606
This might end having some overlap with the work @kolchfa-aws is doing documenting all the Field Types (see issue #177).

[2022-06-22 18:16] #524 closed

[2022-06-22 23:00] tuxayo opened #767 "Document which OpenSearch versions are a drop-in replacement for which ElasticSearch versions"
### Is your feature request related to a problem? Please describe

To illustrate, I contribute to an application where some of our choices break compatibility with ES 6 (EOL) to get compatibility with ES 8.
And we need to know if OpenSearch 2 is a drop-in replacement for ES 8 or ES 7 because that *might* mean (maybe OpenSearch is more flexible on some things) that the same choice must be made to s

[2022-06-22 23:55] opensearch-trigger-bot[bot] opened #706 "[Dashboards]: Change to menu bars"
**Is your feature request related to a problem?**
A new feature has been added.

**What solution would you like?**
Document the usage of the new feature.

**What alternatives have you considered?**
N/A

**Do you have any additional context?**
See please
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1586.

[2022-06-23 01:15] opensearch-trigger-bot opened #707 "Add documentation related to new feature"
**Is your feature request related to a problem?**
A new feature has been added.

**What solution would you like?**
Document the usage of the new feature.

**What alternatives have you considered?**
N/A

**Do you have any additional context?**
See please
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1586.

[2022-06-23 15:26] #707 closed, assigned to nobody

[2022-06-23 16:14] Naarcha-AWS commented on #645
Turns out that Contribution Analysis and localization have already been added to ML-Commons per the linked PR. Closing this issue.

[2022-06-23 16:14] #645 closed

[2022-06-23 16:48] alicejw-aws commented on #528
quick note: tested out there is no "fuzzy_prefix_length" you use the prefix_length for a fuzzy query.
tested it:   "reason" : "[match] query does not support [fuzzy_prefix_length]",

[2022-06-23 17:32] ahopp commented on #493
Adding to what @nateynateynate has called out, I think we need documentation on all the .yml options for both OpenSearch and OpenSearch Dashboard. We have issues like [this ](https://github.com/opensearch-project/OpenSearch-Dashboards/issues/1406) that pop up fairly often and we can find the associated reference (i.e., console.enabled: false) in the docs site.

[2022-06-23 18:48] Naarcha-AWS commented on #531
https://quip-amazon.com/24daAPTLn6xt/Readmemd-DRAFT

[2022-06-24 17:32] Yury-Fridlyand commented on #528
Hi @alicejw-aws,
Thank you for your reply.
`cutoff_frequency` is deprecated, please see OpenSearch sources:
https://github.com/opensearch-project/OpenSearch/blob/main/server/src/main/java/org/opensearch/index/query/MatchQueryBuilder.java#L61-L72

[2022-06-24 20:52] Naarcha-AWS commented on #603
Sounds good @hdhalter

[2022-06-24 21:08] alicejw-aws commented on #528
ok thanks @Yury-Fridlyand for providing the confirmation that they are deprecated.
I'll update the document accordingly.
I had tested cutoff_frequency in a Dashboard query, and it worked/no errors so i thought it was still active.

[2022-06-24 21:18] alicejw-aws commented on #632
List of features exclusive to OpenSearch is now complete.
1. See quip with description - [OpenSearch exclusive features](https://quip-amazon.com/rO8DAmkugkhe/OpenSearch-exclusive-features-Elastic-does-not-provide)
2. See worksheet with list of topics and doc URLs - [Topics exclusive to OpenSearch](https://quip-amazon.com/lxATAzVrISbB/Missing-topics-list-for-OpenSearch-docs#temp:C:KfMfea11f0cc0a98c

[2022-06-24 22:20] hdhalter commented on #616
@krisfreedain - Hi Kris, the nav pane works, but before we mreget the code, can you please check the code snippet? We had to hard code the forum string, so wondering if that is ok as is, or if there is a better way to represent that? Thanks!

[2022-06-24 23:41] hdhalter commented on #632
Great job, Alice! Thanks!

[2022-06-24 23:53] Flyingliuhub opened #721 "[SAML] SAML document page outdated"
### What is the bug?
I followed the sample [steps](https://opensearch.org/docs/latest/security-plugin/configuration/saml/) to run SAML, I cannot login SAML login page with `Log in as admin with a password of admin`

### How can one reproduce the bug?

1. Download and unzip [the example ZIP file](https://opensearch.org/docs/latest/assets/examples/saml-example.zip).
2. At the command line, run docke

[2022-06-27 17:53] kavilla commented on #706
This feature will be released for `2.1`

[2022-06-27 17:55] JeffH-AWS opened #723 "[BUG] Broken links in api.md, monitors.md and cat*.md"
### What is the bug?
When building the site locally with Jekyll, several links are reported as "dead."

[code]

### How can one reproduce the bug?
Build the site locally using Jekyll (build.sh)

### What is the expected behavior?
Links should be accurate and should not contain typos

### What is your host/environment?
MacOS 12.4

### Do you have any screenshots?
No - see code snippet above

### Do

[2022-06-27 18:41] Naarcha-AWS commented on #530
Remember to assign to Chris.

[2022-06-27 18:43] Naarcha-AWS commented on #507
Assign to Melissa.

[2022-06-27 18:48] Naarcha-AWS commented on #318
Assign to Melissa.

[2022-06-27 21:10] JeffH-AWS opened #724 "[FEATURE] This is a test issue!"
### Is your feature request related to a problem?
This is a description

### What solution would you like?
Better.

### What alternatives have you considered?
_A clear and concise description of any alternative solutions or features you've considered._

### Do you have any additional context?
_Add any other context or screenshots about the feature request here._

[2022-06-27 21:32] JeffH-AWS commented on #724
Closing out - this issue was strictly for test/demo.

[2022-06-27 21:32] #724 closed

[2022-06-27 22:09] #723 closed

[2022-06-27 22:14] brijos opened #728 "[FEATURE] Provide Guidance on Logstash and Beats in Documentation"
### Is your feature request related to a problem?
When reviewing https://opensearch.org/docs/latest/clients/agents-and-ingestion-tools/index/ I know that Beats versions higher than 7.12 are not compatible with sending content directly to OpenSearch. If I've already updated my Beats agents, I feel stuck and need to ask in the forums for assistance.

### What solution would you like?
Update the [Com

[2022-06-28 09:48] mpfz0r opened #730 "Certificates should be generated with SubjectAltNames"
### What is the bug?

The docs over here advise to create certificates which only contain a common name (CN):

https://opensearch.org/docs/latest/security-plugin/configuration/generate-certificates/

Some http clients don't check for the CN anymore.
e.g. https://github.com/square/okhttp/issues/4966#issuecomment-484569295

### How can one reproduce the bug?
Create certificates following the documen

[2022-06-28 14:39] rursprung opened #731 "[FEATURE] add missing documentation for batch mode documentation of opensearch-plugin install"
### Is your feature request related to a problem?
`opensearch-plugin install` has a `--batch` / `-b` parameter which is currently undocumented.

### What solution would you like?
the parameter must be documented.

### What alternatives have you considered?
as it already existed in ES 7.10.2 their documentation can be used as a reference for now...

### Do you have any additional context?
see the E

[2022-06-28 14:51] hdhalter commented on #616
Header is fixed and working as expected: https://opensearch.org/docs/latest
I need to update the footer file before closing.

[2022-06-28 23:13] hdhalter commented on #706
@kavilla  - Is there any impact to documentation, other than a release note? Thanks.

[2022-06-29 15:54] lukas-vlcek commented on #731
@rursprung One note, even if this feature has been documented in Elasticsearch prior to license change the documentation for OpenSearch needs to be a brand new writing.

[2022-06-29 16:28] JeffH-AWS commented on #436
I picked this up.  Just need to identify the best location (or locations) to include this.

[2022-06-29 17:43] JeffH-AWS commented on #436
Based on feedback from Naarcha-AWS this would make sense under the FAQ (https://opensearch.org/faq/) and under About OpenSearch (https://opensearch.org/docs/latest/opensearch/index/).

[2022-06-29 23:01] kavilla commented on #706
Hello @hdhalter,

I believe this page should reflect the updated config: https://opensearch.org/docs/latest/dashboards/branding/

[2022-06-30 19:09] Naarcha-AWS opened #741 "Add override setting back to 2.0"
## What do you want to do?

- [x] Request a change to existing documentation

## Tell us about your request.

The version override cluster setting was set to be removed in 2.0, until it was added back in (https://github.com/opensearch-project/OpenSearch/pull/3530#issuecomment-1150161108). Let's undo the change and add the setting back to Agents and Ingestion tool page.

## Do you have any related

[2022-06-30 20:02] #607 closed

[2022-06-30 21:29] ylwu-amzn commented on #672
Yes, we are going to release this in 2.1.0.

[2022-06-30 22:37] setiah opened #745 "[DOC-META] Migration and upgrade documentation"
## Description

This is a Meta issue to track any gaps in documentation for Migrations to OpenSearch. Since Migrations is a broad topic, this meta issue would be helpful in capturing and linking back all migration related documentation pieces together at one place.

The scope of Migration includes but is not limited to -
* Migration from previous Elasticsearch versions to any OpenSearch version
*

[2022-07-01 00:16] jimishs opened #746 "[FEATURE] Request to add documentation to enable audit logs and compliance configuration using APIs"
### Is your feature request related to a problem?
Audit logs and compliance configuration requires the user to enable it in Dashboards

### What solution would you like?
Users should be able to use the API to enable the same

### What alternatives have you considered?
There is no alternative

### Do you have any additional context?
See attached screenshot
<img width="1535" alt="Screen Shot 2022-06

[2022-07-01 15:36] Naarcha-AWS commented on #746
Thanks for the issue @jimishs! I'm assuming the security plugin must be enabled in order to test this properly?

[2022-07-01 15:42] Naarcha-AWS commented on #745
@setiah: Do we have any resources to help us get started on the migrations you identified, or a POC who could give one of the writers a demo of how it works?

[2022-07-01 17:09] Naarcha-AWS commented on #419
Here's a potential reorder for the major side-nav topics, as discussed by @hdhalter and I.

- Overview
- Installation and configuration
- Migration
- Security
- Index and Ingestion
- OpenSearch Dashboards
- Observability
- Search and Query
- Availability and Recovery
- Manage, Monitor, Tune
- ML
- Clients
- Tools
- REST API reference
- Developer guides (for contribution)

Any thoughts?

[2022-07-01 17:24] #741 closed, assigned to JeffHuss

[2022-07-01 18:47] hdhalter opened #751 "[DOC-META] Dashboard Documentation"
What do you want to do?

Make a change to existing documentation
**Add new documentation**
Report a technical problem with the documentation
Other

**Give a brief description of your request.**
We need to build the documentation for OpenSearch Dashboards.

**Which versions are affected?**
We'll start with version 2.0. We should keep an eye on any differences between 2.0 and 1.3. If there are no di

[2022-07-01 18:48] hdhalter commented on #751
Assign to Melissa once she gets access to Github.

[2022-07-01 18:57] setiah commented on #745
Thanks @Naarcha-AWS for picking this up. There are a couple of good blogposts resources that should help you get started. These have a lot of details on  ODFE to OpenSearch and Elasticsearch to OpenSearch migrations. We don't have a dedicated person on migrations yet but if you get stuck, I can help or we can seek help from OpenSearch team by creating an issue on OpenSearch/respective plugin repo

[2022-07-01 21:17] kolchfa-aws opened #752 "Add more info to Geo Shape field type"
### Is your feature request related to a problem?
Geo shape is not documented completely.

### What solution would you like?
Add more info to geo shape field type.

[2022-07-01 22:33] kolchfa-aws opened #754 "Add completion field type query examples"
### Is your feature request related to a problem?
Completion field type should have query examples.

[2022-07-01 22:54] tmccombs opened #755 "[BUG] Update documentation doesn't mention upserts"
### What is the bug?
The documentation at https://opensearch.org/docs/2.0/opensearch/rest-api/document-apis/update-document/ doesn't mention the upsert functionality, or using `doc_as_upsert`.

the `upsert` option is mentioned on https://opensearch.org/docs/1.1/opensearch/index-data/, but I can't find any reference to `doc_as_upsert`. Although, if it is compatible with elasticsearch 7.10 it should

[2022-07-05 16:19] dblock opened #756 "[FEATURE] Document custom folders"
### Is your feature request related to a problem?

Document changes in https://github.com/opensearch-project/OpenSearch/pull/848

[2022-07-05 18:39] hdhalter commented on #531
Merged the second part of this issue: Removed Partners from the footer.

[2022-07-05 18:52] JeffH-AWS commented on #436
After reviewing a bit more it made more sense to add the note under the Install landing page (https://opensearch.org/docs/latest/opensearch/install/index/) rather than under About OpenSearch, where the context didn't seem to fit.

[2022-07-06 16:16] #614 closed

[2022-07-06 16:39] peternied commented on #530
@cwillum This issue also documents several other APIs that are missing documentation.  Would it make sense to keep this issue open or migrate those other APIs in another issue?

[2022-07-06 18:43] cwillum commented on #530
@peternied Good question. I ran this by the team earlier and the consensus was that it would be better to break the APIs into separate issues. There should be advantages to tracking them separately.

[2022-07-06 19:03] peternied commented on #530
Gotcha - until we have those issues file could we keep this open, and went we have them all we close this issue?

[2022-07-06 19:35] #706 closed

[2022-07-06 20:26] #528 closed

[2022-07-06 21:12] cwillum commented on #530
Will close this issue again once there are separate issues for the other APIs mentioned above. Those can be referenced back to this issue.

[2022-07-06 21:30] #582 closed

[2022-07-06 21:58] macrakis opened #766 "Plugin installation page should xref Docker installation page [BUG]"
### What is the bug?
The "OpenSearch plugin installation" page (https://opensearch.org/docs/latest/opensearch/install/plugins/) doesn't mention the procedure for Docker installations, which is documented in the "Docker image" page (https://opensearch.org/docs/latest/opensearch/install/docker/) under the (not very helpfully titled) "Customize the Docker image" subhead.

### How can one reproduce th

[2022-07-06 23:48] lizsnyder commented on #767
This is not something that we should be doing. When we forked Elasticsearch and created OpenSearch, we effectively disassociated from that product and became our own product with our own feature development timelines and milestones. We do not want to give the impression that we're trying to imitate any of the features or functionality that Elastic is building on ES, even if some of our own solutio

[2022-07-06 23:48] #767 closed

[2022-07-07 17:11] JeffH-AWS commented on #728
This will need two pull requests - one against the FAQ, which is under the project-website repo, and one for the modification of the compatibility table + a note about Beats versions.

[2022-07-07 18:19] #647 closed

[2022-07-07 18:22] opensearch-trigger-bot[bot] opened #781 "Add documentation related to new feature"
**Is your feature request related to a problem?**
A new feature has been added.

**What solution would you like?**
Document the usage of the new feature.

**What alternatives have you considered?**
N/A

**Do you have any additional context?**
See please
https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1200.

[2022-07-07 18:36] Naarcha-AWS commented on #781
@kavilla: Could we get a few more details on this one?

[2022-07-07 20:08] JeffH-AWS commented on #728
Pinged requester for clarification. Awaiting response before proceeding.

[2022-07-08 03:48] zehonghuang opened #786 "[Security Plugin] The `root_ca` property for Open ID configurations isn't documented"
https://github.com/opensearch-project/security-dashboards-plugin/blob/5e4004fbb7195f5a5f9f7ded14ea7ea49dadecaa/server/auth/types/openid/openid_auth.ts#L115

I have expended efforts to solve just because `this.config.openid.root_ca` display no in documentnation.
Using https keycloak-openid maybe occur `OpenId authentication failed: Error: Client request error: unable to get issuer certificate`.

So

[2022-07-08 16:32] JeffH-AWS commented on #745
I'm currently going through the exercise of standing up a dev environment so I can validate installation steps and recommendations as I go.  Planning to start digging in to this in depth next week.

[2022-07-10 02:08] tuxayo commented on #767
Thanks for the answer. So if I understand correctly, OpenSearch isn't mean to stay a drop-in replacement. (1.x was for ES 7.x I suppose) Now it's living it's own life.

[2022-07-10 18:19] lizsnyder commented on #767
@tuxayo that's correct. OpenSearch 1.0 is a fork of 7.10, but we did add some new features/functionality: https://github.com/opensearch-project/opensearch-build/blob/main/release-notes/opensearch-release-notes-1.0.0.md

From there the projects diverged.

[2022-07-11 18:33] Naarcha-AWS opened #788 "Add API template"
Transfer the [API format](https://quip-amazon.com/l2FdAJWSVLap/OpenSearch-Style-Guide-API-sections-and-formats) into markdown, inside a `Templates` directory.

[2022-07-11 19:03] JeffH-AWS opened #789 "[DOC-META] Installation guide refactor + recommended config (Tarball, Docker, Yum, RPM)"
## What do you want to do?

Current documentation does not clearly provide all of the steps required for standing up OpenSearch and OpenSearch Dashboards, whether the installation is performed using Docker or manually by inflating and configuring the tarball archive.

This will also require moving things within the docs so they make more sense in their given context.  Sub-tasks will be defined as

[2022-07-11 21:02] nateynateynate opened #790 "[DOC] Enumerate Filters and Tokenizers AVailable"
### Is your feature request related to a problem?
We're missing a piece of documentation regarding what filters and tokenizers are available on OpenSearch.

### What solution would you like?
_A new documentation page with a table that enumerates the available tokenizers and filters are available_

### Do you have any additional context?
https://forum.opensearch.org/t/built-in-filters-and-tokenizer

[2022-07-11 21:28] hdhalter opened #791 "Lucene implementation for approximate k-NN search"
See https://github.com/opensearch-project/k-NN/issues/39

[2022-07-11 21:32] hdhalter opened #792 "[Doc] Rollups enhancements"
See https://github.com/opensearch-project/index-management/issues/408

[2022-07-11 21:37] hdhalter opened #793 "[Doc] Anomaly Detection: Add feature attribution and expected value to detector details"
See https://github.com/opensearch-project/anomaly-detection/issues/299

[2022-07-11 23:04] hdhalter opened #794 "[Doc] Maps: Custom GeoJson Support in Region Maps"
See https://github.com/opensearch-project/OpenSearch/issues/831

Support custom vector map/ GeoJson:

Today, we provide basic map tiles and standard vector map as part of MaRS service. While OpenSearch Dashboard allows you to configure a base map tiles using WMS map server, it does not let you configure a server to support user defined vector map layers. We do not support an exhaustive list of vec

[2022-07-11 23:07] hdhalter opened #795 "[Doc] Server-side rejection of search requests based on resource"
RFC- https://github.com/opensearch-project/OpenSearch/issues/1329
Tracking issue- https://github.com/opensearch-project/OpenSearch/issues/1181
POC's: Prabhu Senthamarai, Suresh N S, Ketan Verma, Pritkumar Ladani

[2022-07-11 23:28] hdhalter opened #796 "[Doc] AD Anywhere"
See https://github.com/opensearch-project/anomaly-detection/issues/521

To help address this disconnect between Visualizations and AD, we propose an integrated solution that allows users to quickly create, run and view anomaly results from a Visualization. For certain Visualizations, users can utilize the effort they've already provided to visualize the data they’re interested in (source data, met

[2022-07-12 20:41] cwillum commented on #721
@opensearch-project/security The custom-opensearch-dashboards.yml file contained in the downloaded zip file includes opensearch.username and opensearch.password properties that specify "kibanaserver" values. Is there a connection with the "admin" credentials users are told to use in documentation?

[2022-07-12 21:09] hdhalter commented on #795
@JeffH-AWS  - Hi Jeff, do you mind taking this one? It involves measuring shard resource consumption when running search related tasks. Thanks.

[2022-07-12 21:11] JeffH-AWS commented on #795
Sure - is there a specific ask/scope defined somewhere?  I'm not really sure what is being requested specifically.  Seems super broad.

[2022-07-12 21:21] peternied commented on #721
@Flyingliuhub Could you post the modifications to your configuration?

I tested the example with no modifications and it worked with `admin:admin` to get access, confirm by logging in and seeing the user information populated through the saml server

![image](https://user-images.githubusercontent.com/2754967/178597337-9ca1181d-a1b7-4d34-acfd-00146d6d2ce9.png)

[2022-07-12 21:24] peternied commented on #721
@cwillum The docker images created by OpenSearch contain a [demo scripts](https://github.com/opensearch-project/security/blob/main/tools/install_demo_configuration.sh) installer that copies many default such as [kibanaserver](https://github.com/opensearch-project/security/blob/main/config/internal_users.yml#L27) into the image.  The only connection to the admin credentials as mentioned is that are

[2022-07-12 21:27] hdhalter commented on #794
Here's a pull request that pertains to this issue: https://github.com/opensearch-project/OpenSearch-Dashboards/pull/1718

[2022-07-12 21:34] cwillum commented on #721
@peternied Explanation appreciated. Thank you.

[2022-07-12 21:45] Flyingliuhub commented on #721
I deployed without modifications. did you successfully login with admin:admin in the following saml redirect from local saml server ?

<img width="801" alt="image" src="https://user-images.githubusercontent.com/33105471/178600914-a2ba0999-0bcc-4c96-8236-9d9085be6df6.png">

[2022-07-12 22:16] peternied commented on #786
Based on the name and usage, its a path to a root certification authority file, in a `pem` format.  AFAIK it should follow the same usage patterns we have in security around other root CA certificates.  See additional background from https://opensearch.org/docs/latest/dashboards/install/tls/ that looks like it should align with this usage.

[2022-07-12 22:18] peternied commented on #721
Yes I did, could you check the log output from any of the docker image to see if there are any errors establishing the connections between the containers?

[2022-07-13 00:40] cwillum commented on #786
If this property is used for certificate validation using OpenID, it's not clear to me how ```root_ca``` would differ from ```pemtrustedcas_filepath``` (described as "Absolute path to the PEM file containing the root CAs of your IdP."). Should ```root_ca``` specify a different path?

[2022-07-13 02:35] zehonghuang commented on #786
Actually, they are the same file, but used in different places. Kibana verify OpenID TLS with `root_ca`.

[2022-07-13 02:35] zehonghuang commented on #786
Actually, they are the same file, but used in different places. Kibana verify OpenID TLS with `root_ca`.

[2022-07-13 15:18] hdhalter commented on #794
Hi @alicejw-aws , are you able to take this one? Thanks.

[2022-07-13 15:39] hdhalter commented on #649
Sounds like they are bumping this up to x14 for version 2.2.

[2022-07-13 21:59] kolchfa-aws commented on #754
Part of #177

[2022-07-13 22:00] kolchfa-aws commented on #754
Added to #712

[2022-07-13 22:00] #754 closed

[2022-07-13 22:03] #752 closed

[2022-07-14 02:25] zehonghuang commented on #786
I think names should at least be consistent, and documented.  :p

[2022-07-14 16:13] Naarcha-AWS commented on #795
@JeffH-AWS: Scope and ask still TBD. There's active development going on for [Task Consumer Integration](https://github.com/opensearch-project/OpenSearch/pull/2293), however, we'll have to wait till the PR is merged in to start documenting it.

[2022-07-14 19:16] #590 closed, assigned to Naarcha-AWS, hdhalter

[2022-07-14 19:16] #436 closed

[2022-07-14 19:30] kolchfa-aws opened #802 "[BUG]Remove </tr> from plugins"
### What is the bug?
There is an extra </tr> in the plugins.md file

[2022-07-14 21:50] #802 closed

[2022-07-15 15:54] peternied commented on #786
@cwillum I've started a discussion to try to get help looking into this issue, follow up at https://github.com/orgs/opensearch-project/teams/security/discussions/3

[2022-07-15 16:01] Naarcha-AWS opened #806 "[Doc] RFCSummarize clustering"
## What do you want to do?

- Add new documentation about RFCSummarize

## Tell us about your request.

This future feature adds the RCFSummarize algorithm developed by CURE. When testable, create a section in [Supported Algorithm](https://opensearch.org/docs/latest/ml-commons-plugin/algorithms/), and add examples for the algorithm.

## Do you have any related resources to help us get started?

-

[2022-07-15 16:05] #605 closed

[2022-07-15 19:00] hdhalter commented on #795
Sounds good! Feel free to close this as duplicate.

[2022-07-15 19:53] alicejw-aws commented on #794
Ready for tech review from engineers.

Hi @vamshin and @Shivamdhar, could you please take a look at this Draft PR for the documentation and let us know if you have any feedback. thanks
https://github.com/opensearch-project/documentation-website/pull/807

[2022-07-15 19:55] alicejw-aws commented on #794
Here are some screen shots of a local doc build - for review purposes.
![geoJson 1](https://user-images.githubusercontent.com/88908598/179301266-830fd2ef-6a87-4ed9-887f-f92ac6191dae.png)
![geoJson 2](https://user-images.githubusercontent.com/88908598/179301275-8220b441-04e6-4acd-861a-39102dc50e9d.png)
![geoJson 3](https://user-images.githubusercontent.com/88908598/179301277-f4b05426-3e2f-4d53-9bc2

[2022-07-15 20:38] alicejw-aws commented on #788
Hi @cwillum, I have a basic API page template in markdown if you want to use or modify it in this PR: [808](https://github.com/opensearch-project/documentation-website/pull/808)

The guidelines you are also converting to markdown could be a good complement, or if you want to merge them together.
Thanks,
Alice

[2022-07-15 21:41] Shivamdhar commented on #794
Can we please add the following screenshot instead (for "Import Vector Map" tab):

<img width="408" alt="Screen Shot 2022-07-15 at 2 34 21 PM" src="https://user-images.githubusercontent.com/9303427/179314296-7709ff73-c18e-416f-b7ac-8d5009be7520.png">

Also, do we have to specify that plugins (frontend plugin: https://github.com/opensearch-project/dashboards-maps, backend plugin: https://github.com

[2022-07-15 22:29] hdhalter opened #809 "[Doc-Meta] Redesign of Documentation Website"
The [OpenSearch.org](https://opensearch.org/docs/latest) documentation website does not raise the bar when compared to other open-source documentation websites. As we continue to grow our documentation library, we need to make sure it is built to scale, and also provides a delightful experience.

Improvement ideas:
- [ ] Update the summary information
- [ ] Update the rest of the content on the do

[2022-07-15 22:29] hdhalter opened #810 "[Doc-Meta] Redesign of Documentation Website"
The [OpenSearch.org](https://opensearch.org/docs/latest) documentation website does not raise the bar when compared to other open-source documentation websites. As we continue to grow our documentation library, we need to make sure it is built to scale, and also provides a delightful experience.

Improvement ideas:
- [x] Update the summary information
- [x] Update the rest of the content on the do

[2022-07-15 22:35] kolchfa-aws commented on #794
@Shivamdhar: I changed the image. I will also add a statement on setup as you described. Could you please go over the PR #807 and leave your comments in case anything is incorrect? Also, do you have a link to the testing environment for this? Thanks!

[2022-07-15 22:48] #809 closed

[2022-07-18 13:38] kolchfa-aws opened #812 "[BUG]Terms.md wording"
### What is the bug?
Terms.md says "server writes requests", while it should be "server routes requests".

[2022-07-18 17:03] #812 closed

[2022-07-18 20:33] brijos opened #814 "[DOC] AWS Sigv4 Support for Clients"
### Is your feature request related to a problem?
If people want to connect to an Amazon OpenSearch Service cluster, they have to figure out how to use this client alongside some third-party signing library and/or the AWS SDK, which is non-trivial due to how we (by design) conceal the underlying HTTP requests that the client makes. We should offer IAM signing as an option, just like the OpenSearch

[2022-07-18 20:42] brijos opened #815 "[Blog] AD Benchmarking Blog"
### Is your feature request related to a problem?
Over the course of the Anomaly Detection plugin, we have made several improvement to improve the plugins speed, resource consumption and accuracy. In order to better tell this story to our customers and to have numbers to back these claims we will be starting a series of experiments that will establish how AD has improved.

### What solution would

[2022-07-18 23:45] cwillum opened #816 "[DOC-META ] Security Plugin Documentation"
## What do you want to do?
This issue covers multiple items raised by the security team that need attention in Security Plugin documentation. The items include topics that are missing completely from security documentation as well as topics that already exist but are in need of more detail or clarification. The overall objective is to make it easier for users to get up and running with the various

[2022-07-19 08:54] nikhilreddie opened #817 "[BUG]Wrong permissions mentioned in doc for "cross_cluster_replication_leader_full_access" role"
### What is the bug?
Wrong permissions are mentioned in document[1] for "cross_cluster_replication_leader_full_access" role. The permissions mentioned in doc are as below

[code]

But the permissions required for that role is as below:

[code]

[1] https://opensearch.org/docs/latest/replication-plugin/permissions/#replication-permissions

[2022-07-19 09:41] pratikshavyas commented on #695
Hi @Naarcha-AWS
Is this issue related to https://forum.opensearch.org/t/securityadmin-sh-errors-when-connecting-opensearch-through-http/9806 ?
Here it is mentioned that "It is needed to enable SSL on HTTP to get securityadmin.sh working."
If this issue is related to this thread and I see that it is marked as bug and milestone is added as 2022-Q3, then can you please share plan on fixing this and w

[2022-07-19 17:38] JeffH-AWS commented on #631
@setiah  Is the ask here just to let users know that they can pull down the container image from multiple origins?  Or are we replacing the Docker repo with pointers to the ECR repo?

[2022-07-19 20:14] JeffH-AWS opened #819 "[BUG] Document task consumer integration"
Issue:  https://github.com/opensearch-project/OpenSearch/issues/1009
PR:  https://github.com/opensearch-project/OpenSearch/pull/2293

[2022-07-19 20:43] JeffH-AWS commented on #815
Pinged brijos@ on this - this is a work in progress and scope/output hasn't been defined.  Will revisit once it's ready to be worked.

[2022-07-20 02:08] hdhalter commented on #806
Hi Nate, I spoke with Charlie and this feature is going out in 2.2. I updated the label. He will be in touch about the details.

[2022-07-20 08:43] ashwin-pc opened #820 "[Doc] Visualizations: Experimental Drag & Drop editor for visualizations"
## What do you want to do?

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

For example, what feature or area does it affect? What versions? If it’s a change to existing documentation, which pages (URLs) are affected?

We are releasing a new feature in the visualize app

[2022-07-20 14:36] coffeegalaxy opened #822 "[BUG] the securityadmin.sh returns no options in 2.1 or 2.0 like it did in Opensearch 1.3."
### What is the bug?
_A clear and concise description of the bug._
In Opensearch 1.3 the ./securityadmin.sh with no options would show available options to use via the cli.
In Opensearch 2.0 and 2.1 the ./securityadmin.sh returns no options to use.
It also states the tool will be deprecated in the next major release.
What is replacing this tool and what should be used now.
I have read the document

[2022-07-20 17:36] Naarcha-AWS commented on #820
@ashwin-pc: Which versions are affected by this new feature?

[2022-07-20 17:38] setiah commented on #631
It is to let users know that they can pull down the container images from multiple origins

Also adding related issue on project-website repo for reference - https://github.com/opensearch-project/project-website/issues/862

[2022-07-20 18:02] ashwin-pc commented on #820
Dashboards version 2.2 and beyond

[2022-07-20 18:05] ashwin-pc commented on #642
Additional references:

Proposal: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/883
Design: https://github.com/opensearch-project/OpenSearch-Dashboards/issues/896

[2022-07-20 18:05] ashwin-pc commented on #820
Looks like we already have an issue for this #642.

[2022-07-20 18:14] dblock opened #823 "[BUG] what does circuitbreaker configuration have to do with JS client?"
### What is the bug?

Reading https://opensearch.org/docs/latest/clients/javascript/#circuit-breaker I don't quite understand how it relates to the JS client.

### What is the expected behavior?
Didn't expect to find this section here, or expected it to explain what it has to do with the JS client.

[2022-07-20 19:33] Naarcha-AWS commented on #814
@lizsnyder: Do you have any perspective on this? What's the best way to test against the OpenSearch Service.

[2022-07-20 19:39] Naarcha-AWS commented on #823
@dblock: Where would you have expected to find this documentation?

[2022-07-20 19:54] #631 closed

[2022-07-20 20:14] ashwin-pc commented on #492
@dblock Those are very good callouts. To your points:

1. Yes docs should be tied to branching in a way, but the docs i referring to are tied closely to the release version and not the branch specifically. And since we follow semver, within a major version we should not have changes that vary branch to branch. A good example of this is the API's, plugins available, high level system architecture.

[2022-07-20 20:21] #820 closed

[2022-07-20 20:21] Naarcha-AWS commented on #820
I'm going to go ahead and close this in favor of #642

[2022-07-20 20:28] lizsnyder commented on #814
Looks like this text was directly copied from Andrew's requests:

- https://github.com/opensearch-project/opensearch-js/issues/187
- https://github.com/opensearch-project/opensearch-java/issues/55
- https://github.com/opensearch-project/opensearch-py/issues/85

Not sure why it was filed again here. This is not a docs issue. It must be implemented in the clients themselves. Closing.

[2022-07-20 20:28] #814 closed

[2022-07-20 20:32] JeffH-AWS commented on #695
Looking in to this.  The security script invokes https://github.com/opensearch-project/security/blob/main/src/main/java/org/opensearch/security/tools/SecurityAdmin.java which seems to indicate that the default port is 9200.

@pratikshavyas this issue is filed against the documentation.  Can you please help me understand what you mean when you ask "can you please share plan on fixing this and what

[2022-07-20 20:32] #646 closed

[2022-07-20 21:24] dblock commented on #492
I don't have any objections to creating a plugin development handbook part of https://github.com/opensearch-project/documentation-website.

The generated docsite should be easy and you can make it now, check out https://acm19.github.io/aws-request-signing-apache-interceptor/ for https://github.com/acm19/aws-request-signing-apache-interceptor.

[2022-07-20 23:02] brijos commented on #814
This would have been an issue to update Documentation for when we have completed support for sigv4 for all clients. Is there another mechanism that I should be using?

[2022-07-20 23:41] cwillum commented on #791
The new title for this issue reflects a pivot from using a new vector field type to implementation of Lucene HNSW for extending "Approximate Nearest Neighbor" search.

[2022-07-20 23:46] model-collapse commented on #806
@Naarcha-AWS, we are going to provide release this feature in 2.2 and following will be included in the doc:
1) Brief introduction to the algorithm background, (similar to K-Means)
2) Advantage comparing to K-Means. (Will give you some material on this)
3) API description. (RESTful example)

[2022-07-21 14:06] elfisher opened #826 "[FEATURE] Add LogisticRegression algorithm to ML Commons"
### Is your feature request related to a problem?
We are adding to add a classification algorithm in OpenSearch ml-common plugin. Customers can use this algorithm to train a LogisticRegression model using their data indexed in openSearch clusters, and make predictions to help them make binary classification decisions.

We would like to get this documented with the 2.2 release.

### Do you have any

[2022-07-21 15:12] hdhalter commented on #795
I'm switching the label from 2.2 to 2.3, as discussed in the project roadmap meeting.

[2022-07-21 15:39] hdhalter commented on #792
Feature Review is 7/22

[2022-07-21 15:46] hdhalter commented on #642
Hi Melissa, the Feature Review meeting for this is 7/26 11 a.m. PDT.

[2022-07-21 16:49] lizsnyder commented on #814
Copying from external convo:

I've updated Python here and am collaborating with someone to get the Java sample updated (since I don't write Java) https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html

I've implemented some temporary signers in the Node samples until we have an official built-in one. You can read more in the actual ticket l posted above

At this

[2022-07-21 17:23] dblock commented on #823
@Naarcha-AWS under cluster settings? I am totally confused of what a cluster setting has to do with the javascript client, what am I missing?

[2022-07-21 18:45] #794 closed

[2022-07-21 18:52] Naarcha-AWS commented on #671
Break this up into these issues:

- [ ] High-level OSC installation/getting started  (addressed by this issue)
- [ ] Low-level .NET installation/getting started
- [ ] OSC Best practices
- [ ] Low-level Best practices

[2022-07-21 19:34] robdasilva commented on #823
From what this setting affects in regards to the current organization of the documentation, I would have expected this piece of information somewhere in this document: https://github.com/opensearch-project/documentation-website/blob/main/_opensearch/cluster.md

[2022-07-21 19:39] robdasilva commented on #823
@dblock Also the section seems to be (at least) partially incorrect, as the `POST` verb seems to not be allowed on `_cluster/settings`:
[code]

Should be `PUT` if I am not mistaken.

[2022-07-21 20:17] robdasilva commented on #823
Was confused there for a second, since the section mentions the cluster settings, but actually describes a client transport option: https://github.com/opensearch-project/opensearch-js/blob/main/lib/Transport.js#L88

It's intention is described in a comment where this option is used: https://github.com/opensearch-project/opensearch-js/blob/main/lib/Transport.js#L332-L338

There are also circuit bre

[2022-07-21 20:57] #672 closed

[2022-07-21 21:03] Naarcha-AWS commented on #823
@robdasilva: That makes sense. Thank you for the explanation. From a user perspective, would this mean that the user would need to modify the "Transport.js" file before installation the JS client to properly set their Breaker settings?

[2022-07-21 21:41] robdasilva commented on #823
@Naarcha-AWS It's actually easier than that. As I mentioned in my comment above, the user would simply instantiate the client with the `memoryCircuitBreaker` option configured. This option is passed on to the Transport instance used by the client.

If a user instead explicitly defines a Transport instance to be used, that instance would need to be configured with the breaker option, e.g.:
[code]

[2022-07-22 06:13] gbbafna opened #828 "[FEATURE] Documentation for making all copies of shards spread evenly across all Awareness Attributes"
### Is your feature request related to a problem?

Meta for this [feature](https://github.com/opensearch-project/OpenSearch/issues/3367)

### What solution would you like?

Documentation for above mentioned feature :

A boolean cluster level setting `routing.allocation.awareness.balance` which is false by default . When true, we would validate that total copies is always a multiple maximum of awar

[2022-07-22 08:01] pratikshavyas commented on #695
Hi @JeffH-AWS
I wanted to check about "plugins.security.ssl.http.enabled" setting in opensearch. This value can be set to false to disable TLS on Rest layer. However, If I set it to false, securityadmin.sh scripts fails with "javax.net.ssl.SSLException: Unrecognized SSL message, plaintext connection?" error.
So, I wanted to know if there is any plan on fixing this.

[2022-07-22 17:04] cliu123 commented on #695
There're 2 changes are needed for this.
1. The [documentation](https://opensearch.org/docs/latest/security-plugin/configuration/security-admin/#opensearch-settings) for security admin tool should be updated to 9200
2. In security plugin, the transport port should be changed to http port

[2022-07-22 17:22] pawelw1 commented on #695
@cliu123 I think the documentation is correct. This regards the OpenSearch service and not securityadmin.sh.
Port 9300 is still in use. The -p option defines the transport port number. If not selected it will be selected from the 9300 - 9400 pool.
Only authentication and authorization were dropped in the transport layer.

[2022-07-22 17:29] cliu123 commented on #695
But security admin tool doesn't use 9300 anymore.
The security admin tool has multiple issues, and we plan to deprecate it at some time. Please use security REST API as much as you can.

[2022-07-22 17:46] pawelw1 commented on #695
@cliu123 I think the documentation is missing a statement that would explain exactly what was deprecated in terms of the transport layer.
1. securityadmin.sh uses port 9200 instead of port 9300
2. deprecation of the authentication and authorization in the transport layer doesn't deprecate transport layer communication and OpenSearch still requires ports 9300 - 9400.

[2022-07-22 17:50] prudhvigodithi commented on #695
SecurityAdmin for OpenSearch `1.x` the default port is still `9300` (which is the transport port), for `2.x` the port is http port `9200` or the http port with environmental variable cluster setting `http.port`
May be we have to consider updating the documentation in accordingly.

[2022-07-22 17:53] cliu123 commented on #695
Correct!

I don't think the authN and authZ in transport layer have been deprecated. Only TransportClient has been removed and has replaced with HighLevelRestClient.

[2022-07-22 17:56] pawelw1 commented on #695
@cliu123 TransportClient authentication and authorization according to https://github.com/opensearch-project/security/pull/1701

[2022-07-22 17:58] pawelw1 commented on #695
@pratikshavyas Version 1.x is still using TransportClient and port 9200. This change was introduced in version 2.0.0

https://github.com/opensearch-project/opensearch-build/blob/main/release-notes/opensearch-release-notes-2.0.0.md

[2022-07-25 17:01] kavilla commented on #823
Yes I actually think the doc website is incorrect because it won't be a cluster setting. It's a client side configuration, so before the response returns from OpenSearch it suppose allow for the client to be configured (for us OpenSearch Dashboards in our opensearch_dashboards.yml) so that it doesn't kill the application of there is less memory available that what it needs.

[2022-07-25 17:14] petardz opened #829 "[FEATURE] added _doc_count field to summary documents"
### Is your feature request related to a problem?
We need this new field documented for v2.2.0 [PR](https://github.com/opensearch-project/OpenSearch/pull/3985)

### Do you have any additional context?
Description would be something like this:

`Documents that store pre-aggregated data will have `_doc_count` field representing the number of documents
aggregated in a single summary field. When compu

[2022-07-25 22:04] mattweber commented on #810
Honestly we just need documentation.  The current state is horrible, I can’t count the number of times I have redirected people to Elastic’s 7.10 docs.  I have tried to contribute some new docs in #416 but had it closed because I copied some of the Elastic’s open source docs from 7.10.2. (Same as original code fork).  I would personally start by forking some of those original docs and/or allowing

[2022-07-26 07:57] navneet1v commented on #810
Apart from the above items mentioned, there are a lot of features that we support but are not present in the documentation. Example: We support different types of aggregation of GeoPoints like GeoBounds, GeoCentroid, GeoTile, GeoHashGrid etc but some of them is only mentioned([Geo Bounds](https://opensearch.org/docs/latest/opensearch/metric-agg/#geo_bound), [Geo Hash Gird](https://opensearch.org/d

[2022-07-26 09:43] ervikrant06 opened #831 "[BUG] Fix version supportability matrix in official guide."
### What is the bug?

In supportability matrix, it's mentioned corresponding to "OpenSearch 1.x to 2.x" older versions are supported with "Yes via version setting" But version setting is no longer available in opensearch 2.x onwards hence we should only mention "Opensearch 1.x"

https://opensearch.org/docs/latest/clients/agents-and-ingestion-tools/index/

Refer this issue for details https://githu

[2022-07-26 14:51] reta commented on #810
AFAIK, the efforts in this direction are ongoing, please check [1]

[1] https://github.com/opensearch-project/documentation-website/issues/419

[2022-07-26 20:40] dblock commented on #814
FYI, there are plenty of remaining issues around Sigv4 signing in the docs, e.g. https://github.com/awsdocs/amazon-opensearch-service-developer-guide/pull/63 and documenting https://github.com/opensearch-project/opensearch-java/pull/177. But those are specific to various clients.

[2022-07-26 20:44] dblock commented on #823
The documentation needs to document all client-side options with examples. Let's make that the issue here?

[2022-07-26 20:53] nateynateynate opened #832 "[BUG] Reference to OpenDistro should be changed."
### What is the bug?
In the security plugin documentation, under access control -> permissions. Our documentation here makes reference to OpenDistro, which is probably no longer appropriate.

https://opensearch.org/docs/latest/security-plugin/access-control/permissions/

### How can one reproduce the bug?
View the page referenced above.

### What is the expected behavior?
Our examples should use u

[2022-07-27 08:34] robdasilva commented on #823
@dblock Can we make that a separate issue? I made a proposal for the `memoryCircuitBreaker` documentation in https://github.com/opensearch-project/documentation-website/pull/827. It would be great, if we could merge that and then continue adding documentation from there. WDYT?

[2022-07-28 17:06] Naarcha-AWS commented on #832
@nateynateynate: Do we know for sure that these OpenDistro endpoints are deprecated?

[2022-07-28 17:20] Naarcha-AWS commented on #831
@nknize: Can you confirm that we should go ahead and make this change? I thought we added the version override setting back in for 2.1 (https://github.com/opensearch-project/OpenSearch/pull/3530).

[2022-07-28 17:21] Naarcha-AWS commented on #823
@robdasilva: I'm currently reviewing #827 now. I agree that we should make client-side options with examples separate issues per client.

[2022-07-28 18:01] nknize commented on #831
We did add the override back in for 2.1 so I don't think we should make the change.

[2022-07-28 18:42] asfoorial commented on #810
I think our efforts should focus at this point on having a comprehensive documentation. For instance, a lot of details are missing related to DSL query, such as composite queries, analyzers and scripting.

As for the structure, the way elasticsearch is  doing it seems to work just fine. We can kind of memic their docs structure since customers are already familiar with it.

[2022-07-28 19:31] cwillum commented on #829
@petardz To clarify, from your "additional context" description: "documents that store pre-aggregated data" are those calculated and shown in a response. Yes? Could I see an example of this?
And, this field appears as `_doc_count` and should not to be confused with `doc_count` Right?

[2022-07-28 23:04] cwillum commented on #829
@petardz Actually, it might be more helpful to have a realistic example of a request that would naturally include this field for documents that store pre-aggregated data. Can you think of a document that that would include pre-aggregated data?

[2022-07-29 16:30] petardz commented on #829
@cwillum
Here's elasticsearch doc for this field: [link](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-doc-count-field.html). (We merged their PR). There is a good example shown there.

In ISM plugin, rollup jobs store these documents with pre-aggregated data in rollup indices. We need small PR to include this _doc_count field in them and once that's done we will have cor

[2022-07-29 20:41] brijos opened #836 "[DOC] Reporting Anywhere CLI"
### Is your feature request related to a problem?
Documentation support for Reporting Anything CLI which allows someone to download a report without being inside Dashboards. The benefit to the API consumer is that they can create infrastructure to download and handle reports in an automated fashion.

Release target August.

[2022-07-29 20:41] brijos commented on #836
https://github.com/opensearch-project/dashboards-reports/issues/345

[2022-08-01 19:09] vagimeli commented on #642
Info gathering session scheduled

[2022-08-01 19:09] Naarcha-AWS commented on #836
@brijos: Is this tied to an OpenSearch release?

[2022-08-01 23:32] hdhalter commented on #745
Hi @JeffH-AWS , the OpenDistro project has been archived and we've been asked to update the OpenDistro documentation to remove all download links. In addition, we need to update the OpenSearch documentation to include information on migrating from OpenDistro to OpenSearch, as we are recommending that anyone using OpenDistro move to OpenSearch. The instructions for migrating are here: https://opens

[2022-08-01 23:47] hdhalter commented on #214
@Naarcha-AWS - can you please assign this to someone else?

[2022-08-01 23:59] #831 closed

[2022-08-02 16:16] JeffH-AWS commented on #745
No problem.  Taking a look.

[2022-08-02 16:39] nateynateynate commented on #816
Someone specifically asking for a login selector [here.](https://github.com/opensearch-project/security/issues/1112)

[2022-08-02 16:48] nateynateynate opened #838 "[BUG] Add Maven coordinates to list of available plugins"
### What is the bug?

Someone at the community meeting brought this up today - the idea is that we can use the plugin install script with an official plugin name to install a plugin. But -- when visiting https://opensearch.org/docs/1.3/opensearch/install/plugins/#install-a-plugin , we state that plugins can be installed via "Maven Coordinates to a plugin zip file" as well as "A URL to a plugin zip

[2022-08-02 16:52] JeffH-AWS commented on #745
@hdhalter can I please have clarification on `we've been asked to update the OpenDistro documentation to remove all download links`?  Where do these links live currently and what we we pointing them to?  Or should they just be removed?

[2022-08-02 16:56] JeffH-AWS commented on #745
Requested feedback from Sarat on the blog post relating to version compatibility for the process outlines.

[2022-08-02 17:31] JeffH-AWS commented on #745
Will add to https://opensearch.org/docs/latest/upgrade-to/index/

[2022-08-02 17:32] JeffH-AWS commented on #745
@cwillum will be reviewing the download links that need to be removed/updated.

[2022-08-02 19:21] hdhalter opened #840 "Remove Open Distro download links"
## What do you want to do?

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request. For example, what feature or area does it affect? What versions? If it’s a change to existing documentation, which pages (URLs) are affected?
We need to remove all download links from the Open Di

[2022-08-02 20:36] hdhalter commented on #745
Hi Jeff, I opened a new issue for updating the Open Distro documentation and assigned to @cwillum. https://github.com/opensearch-project/documentation-website/issues/840.

[2022-08-02 20:38] hdhalter commented on #840
@cwillum - Before you merge the PR, reach out to Miki so he can unarchive the Open Distro repo.

[2022-08-02 21:38] #730 closed

[2022-08-02 21:55] JeffH-AWS commented on #695
It sounds like we had a few different topics conflated here.

1. Expected behavior when running `securityadmin.sh` while `plugins.security.ssl.http.enabled` is set to `false.`.
2. Accuracy of the documentation regarding the port being used.

Regarding item 1, it sounds like this has been cleared up. Does anything further need answered here?

If we're all good on that front, what needs adjusted in

[2022-08-02 22:34] hdhalter commented on #810
Hi all, thanks so much for your feedback! We recently conducted an audit of the documentation, and have a good idea of the areas that are lacking (but are always happy for additional input). Our primary goal is to provide comprehensive documentation for OpenSearch. But we also know that the current structure, built for Open Distro, is not adequate to support all the new content and features we pla

[2022-08-03 18:11] pjfitzgibbons opened #848 "[FEATURE] Dashboards Front-end / Typescript Developer and API guides needed"
## What do you want to do?

- [X] Add new documentation

## Tell us about your request.

Currently I could not find a documentation page that specifically discusses the implementation of front-end/Typescript/React Dashboard Plugins.

As a community dashboards-plugin developer, I expect to see Developer/Tutorial documentation on implementing Dashboards Plugins.
As a community dashboards-plugin deve

[2022-08-03 18:51] Naarcha-AWS commented on #828
PR related to: https://github.com/opensearch-project/cross-cluster-replication/pull/461

[2022-08-03 20:22] JeffH-AWS commented on #819
Reached out to Sruti on Slack.  I see movement for this feature - only a failed gradle check is blocking the merge so it seems likely to make 2.2.  Neither the original issue nor the associated PR seem to include a detailed description of how this new functionality would be implemented or leveraged by a user.  Will need to do some information sourcing and testing this week to confirm.

[2022-08-04 10:59] lukas-vlcek commented on #810
I think the reference HTTP REST API should be one of the main focus areas. First it is essential for anyone who is trying to consume HTTP REST API, second it can create false impression that undocumented features are not supported. Please notice that the legacy OD4ES documentation can not be always used because it is dated and in some cases inaccurate. Instead of taking the content from OD4ES I wo

[2022-08-04 11:38] asfoorial commented on #810
Expanding on your point, I suggest to provide an OpenAPI specification (Swagger) for OpenSearch and make it part of the product.

[2022-08-04 12:20] lukas-vlcek commented on #810
@asfoorial FYI I think there is some plan to use [Smithy](https://awslabs.github.io/smithy/).

Direct quote from Smithy site:

The primary difference between Smithy and OpenAPI is that Smithy is protocol-agnostic, allowing Smithy to describe a broader range of services, metadata, and capabilities. Smithy can be used alongside OpenAPI by [converting Smithy models to OpenAPI](https://awslabs.github.

[2022-08-04 14:24] Naarcha-AWS commented on #836
According to the PR (https://github.com/opensearch-project/dashboards-reports/issues/345#issuecomment-1203117543), this should be released in two to four weeks. Adding a Q3 milestone.

We'll loop back around to this after the 2.2 release.

[2022-08-04 15:07] Naarcha-AWS commented on #424
@steve-O-murphy: Thanks for coming on board, Steve. Here is the list Rest APIs we'll get started:

- [snapshot.create](https://opendistro.github.io/for-elasticsearch-docs/docs/elasticsearch/rest-api-reference/#snapshotcreate)
- [snapshot.create_repository](https://opendistro.github.io/for-elasticsearch-docs/docs/elasticsearch/rest-api-reference/#snapshotcreate_repository)
- [snapshot.delete](https

[2022-08-04 15:33] Naarcha-AWS commented on #810
Hey @lukas-vlcek and @asfoorial:

We do have an effort to document the HTTP Rest APIs manually for the time being. You can track the progress of that effort on issue #424. Currently, we have an external contributor documenting the Snapshot APIs.

As far as an OpenAPI or Smithy spec, Lukas is correct that we're currently making the switch to Smithy, which includes converting that Smithy spec to Ope

[2022-08-04 18:39] Naarcha-AWS commented on #793
Waiting on a development PR before starting documentation.

[2022-08-04 18:45] vagimeli commented on #642
release confirmed for 2.2, interviewed developer (8/4), demo provided, content writing started

[2022-08-04 18:51] JeffH-AWS commented on #789
Making great progress on the tarball installation method.  I'm currently formatting the steps in markdown and should have a PR up soon.  Steps are all validated by technical resources.  I'm also looking to include a brief blurb in the overview to describe basic assumed competencies (like familiarity with Linux CLI, etc.)

[2022-08-04 19:03] JeffH-AWS commented on #819
Still waiting on info from devs.  Got a link to a Quip doc covering observability which I'll take a look at but I will need to be able to test this functionality.

[2022-08-04 19:20] macrakis opened #849 "[DOC]: Add name for action menu on App Analytics page"
## What do you want to do?

- [ X] Request a change to existing documentation

## Tell us about your request.

OpenSearch 2.1.x
Application Analytics page
https://opensearch.org/docs/2.1/observability-plugin/app-analytics/

"Get started" says "To get started, choose Observability in OpenSearch Dashboards". It was not obvious to this naive new user that Observability was under the hamburger menu in

[2022-08-04 19:37] nateynateynate opened #850 "[DOC] Feature in 2.2 requires two variables documented."
## What do you want to do?

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [X] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

When 2.2 comes out, the feature regarding shard allocation awareness (#3367) relies on two configuration variables being set. These variables are not very well described, with their only mention

[2022-08-05 15:43] cwillum commented on #840
Removal of links that provide download of Open Distro on the documentation website are in progress. I want to get a little more clarification on which artifacts need to go and which ones should stay. But I expect this will be done by end of day.

[2022-08-05 21:06] JeffH-AWS commented on #789
As I'm peeling back the many layers to this onion I continue to uncover additional things that need to be fixed up.  For example, we have documentation in the Tarball installation guide about installing the Performance Analyzer plugin.  It looks like this may have been included here because a manual configuration is required for `tarball` installations of OpenSearch.  This is going to take a littl

[2022-08-08 14:10] kolchfa-aws commented on #828
Ran tests, wrote docs, created a PR #856

[2022-08-08 14:29] kolchfa-aws commented on #792
This meta issue contains 4 sub-issues:
1. doc_count from source index -> in 2.2
2. allow dynamic target index in rollup searches -> in 2.2
3. allow rollup searches to multiple rollup indices -> in 2.2
4. allow query_string queries -> pushed to 2.3.

Issues #1-3 are documented. Waiting on a deployment to test these. Waiting for tech review in the meantime.

[2022-08-08 15:53] bharath-techie opened #858 "[DOC] Update async search plugin documentation"
## What do you want to do?

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

We need to update the async search securiry behavior when backend roles are empty for the user with examples in this page - https://opensearch.org/docs/latest/search-plugins/async/security/

##

[2022-08-08 17:19] JeffH-AWS commented on #819
I have a sync with the dev scheduled for this afternoon for a quick demo of the feature and a short Q&A.  I was presented with a feature doc that includes the usage of the feature.  This is an API function only - will need to review the API template and document organization.

[2022-08-08 17:40] #829 closed

[2022-08-08 17:56] Naarcha-AWS commented on #850
@nateynateynate: We already have an issue for Awareness Attributes in progress, see PR https://github.com/opensearch-project/documentation-website/pull/856/files and issue #828.

Going to close this one, feel free to comment on the linked PR if you want any additional information added to the doc.

[2022-08-08 17:56] #850 closed

[2022-08-08 17:58] Naarcha-AWS commented on #849
@macrakis: I think the term I see most commonly used is "Action menu".

[2022-08-08 19:04] Naarcha-AWS commented on #849
Alternatives to hamburger:

- Menu Icon
- Menu

[2022-08-08 19:21] navneet1v opened #861 "[DOC] : Geo Shape Aggregation Documentation"
## What do you want to do?
- [X] Add new documentation

## Tell us about your request.
Area: Aggregations
Field: GeoShape
Version: 2.5 as of now

The feature is adding a new Aggregation on the GeoShape field.

## Do you have any related resources to help us get started?
https://github.com/opensearch-project/geospatial/issues/97

https://github.com/opensearch-project/geospatial/issues/93

## Is the

[2022-08-08 20:32] VijayanB opened #862 "[DOC] Support xy_point and xy_shape field type"
## What do you want to do?

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

OpenSearch will support two new field type xy_point and xy_shape , similar to geo_point and geo_shape, except, these two new field type facilitates the indexing and searching of points represent

[2022-08-08 23:32] JeffH-AWS commented on #789
During a sync today with Nate A. and Himanshu S. there we some good call-outs.  I made some changes and pushed them to the draft PR based on feedback.

Himanshu pointed out that the landing page for the security plugin configuration (https://opensearch.org/docs/latest/security-plugin/configuration/index/) doesn't make it clear which files are being modified.  However, I did find the steps listed i

[2022-08-08 23:39] JeffH-AWS commented on #819
During the sync the developer did an excellent job of explaining the functionality to me and we identified a location within the existing documentation where this can be added. However, after I was provided with an early build, I installed it but could not get the response listed in the feature doc. Will need to follow up tomorrow (the dev is out sick this afternoon).

[2022-08-09 16:59] dblock opened #863 "[DOC] Document how to control read/write access"
## What do you want to do?

- [x] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

Coming from https://github.com/opensearch-project/opensearch-py/issues/95 and https://github.com/aws/aws-cdk/issues/17761#issuecomment-1186674964, document how to control read/write access to Op

[2022-08-09 20:56] JeffH-AWS opened #865 "[DOC] Column 3 of table in OpenSearch -> Shard Indexing Backpressure -> Settings is too small"
## What do you want to do?

- [x] Request a change to existing documentation

## Tell us about your request.

Column three in the tables on this page (https://opensearch.org/docs/latest/opensearch/shard-indexing-settings/) are getting crushed down due to the length of the setting names.  It makes it very difficult to read the descriptions.  This seems to be poorly sized regardless of client resolu

[2022-08-09 22:07] JeffH-AWS commented on #819
PR is up and currently awaiting technical review by the dev.

[2022-08-09 23:46] cwillum commented on #424
API to enable audit logs is in process. [#746](https://github.com/opensearch-project/documentation-website/issues/746).
* GET _plugins/_security/api/audit
* PUT _plugins/_security/api/audit/config
* PATCH _plugins/_security/api/audit

[2022-08-10 06:00] gbbafna opened #867 "[DOC] Modify access control documentation for cross-cluster search"
## What do you want to do?

- [x] Request a change to existing documentation

## Tell us about your request.

It is mentioned in [documentation](https://opensearch.org/docs/latest/security-plugin/access-control/cross-cluster-search/) that

[code]

This is not true . `indices:admin/shards/search_shards` is needed only when user tries to do cross cluster search with with query parameter `ccs_minimiz

[2022-08-10 14:26] Naarcha-AWS commented on #793
Development PR merged in Friday. Working on documentation now.

[2022-08-10 14:42] Naarcha-AWS commented on #832
Verified that these permissions are deprecated. Should be a simple change to remove them.

[2022-08-10 17:39] JeffH-AWS commented on #819
I committed and pushed the suggested changes from the dev feedback. Currently in doc review, but this is on track for the 2.2 release.

[2022-08-10 18:44] JeffH-AWS commented on #819
Had a few last minute changes that I applied and pushed.  Just waiting on one final approval and then this will be ready to deploy with the 2.2 launch.

[2022-08-10 20:06] Naarcha-AWS commented on #796
@vagimeli: Since this is related to Alerting and Observability as well, I'm to go ahead and assign this to Alice.

[2022-08-10 21:36] JeffH-AWS commented on #819
PR approved, just waiting on the release to merge.

[2022-08-11 02:14] vagimeli commented on #649
This is a change to the map service and relevant to release 2.0, 2.1, and 2.2. Documenting in release blog.

[2022-08-11 02:16] vagimeli commented on #649
Zoom level increase to 20x.

[2022-08-11 16:02] #177 closed

[2022-08-11 17:13] #806 closed

[2022-08-11 17:13] #828 closed

[2022-08-11 17:13] #826 closed

[2022-08-11 17:13] #819 closed

[2022-08-11 17:13] #791 closed

[2022-08-11 17:14] Naarcha-AWS commented on #792
We'll  make a new issue for item 4 on the @kolchfa-aws's list. Closing for now.

[2022-08-11 20:07] #671 closed

[2022-08-11 20:45] macrakis opened #879 "Fix links in query-dsl/full-text [DOC]"
## What do you want to do?

- X Report a technical problem with the documentation

## Tell us about your request.

On page https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/, there are 8 instances of the following link:
``see <a href="#options">options</a>``

They don't work; I believe the correct anchor is optional-query-fields.

## Is there anything else you'd like to add?

Shoul

[2022-08-11 21:04] Angie-Zhang opened #880 "[DOC] Add Document for min_rollover_age"
## What do you want to do?

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

ISM team discover the documents of [min_rollover_age](https://github.com/opensearch-project/index-management/pull/215) has not been added. One customer is going to use it, so it is better to set

[2022-08-11 22:48] cwillum commented on #840
Changes have been made. This also includes the addition of information addressing the inability to install ODFE 1.13.3 with Debian or RPM due to missing upstream artifacts. Waiting to get temporary permission to write to the repo and create a PR on this.

[2022-08-11 22:48] #793 closed

[2022-08-11 23:33] peternied commented on #530
@hdhalter Could you reference the pull request or other issue are associated with this?

[2022-08-11 23:58] hdhalter commented on #530
Sorry, Peter! It's unclear what is left to do on this issue. @cwillum - can you please make notes to indicate what is done and what is left to do?

[2022-08-12 00:14] ashwin-pc commented on #642
@VachaShah Why was the Tag moved to 2.3? This has already been released in 2.2

[2022-08-12 00:21] kavilla commented on #642
+1

[2022-08-12 11:39] vagimeli commented on #649
Documentation on zoom levels to be included in Maps foundational content

[2022-08-12 15:15] kolchfa-aws commented on #642
@kavilla @ashwin-pc It's because there was no documentation required for this feature for 2.2. It was decided to put it only in the release notes. Documenting this on the docs website is planned for 2.3.

[2022-08-12 15:21] kolchfa-aws commented on #530
@hdhalter @Naarcha-AWS @cwillum should these be added to #424?

[2022-08-12 15:52] kolchfa-aws opened #882 "[DOC]Typo in .net client documentation"
## What do you want to do?

- [x ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

Typo in the main .NET client docs page.

## Do you have any related resources to help us get started?

For example, a link to a related fixed issue, a design doc, or any particular POCs (Eng or

[2022-08-12 16:19] cwillum commented on #530
I count eight more issues in need of attention in the list above. The `reloadcerts` API (central to this issue) is in our documentation.
@hdhalter @peternied I can add these new issues. After that we can close this one.
@kolchfa-aws @Naarcha-AWS Once I have issues for the remaining eight APIs, I'll add those to [#424](https://github.com/opensearch-project/documentation-website/issues/424).

[2022-08-12 16:19] #882 closed

[2022-08-12 16:53] JeffH-AWS commented on #822
Hi coffeegalaxy!  You've opened this issue under the documentation project but it sounds like the issue is with the functionality of the script itself not returning the available options when you invoke it without arguments.

The script is included in the repo for the security plugin [here](https://github.com/opensearch-project/security/blob/main/tools/securityadmin.sh).

[2022-08-12 16:58] JeffH-AWS commented on #838
This will require research. Who provides Maven coordinates?

[2022-08-12 17:04] JeffH-AWS commented on #822
Before we suggest moving this over to the other repo as an issue can you confirm what steps you're taking?  I just ran the script without args after unpacking from a tar archive and it prints the help text out, as expect:

[code]

[2022-08-12 17:31] Naarcha-AWS opened #887 "[DOC] Document security REST APIs"
## What do you want to do?

- [x] Add new documentation

## Tell us about your request.

Relates to issue #530

There are 8 security APIs that are not documented. Quickly checking a subset of the APIs in security with [query for BaseRestHandler](https://github.com/opensearch-project/security/search?q=BaseRestHandler) shows the following gaps:

| Documented | API Path | Http Verbs |  Code Reference

[2022-08-12 17:35] Naarcha-AWS commented on #530
@cwillum and @peternied: Moved the table with the other eight APIs to a new issue. Since these are specific to the security plugin and not OpenSearch core, let's avoid adding these to #424.

[2022-08-12 17:50] cwillum opened #888 "[DOC] Missing documentation for security plugin `dashboardsinfo` endpoints"
## What is the need for documentation?

The /_plugins/_security/dashboardsinfo API is not documented for the [Security Plugin](https://opensearch.org/docs/latest/security-plugin/index/).

## Tell us about your request.

Serves both a GET and PUT request.
GET /dashboardsinfo
PUT /dashboardsinfo

## Do you have any related resources to help us get started?

A code reference for this API can be found

[2022-08-12 17:51] peternied commented on #530
@Naarcha-AWS Thanks for creating #887 I'm good to close out this issue

[2022-08-12 18:00] cwillum commented on #888
Unnecessarily created. Closing this issue since it's covered with other security APIs in issue [#887](https://github.com/opensearch-project/documentation-website/issues/887).

[2022-08-12 18:00] #888 closed

[2022-08-12 18:56] JeffH-AWS commented on #822
Make sure you've defined a location for the JDK prior to running the script.  I did it in-line to make it clear in my example.

If you're still seeing an issue with this can you include the exact command you're running and copy-paste the full console output?

[2022-08-12 18:57] coffeegalaxy commented on #822
Hi Jeff,

Thanks so much for getting back to me.  I tried running it as you ran the
command
in your example and it worked great.  I guess what I was doing was just
running the ./securityadmin.sh
and when this output would return:
Warning: nor OPENSEARCH_JAVA_HOME nor JAVA_HOME set, will use /bin/java
it looked like it was using the literal path /bin/java and just not working
for the command would

[2022-08-12 20:10] JeffH-AWS commented on #822
I'm so glad to hear that!!  I hope everything goes smoothly for you.  Please let us know if there's more help we can offer.

[2022-08-12 20:12] #822 closed

[2022-08-14 10:13] fernferret opened #890 "[DOC] Add information on the permissions to use data streams with logstash"
## What do you want to do?

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

The OpenSearch docs have a great [example of how to use logstash and data streams here](https://opensearch.org/docs/latest/clients/logstash/ship-to-opensearch/#data-streams), but they don't talk

[2022-08-15 13:55] Naarcha-AWS commented on #880
@Angie-Zhang: Are you ok being the Subject Matter Expert on this one?

[2022-08-15 13:58] Naarcha-AWS commented on #879
@macrakis: We're working on that last part.

[2022-08-15 14:22] kolchfa-aws opened #891 "[DOC] Add more field types editorial comments"
## What do you want to do?

- [ x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

Add more editorial comments for the new field types content

## Do you have any related resources to help us get started?

For example, a link to a related fixed issue, a design doc, or any par

[2022-08-15 14:28] kolchfa-aws commented on #891
Closed as already implemented.

[2022-08-15 14:28] #891 closed

[2022-08-15 16:26] cwillum commented on #840
See PR [#535](https://github.com/opendistro/for-elasticsearch-docs/pull/535) in the opendistro/for-elasticsearch-docs repo for in-progress reviews.

[2022-08-15 18:00] cwillum commented on #530
Closing this issue.
Remaining eight security APIs that need documentation are covered by [#887](https://github.com/opensearch-project/documentation-website/issues/887).
The `reloadcerts` API is covered by [#753](https://github.com/opensearch-project/documentation-website/pull/753).

[2022-08-15 18:00] #530 closed

[2022-08-15 19:22] JeffH-AWS commented on #795
Will start looking at this shortly as we're not in the run-up to the 2.3 release.

[2022-08-15 20:10] cwillum commented on #840
Changes are reflected on the ODFE website. Closing this issue.

[2022-08-15 20:10] #840 closed

[2022-08-15 20:29] cwillum commented on #788
Reopening to make further changes to the API guide.

[2022-08-15 21:37] JeffH-AWS commented on #413
This is related to https://github.com/opensearch-project/documentation-website/issues/789

[2022-08-15 21:38] JeffH-AWS opened #894 "[DEMO ISSUE] This is a fake issue - delete me."
## What do you want to do?

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

For example, what feature or area does it affect? What versions? If it’s a change to existing documentation, which pages (URLs) are affected?

## Do you have any related resources to help us get

[2022-08-15 21:40] JeffH-AWS commented on #894
Pretend issue: there's a typo to fix in the tar installation guide.

[2022-08-15 22:03] JeffH-AWS commented on #894
Closing out this demo issue.

[2022-08-15 22:03] #894 closed

[2022-08-15 22:30] VijayanB opened #897 "[DOC] New OpenSearch Maps"
## What do you want to do?

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

Corresponding feature request https://github.com/opensearch-project/dashboards-maps/issues/15

PM: Satish Nandi
PE: Navneet Verma

[2022-08-16 16:41] JeffH-AWS commented on #756
Taking a look at this.

[2022-08-16 17:24] JeffH-AWS commented on #756
Seeking feedback on where this would live and how it should be covered. Based on my understanding of the related PR (from the core product) this sounds like guidance for plugin developers rather than OpenSearch users. Bearing that in mind I'm not quite sure where this would go.

[2022-08-16 18:07] JeffH-AWS commented on #756
@dblock

[2022-08-16 18:09] dblock commented on #756
@VachaShah see @JeffH-AWS's questions above

[2022-08-16 19:27] dcyprianrw opened #902 "[DOC]"
## What do you want to do?

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

Current documentation does not detail the JS client.update() function.   This is a very common function for some workflows and would likely be appreciated by users.  IMHO, it should be included

[2022-08-16 20:01] JeffH-AWS commented on #566
Should we close out this issue since https://github.com/opensearch-project/documentation-website/issues/569 was raised?  There doesn't seem to be anything actionable here that isn't covered by the broader FR in 569.

[2022-08-16 20:05] JeffH-AWS commented on #583
For reference in 2.2:

[code]

[2022-08-16 20:29] JeffH-AWS commented on #583
@lukaromih thanks for raising this issue.  I'm looking in to it because it also overlaps with another issue that was raised about the docs lacking Maven coordinates for plugins.

Would you like to see a list (the output of `opensearch-plugin install -h`) included for each version?  So for example, for 2.2 it would roughly look like this?

[code]

[2022-08-16 20:36] JeffH-AWS commented on #695
Putting this on the backlog until someone is able to chime in about my [previous question](https://github.com/opensearch-project/documentation-website/issues/695#issuecomment-1203252071).

[2022-08-16 20:43] JeffH-AWS commented on #464
I'm taking a look at this.  Starting with testing versions from `Sample Docker Compose file for development`

Version | Succeed/Fail
----|----
2.2 | Succeed

[2022-08-16 21:02] JeffH-AWS commented on #583
Findings (work in progress):
[code]

[2022-08-16 21:29] JeffH-AWS commented on #464
Based on my findings, this was already fixed.  I specifically tested against versions 2.0.1 and 2.0.0 since I saw John called that out, but they both downloaded and launched without issue.  I was able to open a terminal session with each version.

Closing this issue out.  If you feel I've overlooked something please let me know.

[2022-08-16 21:29] #464 closed

[2022-08-16 21:52] JeffH-AWS commented on #838
https://maven.apache.org/what-is-maven.html

[2022-08-16 22:34] VachaShah commented on #756
I think the documentation was added in this commit https://github.com/opensearch-project/opensearch-plugins/commit/d0c019c9f65c3bc0740e0c77179c349947a810ef, the file has changed over time.

I think this would go in a place where we have user documentation for plugins in general - https://opensearch.org/docs/latest/opensearch/install/plugins/. This looks to be a nice place to add documentation for

[2022-08-16 23:29] #616 closed

[2022-08-16 23:30] #531 closed

[2022-08-16 23:32] hdhalter commented on #214
Hi @JeffH-AWS , is this related to some of the other issues you are working on?

[2022-08-17 01:54] saratvemulapalli opened #904 "[DOC] Rolling upgrade from OpenSearch 1.0.0 to OpenSearch 2.x is broken"
## What do you want to do?

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.
Our documentation explains how rolling upgrade works, usually OpenSearch 1.x should be directly upgradable to OpenSearch 2.x.
Unfortunately with a bug in OpenSearch 1.0.0 it does not talk to Open

[2022-08-17 07:23] Martin-Kemp opened #905 "[DOC] ldap docker example is outdated"
## What do you want to do?

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.

ldap docker example is outdated. The zip file on the ldap documentation site is still using `opensearchproject/opensearch:1.0.1` in the `docker-compose.yml` file.

Link: https://opensearch.org/d

[2022-08-17 09:20] fatcloud233 opened #906 "[DOC] Guidance about how to size the indices/shards"
## What do you want to do?

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

## Tell us about your request.
Hi, I’m working an project that may introduce a large number of indices into an OpenSearch cluster.
I found that for ElasticSearch, there is a good doc: [Size Your Shards](https://www.elastic.co/

[2022-08-17 11:14] shaikabdulm opened #907 "Not able to authenticate with ldap"
Tired deploying the opensearch cluster with docker-compose and tried to add my own AD credentials.

tags":["error","plugins","securityDashboards"],"pid":1,"message":"Failed authentication: Error: Authentication Exception"}

My security config yaml is configured as followed with AD integration:

---
_meta:
  type: "config"
  config_version: 2

config:
  dynamic:
    http:
      anonymous_auth_enabl

[2022-08-17 17:25] JeffH-AWS commented on #756
@VachaShah can you please link me to the design doc for this? How does an OpenSearch user interact with this setting?

[2022-08-17 17:27] JeffH-AWS commented on #214
This is a holy grail of documentation and will take a considerable amount of research.  I imagine that's why it's been sitting for a year.  I will start gathering notes though and try to scope it out.

[2022-08-17 17:29] JeffH-AWS commented on #214
Actually I think this needs to be broken up into two issues.  One for opensearch.yml and one for opensearch_dashboards.yml...

[2022-08-17 17:29] JeffH-AWS commented on #214
I'll create a second issue for the dashboards side.

[2022-08-17 17:31] JeffHuss opened #908 "[DOCS] Adds full documentation to opensearch_dashboards.yml"
Related to: https://github.com/opensearch-project/documentation-website/issues/214

Borrowing some of @asfoorial's remarks from the original issue to preserve them:
[code]

[2022-08-17 17:33] JeffH-AWS commented on #908
The original issue was asking for full configuration for `opensearch.yml` and `opensearch_dashboards.yml`.  Given that nobody is actually able to provide an exhaustive list of settings this will require a good amount of research.  Since core and dashboards do not share configuration (as far as I know) then there isn't any overlap of work.

[2022-08-17 17:43] JeffH-AWS commented on #838
https://github.com/opensearch-project/OpenSearch/issues/581

[2022-08-17 18:21] JeffH-AWS commented on #838
https://github.com/opensearch-project/opensearch-build/issues/716

[2022-08-17 18:41] JeffH-AWS commented on #838
https://github.com/opensearch-project/opensearch-build/issues/1823

[2022-08-17 18:47] JeffH-AWS opened #909 "[DOC] Refactor of plugins page to prevent versioning issues during release process"
**What do you want to do?**

Originally this was raised with the following purpose:
`Add a section to the `Available plugins` table https://opensearch.org/docs/latest/opensearch/install/plugins/ for OS 1.3.4`

However, it looks like this has just exposed an issue in the release process where these manually-entered plugin versions are losing parity due to how we handle back port merges. Based on a

[2022-08-17 19:11] JeffH-AWS commented on #909
Current recommendation: use version variables and only publish a table of plugins that are relevant to the respective version.  This would eliminate the need for HTML within the page - the table would be much smaller, and can be formatted using markdown.

[2022-08-17 19:14] Jon-AtAWS opened #910 "[DOC] Improve the documentation for Anomaly Detection"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ X ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

 https://opensearch.org/docs/latest/monitoring-plugins/ad/index/

About halfway down the page, under “Step 2: Configure t

[2022-08-17 20:08] JeffH-AWS commented on #838
Looking for a SME to assist me with this.  I need two pieces of information:

1. How to derive coordinates for any given plugin in the repo https://repo1.maven.org/maven2/org/opensearch/plugin/
2. How to display those coordinates in the documentation

I think a quick 5 minutes crash course is all I really need, but until I understand that I'm blocked.

I will continue looking for a SME to assist w

[2022-08-17 20:33] JeffH-AWS commented on #795
Still trying to get a hold of @rramachand21 for details about milestone 2 from the meta/epic issue.

[2022-08-17 20:36] JeffH-AWS commented on #566
I'm going to close this out for now since it's a dupe of the issue Nate opened.

[2022-08-17 20:36] #566 closed

[2022-08-17 22:03] Naarcha-AWS commented on #910
@Jon-AtAWS: Do you have an example of a JSON aggregation query we can test?

[2022-08-17 22:05] Naarcha-AWS commented on #909
@JeffH-AWS: I'm cool with this. It is something we've already done for 1.3.x (see https://opensearch.org/docs/1.3/opensearch/install/plugins/), unless there's something in the issue description I'm missing.

[2022-08-17 22:27] cwillum commented on #906
@fatcloud233 Thanks for adding this request and including the detail. The team will review it soon. In the meantime, you might want to have a look at this document for OpenSearch Services: [Sizing Amazon OpenSearch Service domains](https://docs.aws.amazon.com/opensearch-service/latest/developerguide/sizing-domains.html). Considering your current project's requirements, I'd be curious to know if yo

[2022-08-17 22:49] vagimeli commented on #649
Zoom levels overview is in release notes for 2.1; comprehensive documentation to be added to Maps foundational content in subsequent release

[2022-08-17 22:49] #649 closed

[2022-08-17 23:16] cwillum commented on #788
Merged to main in #895. But still open to contributions if someone sees room for improvement.

[2022-08-17 23:16] #788 closed

[2022-08-18 16:36] JeffH-AWS commented on #909
1. Yes that's what I'm talking about.
2. Yes because the information is very incomplete and these pages will need to be redone anyway with an exhaustive list of available plugins (which isn't currently available).

[2022-08-18 16:37] JeffH-AWS commented on #909
At the very least we need to be consistent across all versions.  We can parameterize it and have each version only display the relevant OS-Plugin version relationships, or we can just dump everything on every page and have it as a static reference.  I feel like the second method is inconsistent with the rest of the site, though.

[2022-08-18 16:41] peternied opened #913 "[DOC] Using OpenSearch `plugins.security.ssl.http.enabled` set to false is an unsupported configuration"
**What do you want to do?**

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 When `plugins.security.ssl.http.enabled` is set to false in the security configuration, it prevents core functions of the s

[2022-08-18 16:43] peternied commented on #913
Background; when the [TransportClient](https://github.com/opensearch-project/OpenSearch/issues/1669) was removed in the OpenSearch 2.0.0 there was a 'workaround' that would allow for this scenario.  With this feature's removal many scenarios are no longer supported and we missed this during release testing.

[2022-08-18 16:44] peternied commented on #913
FYI @opensearch-project/security

[2022-08-18 18:10] vagimeli commented on #751
Content sections being written and published in order of priority and as completed. Priority 1 content status = writing

[2022-08-18 18:18] Naarcha-AWS opened #914 "Provide documentation on how to transition from Elasticsearch X-Pack security to OpenSearch security."

[2022-08-18 18:35] #632 closed

[2022-08-18 21:51] #849 closed

[2022-08-18 23:20] AWSHurneyt opened #921 "[DOC] Broken links to opensearch.org in plugin READMEs"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [x] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Several of the plugins (e.g., [anomaly detection](https://github.com/opensearch-project/anomaly-detection/blob/main/README.m

[2022-08-18 23:23] kristenTian opened #922 "[DOC] Documentation request for Multiple Data Source project"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

With the multi data source feature (find more info about this feature in next section), there are three major pieces in the

[2022-08-18 23:55] martin-gaievski opened #923 "[DOC] Add efficient filtering capability for Lucene knn"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

 k-NN plugin in OpenSearch will support filtering. This will allow users to define custom filters as part of the search req

[2022-08-19 02:39] #731 closed

[2022-08-19 20:11] cwillum commented on #746
See [#927 ](https://github.com/opensearch-project/documentation-website/pull/927)for in-process PR.

[2022-08-19 20:25] alicejw-aws commented on #658
Update: Vega is a 3rd party product. . .they don't appear to have any Help docs available on their site: https://vega.github.io/vega/about/.
We probably just need to reassign the ticket to UX team to remove that menu option from the Dashboards.

[2022-08-19 20:39] #909 closed

[2022-08-19 21:53] JeffH-AWS commented on #838
Got the information I needed.  Good to go on getting this added to the plugins list.

[2022-08-22 06:53] rursprung commented on #838
note: when working with maven you usually don't write a URL but instead use the "maven coordinates" (i.e. group + artifact) and need to know on which maven repository it's published (as you publish it to maven this part isn't really relevant.

you could e.g. add one of the following URLs:
* directly to [all `org.opensearch.plugin` artefacts on maven central](https://search.maven.org/search?q=org.o

[2022-08-22 07:52] rursprung opened #935 "[DOC] Security Plugin documentation: incomplete list of config files"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
The current documentation has a [list of all YAML config files for OpenSearch Security](https://opensearch.org/docs/latest/security-plugin/configuration/yaml/) with some basic description for t

[2022-08-22 16:55] #603 closed

[2022-08-22 17:34] Naarcha-AWS opened #936 "[DOC] OpenSearch Synthetics"
**What do you want to do?**

- [x] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Synthetics is a new module in Observability that enables users to monitor availability and response times of applications and services in real time. This tool provides the ability to understand availability and response time components of s

[2022-08-22 17:52] Naarcha-AWS opened #937 "[DOC] Add new documentation for Generating Alerts Based on Visualizations"
**What do you want to do?**

- [x] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

In 2.3, a new feature in Dashboards allows users to create alerts from the visualization layer versus switching contexts and creating an alert through the alerts flow.

**What other resources are available?** Provide links to related issues

[2022-08-22 18:00] brijos commented on #937
This is going to move to 2.4 @Naarcha-AWS.  Updating accordingly.

[2022-08-22 18:05] Naarcha-AWS opened #938 "[DOC] Querqy Plugin Release"
**What do you want to do?**

- [ ] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Find a place within our documentation to mention the new Querqy Plugin, a community plugin based on an Elastic querying tool. The tool functions similarly to how it does in Elastic as documented in the [Querqy documentation](https://docs.qu

[2022-08-22 18:18] Naarcha-AWS opened #939 "[DOC] Security Analytics P0 MVP"
**What do you want to do?**

- [ ] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

OpenSearch does not have an easy way to run security-related rules on their data without using another security-specific data-ingestion tool. OpenSearch Security Analytics will be an extensible plugin that enables customers to use their exi

[2022-08-22 18:52] #606 closed

[2022-08-22 19:31] Naarcha-AWS opened #941 "Dashboards Overview"

[2022-08-22 19:42] cwillum commented on #755
PR to fix this is [#934](https://github.com/opensearch-project/documentation-website/pull/934).

[2022-08-22 22:35] Naarcha-AWS commented on #907
@shaikabdulm: Looks like the security plugin is disabled on your OpenSearch Dashboards node. If you enable the plugin with LDAP, does it still throw an error?

[2022-08-22 22:51] hdhalter opened #945 "[DOC] Update navigation on Documentation page"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [x ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 The navigation on the documentation page needs to match the navigation on the rest of the site.

**What other resources ar

[2022-08-22 22:56] hdhalter commented on #945
@AMoo-Miki - Fanit will look at this.

[2022-08-22 22:58] hdhalter commented on #945
@kolchfa-aws - Refer to this PR to see the other navigation files. https://github.com/opensearch-project/documentation-website/pull/708

[2022-08-23 00:35] #792 closed

[2022-08-23 12:31] TomTom545 opened #946 "[DOC] Index templates - not working in 2.2"
**What do you want to do?**
I am referring to this site: https://opensearch.org/docs/2.2/opensearch/index-templates/

POST "_index_template" is not correct and very misleading for the beginner in OS 2.2 at least

There is no _index_template Post as per Dasboards
If you try to execute what is written, not working!

As far as i found out the correct POST Command would be:

POST _template/[Template N

[2022-08-23 16:30] JeffH-AWS commented on #838
Thanks for that info @rursprung!  I was struggling a bit with trying to figure out how I should present the Maven coordinates in the docs.  So you think a link to the Maven repository (I also share your preference for the second link) would suffice?  Or could I go further to help OpenSearch users by adding in-line links to each individual artifact?

[2022-08-23 16:31] JeffH-AWS commented on #838
Just to clarify - I feel like in-line links would be a little overkill.  Just trying to figure out how a developer would most appreciate these being laid out.

[2022-08-23 16:35] JeffH-AWS commented on #756
Putting this ticket on the backlog again pending follow-up from someone familiar with the functionality.

[2022-08-23 16:39] stevanbz opened #949 "[DOC] Extend permission list with transform cluster permissions"
**What do you want to do?**

- [ ] Add missing transform cluster permissions in permission list
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Permission list is missing transform cluster related permissions

**What other resources are available?**
Add transform cluster privileges in list of privileges
https://opense

[2022-08-23 17:07] #879 closed

[2022-08-23 17:24] #755 closed

[2022-08-23 17:50] JeffH-AWS commented on #838
Thanks for the insights!  That makes total sense.  I had always wondered why we appended an extra `.0` to the versions of some of the plugins when they otherwise had parity with the OS release version.  That distinction, although I know it could change, is helpful to identify.

Just for my own clarity - do you think that just a single link to the Maven repo is all OS users/developers would need to

[2022-08-23 18:06] #583 closed

[2022-08-23 19:01] kolchfa-aws opened #961 "[DOC]Point in Time Search - Frontend"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Add documentation for Point in Time frontend

**What other resources are available?** Provide links to related issues, POCs

[2022-08-23 19:02] kolchfa-aws commented on #961
This issue is to track the frontend implementation of Point in Time

[2022-08-23 19:03] kolchfa-aws commented on #674
This issue is to track the backend changes for Point in Time

[2022-08-23 19:03] kolchfa-aws commented on #674
Waiting for a testing environment from the developer.

[2022-08-24 16:16] vagimeli commented on #642
This feature is experimental. Projected to continue being experimental for 2.3. Content development in progress.

[2022-08-24 19:33] dblock opened #983 "[DOC] Document maps service hosted by AWS"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Opensearch Dashboards is built with a plugin that allows users to create geographical visualizations of their data on maps.

[2022-08-24 21:34] joshuali925 commented on #983
One note, it would be helpful to document since what version `maps.search-services.aws.a2z.com` became `maps.opensearch.org`. This would help reporting plugin to adjust the allowed domains. thanks

[2022-08-24 21:45] kolchfa-aws commented on #945
This issue is fixed by #984

[2022-08-24 21:45] #945 closed

[2022-08-24 22:28] #832 closed

[2022-08-24 22:45] hdhalter commented on #832
Are we sure this applies to 1.3?

[2022-08-24 23:07] mch2 opened #989 "[DOC] Document Segment Replication Feature."
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
With 2.3 we are looking to release an experimental version of the segment replication feature.
Design proposal - https://git

[2022-08-24 23:23] macrakis opened #990 "[DOC] Finding language analyzers"
**What do you want to do?**

- [X ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

1.1 doc lists the analyzers for Japanese (analysis-kuromoji), Korean (analysis-nori), Chinese (analysis-smartcn), and Polish (analysis-stempel) in [OpenSearch plugin installation](https://opensearch.org/docs/2.0/opense

[2022-08-25 08:17] rursprung commented on #838
i'd say this link here, combined with the critical information that not all plugins listed there are plugins which you can install using `opensearch-plugin install` (a description of what these are might be helpful, but you'd have to ask somebody who knows more about them; my presumption would be that those are pre-packaged with opensearch, even in the -min distribution, and can't be uninstalled),

[2022-08-25 14:55] JeffH-AWS commented on #838
Nice.  I did a little digging into plugins for another docs request so I think I've got a good idea of what can be installed and what comes bundled.

[2022-08-25 15:23] JeffH-AWS commented on #789
Tarball installation guide is pending editorial review. Will merge once that is complete.

[2022-08-25 15:30] JeffH-AWS commented on #789
Beginning work on Docker refactor.

[2022-08-25 15:38] vagimeli opened #991 "[DOC] Create Discover homepage"

[2022-08-25 15:46] vagimeli opened #992 "[DOC] Dashboards Visualizing Webpage"

[2022-08-25 15:46] vagimeli commented on #992
Status: content planning and writing ongoing

TOC (working draft)* Visualizations

    * Visualization panels
        * types of visualizations
    * Create your first dashboards
    * Analyze time series data
    * Create panels with editors
    * Make dashboards interactive
    * Improve dashboard loading time

[2022-08-25 15:47] vagimeli opened #993 "[META-DOC] Creates Dashboards - Reporting section and related pages"

[2022-08-25 15:48] vagimeli opened #994 "[META-DOC] Dashboards - Detection new site page and content"

[2022-08-25 15:48] vagimeli commented on #994
Status: content planning

TOC (working draft)
* Alerting
    * Alerting fundamentals
    * Set up
    * Create and manage rules
    * Rule types
    * Troubleshooting and limitations

[2022-08-25 15:48] vagimeli opened #995 "[META-DOC] Create Recommended Practices documentation"

[2022-08-25 15:51] vagimeli commented on #995
Status: content planning

TOC (working draft)

- Best practices for effective dashboards
- What's your goal
- Design for the real world
- Interactivity
- Layouts for different devices

[2022-08-25 15:51] vagimeli opened #996 "Accessibility? (prio 5)"

[2022-08-25 15:55] vagimeli commented on #996
Status: content planning

TOC (working draft)

- Accessibility statement for OpenSearch Dashboards
- Build accessible dashboards
- Navigation and order
- Create more accessible visualizations and dashboards (idea: walkthrough a finished dashboard and work backward to make it more accessible)

[2022-08-25 16:09] vagimeli opened #997 "[META-DOC] Create Internationalization documentation"

[2022-08-25 16:11] vagimeli commented on #997
Status: content planning

TOC (working draft)

- Make languages available
- Provide translations on the Internationalization tab for each object you want to internationalize.
- Specify a language for the user

[2022-08-25 16:27] JeffH-AWS opened #998 "[DOC] Add Geospatial to plugins list"
**What do you want to do?**

Add OpenSearch Geospatial to https://opensearch.org/docs/latest/opensearch/install/plugins/

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

The plugin was added with 2.2.0 but there was no docs ticket.

**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.

n/a

[2022-08-25 16:53] #838 closed

[2022-08-25 16:53] #998 closed

[2022-08-25 18:51] JeffH-AWS commented on #507
@VijayanB can you please comment on what should be added to the documentation?  Do we just add the sample code you provided as an "sample bulk API method"?  Or function?  Not even sure how we refer to them in golang.

[2022-08-25 18:52] JeffH-AWS commented on #507
We also need to know which versions this will apply to.  Does the above stub code work for 1.3/2.x?

[2022-08-25 19:09] petardz opened #1006 "[DOC] Dynamic rollup target_index"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
Starting from Dynamic target index([link](https://opensearch.org/docs/latest/im-plugin/index-rollups/index/#dynamic-target-index)) and below, target_index field is shown few times with value "r

[2022-08-26 10:56] shaikabdulm commented on #907
My opensearch_dashboard.yml config is as below

#opensearch.hosts: ["http://localhost:9200"]
opensearch.hosts: ["https://opensearch-node1:9200","https://opensearch-node2:9200"]
 opensearch.ssl.verificationMode: full
opensearch.username: "kibanaserver"
opensearch.password: "kibanaserver"
opensearch.requestHeadersAllowlist: [ authorization,securitytenant ]
server.ssl.enabled: true
server.ssl.certifi

[2022-08-26 15:53] rursprung commented on #214
is it worth it to explicitly report things which are currently missing here or will you take care of them anyway as part of this ticket? e.g. `action.auto_create_index` is even used in some examples ([here](https://opensearch.org/docs/latest/opensearch/configuration/) and [here](https://opensearch.org/docs/latest/opensearch/rest-api/cluster-settings/)) but isn't actually documented. the correspond

[2022-08-26 16:26] JeffH-AWS commented on #214
It would be a great help.  This ticket is going to be on the backlog for awhile while I continue working through the install/migration docs.  Updated tarball guide should be getting approved and published by next week.  Since configuration comes after installation, I figured that the install/migration stuff would segue nicely into this.

[2022-08-26 16:47] rursprung opened #1007 "[DOC] wrong documentation related to maven publication of plugins"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
the documentation for `opensearch-plugin install` is wrong, it claims that the command would accept maven artefact identifiers which isn't the case (please double-check on this, though. i'm at

[2022-08-26 16:59] rursprung commented on #214
tbh, i'm not sure how helpful it is to just list the various config options which i don't find in the docs (because that'd be a long list 😐). if you just want a full list of config options there's probably a simpler way to achieve that as you should be able to find that in the code:
* in the server by searching for all references to [`Setting`](https://github.com/opensearch-project/OpenSearch/blob

[2022-08-26 17:30] cliu123 opened #1008 "[DOC] Security Plugin Whitelist/Allowlist Settings and the APIs Are Not Documented"
**What do you want to do?**

- [x] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
The `Whitelist` setting and APIs in security plugin are not documented. This setting has been existing since OpenSearch 1.0.
`Allowlist` setting was introduced in OpenSearch 2.1 as an alternative to the deprecated `Whitelist` settings and AP

[2022-08-26 19:09] cwillum commented on #939
@getsaurabh02 In an effort to avoid letting documentation fall too far behind development, do you have any resources that address steps for installation, configuration, and usage of the Security Analytics plugin for this first MVP stage?

[2022-08-26 19:14] cwillum commented on #939
Changed tags to v2.4 to reflect change to roadmap in [Security Analytics in OpenSearch (MVP) #7](https://github.com/opensearch-project/security-analytics/issues/7) comments.

[2022-08-27 00:16] cwillum opened #1013 "Build out security overview and reorganize documentation"
This issue covers reorganization of Security documentation based on its main categories: encryption, authentication, authorization, and audit logging. These updates also include build-out of overview topics to better describe what the plugin offers and how it can be applied to an instance of OpenSearch based on different user requirements.

Another part of the purpose of this issue is to impose so

[2022-08-29 14:06] macrakis opened #1015 "[DOC] Add more info about plugins"
**What do you want to do?**

- [ ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

I recommend that the "plugin installation" page (https://opensearch.org/docs/latest/opensearch/install/plugins/) cross-reference the API call "cat plugins" (https://opensearch.org/docs/latest/opensearch/rest-api/cat/cat

[2022-08-29 16:47] lrynek commented on #432
@Naarcha-AWS @dblock @reta Are we going to document this feature // any help I can provide on this one? 🤔

[2022-08-29 16:52] reta commented on #432
@lrynek thanks, it would be great to know where exactly we should add that, afaik there is (was) no documentation for function_score at all

[2022-08-29 20:17] #676 closed

[2022-08-29 20:23] Naarcha-AWS commented on #493
@nateynateynate: We're going to close this one in favor of two separate issues, one for opensearch.yml and one for opensearch.yml dashboards. The issues are:

- #214
- #908

[2022-08-29 20:23] #493 closed

[2022-08-29 21:46] #398 closed

[2022-08-29 21:48] hdhalter commented on #797
Hi @JeffH-AWS , is this something you can address when you work on the Docker installation?

[2022-08-29 22:00] JeffH-AWS commented on #797
I'm working to figure out who is able to address this. Docker Hub isn't part of the documentation-website repo.

[2022-08-29 22:10] hdhalter commented on #518
Hi @lukas-vlcek, thanks for pointing this out and linking to that accessibility reference! I agree that our top-level section names should be clickable and link directly to topics. I'm not sure we can do this easily with our current template, but it is a requirement for the next iteration of our documentation.

[2022-08-30 16:36] JeffH-AWS commented on #1007
Update time!  I had my meeting with Prudhvi and he did a great job explaining things.  So, you CAN install with Maven coordinates using <groupId>:<artifactId>:<version> syntax.  For example, I just successfully ran the following on my VM:

[code]

I had to uninstall anomaly detection first (it was failing with an error), and I also had to run it with `sudo` based on the default permissions when in

[2022-08-30 16:38] prudhvigodithi commented on #1007
Also the code for plugin-cli that uses maven is here
https://github.com/opensearch-project/OpenSearch/blob/main/distribution/tools/plugin-cli/src/main/java/org/opensearch/plugins/InstallPluginCommand.java#L399-L409
@JeffH-AWS @rursprung @dblock @bbarani

[2022-08-30 17:36] JeffH-AWS commented on #789
Tarball refactor is completed and published.  RPM/Yum next because of the significant overlap and reduced editorial review burden.  Docker will come after that since it will be the ugly duckling of the bunch, with less parity to other guides and additional assumed skillsets.

[2022-08-30 18:20] hdhalter opened #1035 "Redesign the home page into a more modern look and feel (e.g., use different Jekyll template or React)"

[2022-08-30 18:20] hdhalter opened #1036 "[Meta] Restructure the TOC to make it easier for users to find content"
As we grow our content, we need to have the right structure in place. This issue documents the planned updates to the TOC in the current structure. Further improvements will be made once we move to a new site design.

Here is a draft of the proposed updated navigation:
- [x] Getting Started with OpenSearch
Introduction to OpenSearch
Version History
Breaking Changes

- [x] Installation and Configur

[2022-08-30 18:28] cwillum opened #1037 "Remove security cache guidance for JWT authentication and define timeout property in opensearch.yml documentation [DOC]"
**Objective**
Remove guidance for JSON web token configuration that directs users to set the `plugins.security.cache.ttl_minutes` property to zero when it's the only authentication being used (no backend configuration). Instead, we'll add definition of the property to the "YAML files" section of the security documentation.

**Request.**
The security team has demonstrated that when no backend authe

[2022-08-31 00:23] cwillum commented on #867
@gbbafna I started looking at this today and I think I see what’s going on. I’ll make adjustments to the documentation tomorrow for this. If I run into any problems I’ll send a question or two your way. But, as I said, I think I see what this involves. Thanks.

[2022-08-31 07:37] rursprung commented on #1007
oh, wow, this is awesome, i didn't know that you added that and totally missed it! 🥳

[2022-08-31 11:18] Martin-Kemp opened #1042 "[DOC] ldap2 auth documentation missing"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Opensearch supports features that are not documented anywhere.

There is an auth type called `ldap2` which supports ldap co

[2022-08-31 15:11] Naarcha-AWS commented on #796
This feature has been delayed to 2.4 or later. Updating labels and milestones now.

[2022-08-31 16:53] alicejw-aws commented on #796
Created outline of tasks to document in the Dashboards docs to share with @vagimeli as writer for OpenSearch Dashboards.
Assigning back to Melissa for the Dashboards docs.

[2022-08-31 17:10] sachinpkale opened #1045 "[DOC] Document remote store feature"
**What do you want to do?**

[X] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
- With 2.3 release, we are looking to release an experimental version of the remote store feature.
- Feature Proposal - https://github.com/opensearch-project/OpenSearch/issues/1968
- Design Proposal - https://github.com/opensearch-project/Open

[2022-08-31 17:26] JeffH-AWS opened #1046 "[DOC-META] Replace "indices" with "indexes""
**What do you want to do?**

Existing documentation is inconsistent with references to "indices" and "indexes" often sitting right next to each other within the same page.

We'll need to review each page on an individual basis to determine whether the reference is `hard coded` into the OpenSearch product (e.g., the actual button in the interface says `indices` or a property in a configuration file

[2022-08-31 17:44] #1007 closed

[2022-08-31 18:25] JeffH-AWS opened #1051 "[DOC] Add information about Maven coordinate limitations"
**What do you want to do?**

From comments in PR #1041:

[code]

[code]

[2022-08-31 18:25] JeffH-AWS commented on #1051
Finishing up the 2.0 backport PR for the other issue and then I'll move the needle on this one.

[2022-08-31 19:47] cwillum commented on #867
Generated a PR to fix information in documentation: #1053

[2022-08-31 19:58] JeffH-AWS commented on #1051
Ok awesome, I was able to replicate the behavior you described by adding `file:` as a prefix to the absolute path.  I'm going to try with a relative path to see if that's acceptable as well.

[code]

[2022-08-31 20:05] JeffH-AWS commented on #1051
Nice. Relative path works, too.

[code]

[2022-08-31 21:21] JeffH-AWS opened #1055 "[DOC] Add related links to plugins page and change title"
**What do you want to do?**

Add related links to bottom of plugins page
Rename page to `OpenSearch Plugin Installation`

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.

[2022-08-31 22:42] #938 closed

[2022-09-01 15:10] bharath-techie opened #1061 "[DOC] Update async search settings name"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 The settings given in https://opensearch.org/docs/latest/search-plugins/async/settings/ are outdated. Replace the names wit

[2022-09-01 15:11] bharath-techie commented on #1061
@kolchfa-aws please take a look at this issue

[2022-09-01 15:30] kolchfa-aws commented on #1061
@bharath-techie Thank you! Is this for versions 2.x only or for 1.x as well?

[2022-09-01 15:56] cwillum commented on #867
Closing this issue after fixing in #1053

[2022-09-01 15:56] #867 closed

[2022-09-01 16:43] hdhalter commented on #938
This content has been added to 1.3. It will also be part of 2.3, so assigning label 2.3.

[2022-09-01 17:06] #1051 closed

[2022-09-01 17:25] alicejw-aws commented on #910
Hi @Jon-AtAWS , is there a spec or any resource with the syntax that we should add to the docs? (or any other POCs that I can ask for the information) thanks

[2022-09-01 17:36] alicejw-aws commented on #863
Hi @dblock , do you know if this issue is only for the Python client? (mentioned in linked issue: https://github.com/opensearch-project/opensearch-py/issues/95) thanks

[2022-09-01 17:41] alicejw-aws commented on #863
note: looks like we also need to update this top-level page for the Search API (per linked ticket https://github.com/aws/aws-cdk/issues/17761#issuecomment-1186674964,)
https://opensearch.org/docs/latest/opensearch/rest-api/search/

[2022-09-01 17:57] alicejw-aws commented on #863
@dblock , I'm searching for the information in the linked tickets to write the instructions for
How to control read/write access in OpenSearch. Do you have this information, or could you help clarify how do they do this?

I can also put the note in the REST API section that warns them not to use an HTTP verb to control read/write access.
thanks

[2022-09-01 18:10] alicejw-aws commented on #862
Hi @VijayanB , I looked at all the linked tickets, and just want to confirm we will doc this new xy_point field type with the Mapping API (see docs https://opensearch.org/docs/latest/opensearch/rest-api/index-apis/put-mapping/).
Or do you also have a use case for this? I want to explain how they would use this. thanks

[2022-09-01 18:45] #397 closed

[2022-09-01 20:07] alicejw-aws commented on #658
Hi @kgcreative , I'm not sure what is the process to update the Dashboards UI. Could you help me route this to someone on your team to remove the drop-down menu item for OS Dashboards Vega help docs? (This doc isn't available yet) thanks

[2022-09-01 20:28] kolchfa-aws opened #1089 "[DOC]Add documentation for the Rust client"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Add documentation for the Rust client

**What other resources are available?** Provide links to related issues, POCs, step

[2022-09-01 20:29] kolchfa-aws commented on #653
Issue for the Rust client #1089

[2022-09-01 20:30] kolchfa-aws opened #1090 "[DOC]Add documentation for the high-level Python client"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Add documentation for the high-level Python client

**What other resources are available?** Provide links to related issue

[2022-09-01 20:32] kolchfa-aws commented on #653
Issue for the high-level Python client #1090

[2022-09-02 14:26] bharath-techie commented on #1061
1.x as well.

[2022-09-02 23:18] prudhvigodithi opened #1099 "[DOC] Update the rest endpoint `_cat/config` to `_cat/plugins`."
**What do you want to do?**

- [ ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
The sentence `Send requests to the server to verify that OpenSearch is running:` from the document shows https://opensearch.org/docs/latest/opensearch/install/rpm/ `_cat/config`, where is `_cat/config` is unknown api cal

[2022-09-02 23:20] prudhvigodithi commented on #1099
Hey @JeffH-AWS when you get a chance can you please take a look at this?
Thank you
@bbarani @dblock

[2022-09-04 09:37] VijayanB opened #1100 "[DOC] Support aggregation on geo_point based on H3 library"
**What do you want to do?**

- [x] Add new documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
geo_point field will support new aggregation based on H3 grid system.

**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.
https://github.com/opensearch-project/geospatial/issues/98

[2022-09-05 07:29] bharath-techie commented on #674
As discussed offline, github issue and postman collection will be used for the documentation.

[2022-09-05 22:20] macrakis opened #1101 "[DOC] Installation and OS support"
**What do you want to do?**

- [ ] Report a technical problem with the documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

The page https://opensearch.org/docs/latest/opensearch/install/compatibility/ (Operating system  compatibility) is the first page in the "Install OpenSearch" section.

It recommends installing OpenSearch on vario

[2022-09-06 14:22] JeffH-AWS commented on #1099
I'm on it!  Thanks Prudhvi!

[2022-09-06 15:44] Naarcha-AWS commented on #1045
@JeffH-AWS This might make the most sense in two places:

1. On the [Configuration](https://opensearch.org/docs/latest/opensearch/configuration/) page.
2. In a new page somewhere in the OpenSearch install/configure section.

Either way, we'll have to put a note at the top of the section of page noting that it's an experimental feature.

[2022-09-06 15:46] cwillum commented on #1037
Closed based on fix in PR #1039.

[2022-09-06 15:46] #1037 closed

[2022-09-06 15:51] Naarcha-AWS opened #1106 "Add Snapshot restore from Dashboards"
**What do you want to do?**

Add new documentation from Snapshot restore from Dashboards.

**Tell us about your request.**

Today, users have to restore snapshots through the restore API. 2.3 introduces the restore functionality in Dashboards UI. Users looking for a guided experience will be able to restore their indexes from existing snapshots within OpenSearch Dashboards.

**What other resources

[2022-09-06 16:12] #1099 closed

[2022-09-06 16:15] prudhvigodithi commented on #1099
Thanks @JeffH-AWS

[2022-09-06 17:16] ariamarble commented on #938
Regular pre-compiled plugin will be made available on plugins pages after it's release in 2.3

[2022-09-06 20:21] JeffH-AWS opened #1112 "[DOC] Move dashboards install (rpm/yum) to new page in dashboards section"
**What do you want to do?**

Currently there isn't a page for installing OpenSearch Dashboards via RPM/YUM. Rather, those instructions (only a few lines) are dwelling in the OpenSearch (core) doc, and they're presented as if they're required for OpenSearch to work. The steps are barebones, as with the rest of the Dashboards installation methods, but they should have a dedicated page under Dashboar

[2022-09-06 20:48] #910 closed

[2022-09-06 21:28] JeffH-AWS commented on #1112
This will need 2 different PRs due to the variable expansion limitations based on site versions (the yum repo users are told to mirror locally refers to the major version, i.e. 1.x or 2.x, so I need to separate them).

[2022-09-06 21:44] macrakis opened #1114 "[DOC] define "multi-term query""
**What do you want to do?**

- [ ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

The page https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/ uses the term "multi-term query" but never defines it. I'm guessing this means the query_string and simple_query_string queries, but it's not c

[2022-09-06 21:49] macrakis opened #1115 "[DOC] analyzers in the full-text page"
**What do you want to do?**

- [ ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

The section "convert text with analyzers" in the Full Text page (https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/#convert-text-with-analyzers) is very confusing.

Language analyzers need a section of i

[2022-09-06 21:54] macrakis opened #1116 "[DOC] Query DSL - rewrite query type definitions"
**What do you want to do?**

- [ ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

In the Query DSL / Full Text page (https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/#convert-text-with-analyzers), most definitions are phrased as "Creates a <<<Lucene query>>> that...". Queries should

[2022-09-06 22:03] macrakis opened #1117 "[DOC] Search needs relevance tuning"
**What do you want to do?**

- [ ] Report a technical problem with the documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

The search function on the Documentation site needs tuning. Some examples:

* [bool query], ["bool query"], and even [boolean query] don't return [Boolean queries] (https://opensearch.org/docs/latest/opensearch/q

[2022-09-06 23:14] cwillum commented on #921
@Naarcha-AWS Do you know if there's a workaround to avoid having to fork each one of these repositories and creating a new branch for each?

[2022-09-07 02:58] macrakis opened #1118 "[DOC] wording about Boolean queries"
**What do you want to do?**

- [ ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

There are several problematic turns of phrase in page https://opensearch.org/docs/latest/opensearch/query-dsl/bool/ .

Paragraph 2 reads: "The bool query is a go-to query because it allows you to construct an advanced q

[2022-09-07 15:20] Steve-O-Murphy opened #1119 "[DOC]: Fix broken link in script APIs section"
**What do you want to do?**

- [ ] Request a change to existing documentation

Please fix broken links in [https://opensearch.org/docs/latest/opensearch/rest-api/_script-apis/index/](https://opensearch.org/docs/latest/opensearch/rest-api/_script-apis/index/)

The links in the bulleted list of script capabilities (above the table of contents) each include a path component `script-apis` which is inc

[2022-09-07 17:32] Naarcha-AWS opened #1124 "[DOC]: Remove Gender on SQL relevance example"
**What do you want to do?**

Request a change to existing documentation, https://opensearch.org/docs/latest/search-plugins/sql/aggregations/

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

On the aggregation functions page, we use gender as a way of categorizing for SQL relevance. As opposed to gender, we should use something more inclusive.

[2022-09-07 19:14] JeffH-AWS commented on #1112
Didn't end up needing two different PRs here. Learned some Liquid syntax that allows for manual variable definition.

[2022-09-07 19:23] JeffH-AWS commented on #1112
I'll leave this as "Done but waiting to merge" until the 1.3 backport PR is successfully merged.

[2022-09-07 19:26] JeffH-AWS commented on #797
Path forward here is to engage the team that works on deployment pipelines as they have access to edit the Dockerhub page. Once I begin work on the Docker installation process I will pass along a recommended change for the Dockerhub page as well and that team will implement the change so there's no need to worry about providing me access.

[2022-09-07 19:56] JeffH-AWS opened #1133 "[DOC] Move RPM Performance Analyzer settings to Performance Analyzer page"
**What do you want to do?**

Move the contents of https://opensearch.org/docs/latest/opensearch/install/rpm/#optional-set-up-performance-analyzer to https://opensearch.org/docs/latest/monitoring-plugins/pa/index/

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

In order to be consistent with how we handled the tarball installation guide, specif

[2022-09-07 20:31] #1133 closed

[2022-09-08 13:38] #318 closed

[2022-09-08 14:51] JeffH-AWS commented on #1045
Sachin reached out to me via Slack. I've requested a final design doc for the feature in its current state as our timezone difference is roughly 12 hours so a live sync might be difficult to coordinate.

[2022-09-08 14:51] JeffH-AWS commented on #1045
Putting this in progress since we're talking about it, although I'm blocked on writing until a good feature doc is presented.

[2022-09-08 15:32] #1055 closed

[2022-09-08 16:14] #1112 closed

[2022-09-08 17:43] macrakis opened #1149 "[DOC]: Aggregate functions feedback"
**What do you want to do?**

- [ ] Request a change to existing documentation

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

There are several problems with page https://opensearch.org/docs/latest/search-plugins/sql/aggregations/
* Why is the title "Aggregation functions"? The usual SQL terminology is "aggregate functions".
* There should be

[2022-09-08 17:48] cwillum commented on #921
Waiting for owners/contributors of the various repositories to finish reviewing and merging the PRs. Once all of the PRs listed above have been merged, I'll close this issue.

[2022-09-08 20:36] cwillum commented on #450
Reopening to change the `cluster.initial_master_nodes` setting name to `cluster.initial_cluster_manager_nodes` in the sample docker compose file on the [Docker image](https://opensearch.org/docs/latest/opensearch/install/docker/) page.

[2022-09-08 21:33] kolchfa-aws opened #1152 "[DOC]Copyedit OpenSearch Dashboards in-product PPL documentation"
**What do you want to do?**

- [ x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 In OS Dashboards, there is existing in-product documentation for PPL. It needs copyediting.

**What other resources are av

[2022-09-09 16:24] cwillum commented on #921
Commented in remaining un-merged PRs (checkmark in list above indicates PR has been merged). Asked for final review and merge on my behalf (I don't have permission in those repos).

[2022-09-09 18:04] ariamarble opened #1157 "[DOC] Update and correct script-api index page links"
**What do you want to do?**

- [ X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Links currently on the script-api index page are incorrect and re-direct to homepage

**What other resources are available

[2022-09-09 18:25] #1157 closed

[2022-09-09 23:45] cwillum commented on #450
Boxing this back up post merge of #1151.

[2022-09-09 23:45] #450 closed

[2022-09-10 00:25] hdhalter commented on #1152
I think we should make sure the documentation on this feature is up to date in the doc repo, and then export our content into the UI. Some of the content is the same between them, but upon a quick glance, not all of it is.

[2022-09-10 01:34] kgcreative commented on #658
@kavilla - for now, let's remove the link to `OpenSearch Dasboards Vega help`

[2022-09-11 14:15] xluo-aws opened #1174 "[DOC] Syntax error in create mapping request in join.md"
**What do you want to do?**

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

URL: https://opensearch.org/docs/latest/opensearch/supported-field-types/join/
There seems to be an error in
"Create a mapp

[2022-09-12 16:18] alicejw1 opened #1178 "[DOC] Create new page and content for Using Vega and Vega-Lite"
**What do you want to do?**

- [ X] Add new documentation
This ticket will write the Vega documentation for OpenSearch.
**About this request:**
This ticket will write the Vega documentation for OpenSearch.  After docs are written, need to add the UI Help menu item back to the Dashboards to link to this document.
See ticket [658](https://github.com/opensearch-project/documentation-website/issues/65

[2022-09-12 16:33] JeffH-AWS commented on #1045
Sachin has provided me with a document that contains the necessary commands as well as sample outputs (although some of the data needs to be fixed - e.g., the changes to `run.gradle` to include the necessary dependency which is segment replication).

@ariamarble is working on the segment replication piece and this will be a child page of that.

[2022-09-12 17:10] AWSHurneyt commented on #921
I just wanted to quickly clarify that these broken links are also present in the README files of the frontend plugins (e.g., [alerting dashboards](https://github.com/opensearch-project/alerting-dashboards-plugin/blob/main/README.md)) as well.

[2022-09-12 18:03] #1061 closed

[2022-09-12 18:19] cwillum commented on #921
@AWSHurneyt That's a good point. I think at this stage, it might be best to follow the advice of @saratvemulapalli and add a new issue in [opensearch-plugins](https://github.com/opensearch-project/opensearch-plugins/issues): "if [an issue] impacts 2 or more plugins, you can open a PR with a suggestion in [STANDARDS.md](https://github.com/opensearch-project/opensearch-plugins/blob/main/STANDARDS.md

[2022-09-12 19:56] alicejw-aws commented on #1178
Hi @vagimeli - This is for a new dashboards doc. I'm starting an outline with overview and how-to steps after some research.

[2022-09-12 21:14] JeffH-AWS commented on #789
RPM/Yum installation keep getting pushed back due to other priorities...will try to continue work this week but it looks like I'll be getting back on it next week.

[2022-09-12 21:52] AWSHurneyt commented on #921
@cwillum Agreed. I've created the above issues in the opensearch-plugins folder.

[2022-09-12 23:48] bowenlan-amzn opened #1185 "[DOC]: Update transform API example"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Regarding to [the update API in transform](https://github.com/opensearch-project/documentation-website/blob/main/_im-plugin

[2022-09-13 07:47] sachinpkale commented on #1045
@JeffH-AWS Even though remote store will be enabled only for segment replicated index, remote store is a stand-alone feature which provides different functionality than Segment Replication.
IMO, both of these features should have a separate page without parent-child hierarchy.

[2022-09-13 15:47] vagimeli commented on #1178
Hi @alicejw-aws I'll schedule a brainstorming session. Here's working draft for the visualizations section, which will include documentation for each visualization type. The initial outline I started follows:

Visualizations (main page)
- L1 Page: Visualizations overview - give user high-level overview of what, when, and why to use visualizations and types https://github.com/opensearch-project/doc

[2022-09-13 16:33] #921 closed

[2022-09-13 16:34] Naarcha-AWS commented on #921
Closing this issue since every broken link in question has either been fixed through merge or has a PR associated with it.

[2022-09-13 17:59] #989 closed

[2022-09-13 20:20] JeffH-AWS commented on #1045
PR is ready for tech review.

[2022-09-14 00:59] cwillum opened #1196 "[DOC]Warn users against using special characters while setting up DLS and FLS"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
Query DSL fields for Document-level security (DLS) and Field-level security (FLS) do no support values that include special characters – such as -, +, @. As such, the system interprets the valu

[2022-09-14 15:30] vagimeli opened #1198 "[DOC] Update Naming Convention for Drag and Drop Wizard"
**What do you want to do?**

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 With release 2.4, the drag and drop visualization wizard naming convention will change to Visualization Builder. Make chang

[2022-09-14 16:11] #1045 closed

[2022-09-14 16:59] JeffH-AWS opened #1201 "[DOC] Rotate table in tone section of style guide"
**What do you want to do?**

Style guide:
https://github.com/opensearch-project/documentation-website/blob/main/STYLE_GUIDE.md

The table under Tone is horizontal, which makes it very difficult to read. Depending on the user's device and display resolution it can also require a significant amount of scrolling.

**Tell us about your request.**

This is for the style guide so it would affect all ver

[2022-09-14 18:54] #1201 closed

[2022-09-14 19:08] lukas-vlcek opened #1213 "[DOC] Search box content is rendered under some elements on the page"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [x] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

A picture is worth a thousand words:

<img width="1445" alt="Screenshot 2022-09-14 at 21 03 20" src="https://user-images.gi

[2022-09-14 21:25] JeffH-AWS commented on #815
This is in progress - awaiting draft for review.

[2022-09-14 22:51] hdhalter opened #1228 "[DOC] Broken links on Dashboards/Docker page"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [ x] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 1. Go to OpenSearch Dashboards > Install OpenSearch Dashboards > Docker: https://opensearch.org/docs/latest/dashboards/ins

[2022-09-15 05:20] xuezhou25 opened #1235 "[DOC] Update error_trace URL parameter description"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Coming from this issue[#4255](https://github.com/opensearch-project/OpenSearch/issues/4255)
The description of Stack traces

[2022-09-15 07:09] sachinpkale opened #1236 "[DOC] [Remote Store] Missing option in Enable the feature section"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 - In 2.3.0 release of OpenSearch, remote store is experimental feature and can be enabled by using 1 of the 3 options:
   -

[2022-09-15 13:10] tmewett opened #1237 "[DOC] `_source` input parameter incorrect/unclear"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ ] Add new documentation
- [X] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

OpenSearch 2.2.1

1.  On many of the document API pages, such as <https://opensearch.org/docs/latest/opensearch/rest-api/do

[2022-09-15 15:17] ariamarble opened #1238 "[DOC] Update segment replication feedback link"
**What do you want to do?**

- [X ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Updating feedback link for segment replication page

**What other resources are available?** Provide links to related issu

[2022-09-15 15:55] Naarcha-AWS commented on #1213
@lukas-vlcek: Which browser were you using at the time?

[2022-09-15 15:56] JeffH-AWS commented on #1236
Hi Sachin. Please describe exactly what is missing in this document and where it needs to be added. The information you presented me explicitly calls out run.gradle as a prerequisite.  This information should have been provided to me during your technical review.

Your information stated:

[code]

So "to enable the feature flag" we add this to `run.gradle` which is documented. You then went on to

[2022-09-15 16:06] Naarcha-AWS commented on #1149
@macrakis: Thanks for submitting these. A couple of follow up questions:

1. Do you have a preferred title for this issue?
2. Do you have any suggestions for alternate ways of wording bullets two and three?
3. Besides yourself, when we receive issues regarding SQL, is their a POC @alicejw-aws or any other writer could work with?

[2022-09-15 16:23] #1238 closed

[2022-09-15 16:58] Naarcha-AWS commented on #410
Hi everyone! Parent child relationships are documented in the join field type page (https://opensearch.org/docs/latest/opensearch/supported-field-types/join/).

Feel free to look over the page and if you notice anything missing, open a new issue.

[2022-09-15 16:58] #410 closed

[2022-09-15 16:59] Naarcha-AWS commented on #578
Hi everyone. Parent/child mappings and the `has_child` parameter has been documented here: https://opensearch.org/docs/latest/opensearch/supported-field-types/join/

[2022-09-15 16:59] #578 closed

[2022-09-15 17:57] amanthakur commented on #241
Can anyone tell me how I can change open search login page text . I want to change login page text

[2022-09-15 18:28] kolchfa-aws commented on #1174
Fixed by #1176

[2022-09-15 18:28] #1174 closed

[2022-09-15 20:21] JeffH-AWS commented on #1046
This issue can be used for tracking PRs and progress in making the edits. First step will be to identify where `indices` exists in the documentation when it is not referring to a hardcoded property called `indices`.

[2022-09-16 07:43] hansott commented on #410
@Naarcha-AWS Thanks! Not super complete compared to Elastic's but at least it's documented now. That means the feature will stay and be supported? Still wondering whether we should stay on Elastic or adopt OpenSearch.

[2022-09-16 16:00] lukas-vlcek commented on #1213
@Naarcha-AWS Google Chrome, Version 105.0.5195.52 (Official Build) (arm64)

[2022-09-16 16:18] cwillum opened #1248 "[DOC-META ] Review LDAP configuration documentation and provide overall updates"
The Active Directory and LDAP documentation needs review and update of outdated and missing information. See also issue #905 to update Docker example.

Making this a META issue for LDAP so we can pick away at LDAP issues piecemeal. Known issues for LDAP are listed below, and others can be added to the list as we move along in our review of LDAP content.

- [x] #1583
- [x] #1584
- [ ] Active Direct

[2022-09-16 16:52] hdhalter commented on #1213
@AMoo-Miki - can you please take a look at this? I'm also seeing it in Firefox.

[2022-09-16 23:13] hdhalter commented on #642
This has been documented for 2.3: https://opensearch.org/docs/latest/dashboards/drag-drop-wizard/

[2022-09-16 23:13] #642 closed

[2022-09-16 23:14] hdhalter commented on #1236
This has been documented for 2.3: https://opensearch.org/docs/latest/opensearch/remote/

[2022-09-16 23:14] #1236 closed

[2022-09-16 23:16] hdhalter commented on #1238
Documented in 2.3: https://opensearch.org/docs/latest/opensearch/segment-replication/index/

[2022-09-17 13:43] vagimeli commented on #1198
Confirmed with @seanneumann @ashwin-pc UI and name changing to Visualization Builder

[2022-09-19 12:33] tstadel opened #1258 "[DOC] incorrect OpenSearch Score for innerproduct in knn scriptscoring"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
The formula for the OpenSearch Score of the `innerproduct` in the table at the bottom of https://opensearch.org/docs/latest/search-plugins/knn/knn-score-script/ is incorrect. According to this

[2022-09-19 14:19] rursprung opened #1259 "[DOC] cluster settings API documentation doesn't specify that only certain (which?) parameters can be updated"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
neither the documentation on [updating configuration via the API](https://opensearch.org/docs/latest/opensearch/configuration/#update-cluster-settings-using-the-api) nor the [API documentation

[2022-09-19 15:04] kolchfa-aws opened #1260 "[DOC]Add GET _script_language API"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Add  GET _script_language API. This should happen after this issue in kNN plugin is fixed:
https://github.com/opensearch-p

[2022-09-19 15:05] kolchfa-aws opened #1262 "[DOC] Refactor the nodes API"
**What do you want to do?**

- [x ] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Refactor the nodes API for clarity and completeness.

**What other resources are available?** Provide links to related iss

[2022-09-19 19:08] #1213 closed

[2022-09-19 19:14] Naarcha-AWS opened #1267 "[DOC-META] Migrate Data Prepper documentation"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Migrate any documentation contained in this folder: https://github.com/opensearch-project/data-prepper/tree/main/docs to th

[2022-09-19 19:31] ariamarble opened #1268 "[DOC] API - add documentation for rank.eval"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

API - add documentation for rank.eval

**What other resources are available?** Provide links to related issues, POCs, steps

[2022-09-19 19:33] ariamarble opened #1269 "[DOC] API - add documentation for reload_search_analyzer"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

API - add documentation for reload_search_analyzer

**What other resources are available?** Provide links to related issues

[2022-09-19 19:36] ariamarble opened #1270 "[DOC] API - add documentation for ism_rollup"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

API - add documentation for ism_rollup

**What other resources are available?** Provide links to related issues, POCs, step

[2022-09-19 19:38] ariamarble opened #1271 "[DOC] API - add documentation for dangling"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

API - add documentation for dangling

**What other resources are available?** Provide links to related issues, POCs, steps

[2022-09-19 19:45] ariamarble opened #1272 "[DOC] Reports scheduler"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Add documentation for reports scheduler feature

**What other resources are available?** Provide links to related issues, P

[2022-09-20 08:40] rursprung commented on #1235
please note that there's more to this: if the config option is set then not just the `error_trace` HTTP parameter is disabled but also some error messages are no longer being returned. see https://github.com/opensearch-project/OpenSearch/issues/4545 for further details (this _might_ be a bug, but i guess for now you can document the status quo and it can be updated once the bug ticket has been add

[2022-09-20 20:10] alicejw-aws commented on #794
hi @Shivamdhar , i get some errors when i import the 5 counties json file into the OpenSearch Dashboards, so i can't get a screen shot of the counties region map.

do you happen to have an image I could use that shows what the region map looks like for the 5 counties? thanks! I want to add this image to the blog.

[2022-09-20 21:02] Shivamdhar commented on #794
Hello @alicejw-aws , please make sure that the start and end points for each polygon in the GeoJSON file are same.

[code]

Or you can use the following image -

<img width="462" alt="image" src="https://user-images.githubusercontent.com/9303427/191363865-f164f6fb-4911-46b7-8dcd-571f5d643e10.png">

[2022-09-20 21:58] alicejw-aws commented on #794
thank you @Shivamdhar we really appreciate this!

[2022-09-21 17:09] JeffH-AWS commented on #815
I was asked to review this while on PTO, so I directed Josh to engage with the docs team for assistance. Not sure where that landed as I didn't receive any updates. I've asked Josh to update the issue.

[2022-09-21 17:19] JeffH-AWS commented on #797
I've engaged a member of the team about this change. The solution is to add a link to https://opensearch.org/docs/latest/opensearch/install/docker/#configure-opensearch for the user to follow if they are not familiar with how to use `Docker`.  Bear in mind that these steps are native to Docker - they aren't exclusive to OpenSearch.

[2022-09-21 17:27] JeffH-AWS commented on #797
Due to OpenSearch Con it might take a few days to get pushed since a lot of the team are traveling.

[2022-09-21 17:32] JeffH-AWS commented on #797
All fixed!  Validated on the Docker Hub page.

[2022-09-21 17:32] #797 closed

[2022-09-21 17:49] #1228 closed

[2022-09-21 17:55] JeffH-AWS commented on #756
Reached out to Vacha again.

[2022-09-21 19:10] #562 closed

[2022-09-26 14:52] cwperks commented on #1248
A new attribute for `custom_return_attributes` is under review now and will need to be added to the documentation website for a future release: https://github.com/opensearch-project/security/pull/2093

[2022-09-26 16:28] #442 closed

[2022-09-26 16:51] kiranprakash154 opened #1312 "[DOC] Update By Query API docs needs to be updated with `wait_for_completion` parameter"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
Update By Query API when passed with the parameter `wait_for_completion = false` returns a task id, which can identify async

[2022-09-26 18:10] Naarcha-AWS commented on #1100
To help with load balancing of 2.4 feature writing, I'm going to assign this to me.

[2022-09-26 19:06] brijos commented on #815
Reassigning to @Naarcha-AWS as he is diving in.

[2022-09-27 16:59] JeffH-AWS commented on #789
Finally got some time to circle back around to this. Finishing up the steps for RPM/Yum install.

[2022-09-27 19:09] #1185 closed

[2022-09-28 00:19] #1312 closed

[2022-09-28 01:09] kolchfa-aws commented on #1260
Tracking the fix in PR https://github.com/opensearch-project/k-NN/pull/560

[2022-09-28 01:55] cwillum opened #1355 "Guidance describing potential impacts to DLS and FLS control when using other plugins[DOC]"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
For plugins that extract data from an index and store it in the plugin to facilitate their functionality, there may be cases where either metadata captured for alerts or search results retrieve

[2022-09-28 19:19] Naarcha-AWS commented on #518
Going to prioritize this before switching around the order of the TOC as described in #1036.

[2022-09-28 19:27] Naarcha-AWS commented on #415
@mattweber: This feature is already documented here, https://opensearch.org/docs/latest/opensearch/query-dsl/full-text/

[2022-09-28 19:27] #415 closed

[2022-09-28 20:13] mattweber commented on #415
@Naarcha-AWS no it is not, please reopen.

[2022-09-29 03:26] vagimeli opened #1359 "[DOC]Multiple data source experimental feature"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 This is an experimental feature for 2.4 release. New documentation needed for two audiences: IT admin and end user.

**Wha

[2022-09-29 05:38] tlfeng commented on #214
+1 to this issue. I'm looking forward seeing OpenSearch has got documentation for settings, even if starting from one page and list a few settings.
I've got 2 reason to support the issue.
1 When answering customers questions, I can only show them Elasticsearch documentation to explain in detail, which can be confusing to the customer. For example: https://github.com/opensearch-project/opensearch/i

[2022-09-29 05:58] tlfeng opened #1360 "[DOC] List all breaking change of REST API and setting that caused by applying inclusive terminology"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
All OpenSearch REST APIs and settings that contain non-inclusive terminology (master and blacklist/whitelist) have been depr

[2022-09-29 13:06] adrian51gray commented on #913
Does this ticket mean the plugins.security.ssl.http.enabled config param will also be removed?
and presumably this page will have references to plugins.security.ssl.http.enabled updated to imply the flag should always be true?
https://opensearch.org/docs/latest/security-plugin/configuration/tls/

[2022-09-29 13:15] reta opened #1361 "[DOC] Add the note regarding the possibility of conflicting settings in jvm.options and OPENSEARCH_JAVA_OPTS"
**What do you want to do?**

- [X] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

Came out of https://github.com/opensearch-project/opensearch-devops/issues/93, it would be useful to warn users when confli

[2022-09-29 15:54] Naarcha-AWS opened #1362 "[DOC]: Explain `-` is DSL search queries"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.

OpenSearch relies on text analyzers for processing text fields using the Unicode text-standard. Unicode defines `-` as a wo

[2022-09-29 16:04] JeffH-AWS commented on #214
@tlfeng absolutely! We'll get there. I wonder, if we call `_cluster/settings?include_defaults=true` for a node then since defaults are also included would that represent an exhaustive list of properties that can be configured?  Here is the response from a test cluster in my env:

[code]

[2022-09-29 16:37] andrross commented on #569
I believe the linked issue here is talking about using a network file system as the local storage on OpenSearch clusters. As others have stated there is no known blocking issue preventing this setup from being functional, but it is not recommended in all cases for performance reasons. (For reference, the AWS-managed offering of OpenSearch allows provisioning clusters with either EBS storage or loc

[2022-09-29 17:34] JeffH-AWS commented on #569
Thanks @andrross !  @nateynateynate what are your thoughts? Does simply adding that as a disclaimer somewhere satisfy the ask?  Maybe under configuration wherever we describe how to mount remote storage.

[2022-09-29 17:59] hdhalter commented on #1362
@lizsnyder Hi Liz, can you please add this to your documentation once we get it documented? We can share the text with you. Thanks.

[2022-09-29 18:04] tlfeng commented on #214
@JeffH-AWS Thanks for your rapid response! Although I haven't looked at the source code to confirm you listed all the possible settings, probably that's completed.
Besides, you could add `flat_settings=true` in the URL parameter to let them show in "dot notation" way (https://www.elastic.co/guide/en/elasticsearch/reference/7.10/cluster-update-settings.html#cluster-update-settings-api-query-params)

[2022-09-29 18:27] Naarcha-AWS commented on #1362
Looks like this issue was addressed in https://opensearch.org/docs/latest/opensearch/query-dsl/index/#a-note-on-unicode-special-characters-in-text-fields.

Closing this issue for now.

[2022-09-29 18:27] #1362 closed

[2022-09-29 18:28] dblock commented on #419
I think "Developer Guides" should be "Contributing", be fairly high level, and we should kick any actual developer guides out of the doc and move those entirely in READMEs.

[2022-09-29 18:31] dblock commented on #823
@robdasilva @Naarcha-AWS A-OK by me, anything else needs to be done?

[2022-09-29 18:39] dblock commented on #863
I don't have answers unfortunately @alicejw-aws, this needs some thorough research and experimenting, cc: @elfisher

[2022-09-29 19:32] scrawfor99 opened #1365 "[DOC] Active Directory and LDAP Security Plugin zip is out-of-date"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] ~Add new documentation~
- [x] Report a technical problem with the documentation
- [ ] ~Other~

 The documentation at https://opensearch.org/docs/latest/security-plugin/configuration/ldap/ needs to be updated. Right now, there is an embedded zip with a demo setup for running LDAP but users who try to run the demo wi

[2022-09-29 20:08] robdasilva commented on #823
@dblock Agree. Nothing to add from my side.

[2022-09-29 20:33] JeffH-AWS commented on #214
Oh that's a handy trick. You're awesome! Thanks so much @tlfeng

[2022-09-29 21:18] JeffH-AWS commented on #214
Ok so I couldn't get the `flat_settings=true` to work on my 2.3 node. I used python to do some transformed on the JSON and got this which I think is one `sed` away from the `.` delimiter used in the YAML.

[code]

[2022-09-29 21:31] JeffH-AWS commented on #214
Oh I think I know what I ran into - I didn't have the URI in quotes so bash was parsing the `&` rather than passing the other option. That explains why the behavior seemed to change a bit depending on how I ordered them!  Thanks again!!

[2022-09-30 15:41] ariamarble commented on #1119
This has been completed.

[2022-09-30 15:41] #1119 closed

[2022-09-30 20:19] hdhalter commented on #1036
Target completion = October 31

[2022-09-30 23:51] cwillum commented on #1365
Correct, this needs attention. Also see [#905](https://github.com/opensearch-project/documentation-website/issues/905).

[2022-10-03 14:10] scrawfor99 opened #1377 "Plugin Installation Guide Question"
- [ ] ~Request a change to existing documentation~
- [X] Add new documentation
- [ ] ~Report a technical problem with the documentation~
- [ ] ~Other~

When attempting to follow the existing plugin installation guide (https://opensearch.org/docs/latest/dashboards/install/plugins/#prerequisites) , I am unclear on the installation process. Perhaps it is an error on my end but I cannot seem to find t

[2022-10-03 15:11] mattweber commented on #415
@Naarcha-AWS  please reopen, cc @dblock @nknize

[2022-10-03 15:51] JeffH-AWS commented on #756
I still have not gotten any engagement from Vacha.

Based on re-reviewing the content in the [linked commit](https://github.com/opensearch-project/opensearch-plugins/commit/d0c019c9f65c3bc0740e0c77179c349947a810ef),  this does not seem to belong in the OpenSearch user documentation.  These steps seem to be pretty clearly aimed at developers who are customizing or altogether building plugins.  The

[2022-10-03 15:51] #756 closed

[2022-10-03 17:06] #1268 closed

[2022-10-03 18:17] JeffH-AWS commented on #789
Next topic to cover: Docker install of dashboards

[2022-10-03 18:49] #1237 closed

[2022-10-03 19:04] #1196 closed

[2022-10-03 19:25] #1269 closed

[2022-10-03 20:17] kolchfa-aws opened #1400 "[DOC] Create documentation for search functionality"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Create documentation for the following search functionality:
- Autocomplete
- Did-you-mean
- Paginate results
- Sort resul

[2022-10-03 20:18] kolchfa-aws opened #1401 "[DOC]Create documentation for the Dev Tools console"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [ x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 [DOC]Create documentation for the Dev Tools console

**What other resources are available?** Provide links to related issu

[2022-10-04 13:22] dblock commented on #214
I recommend figuring out a mechanism by which the documentation is generated in OpenSearch and its plugins from code annotations and exported into documentation-website, otherwise this is always a moving target.

[2022-10-04 16:26] #1271 closed

[2022-10-04 17:04] JeffH-AWS commented on #1377
I'll take a look at this today.

[2022-10-04 17:33] JeffH-AWS opened #1412 "[DOC] Fix command for local yum repo in OS rpm install"
**What do you want to do?**

Fix command for local yum repo in OS rpm install

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Command is wrong:

[code]

Should be
[code]
**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.

[2022-10-04 17:49] JeffH-AWS commented on #1412
After reviewing it looks like the command was broken due to some issues with the liquid syntax I use to parse the major version (i.e., "2.x" only instead of "2.3"). I did a little bit of digging and got it fixed, so it should be working now.  Local test was successful.

[2022-10-04 18:28] #1412 closed

[2022-10-04 18:33] JeffH-AWS commented on #1377
Which installation method did you use for the deployment you're testing @scrawfor99?

In Docker:
[code]

RPM:
[code]

[2022-10-04 18:35] JeffH-AWS commented on #1377
We can get the doc updated to include guidance on where the command line tool is located, but before moving on to that side please let me know if the output of `pwd` above was helpful or not.

If you're installing manual from the tarball then the relative path is literally `opensearch-<version>/bin`

[2022-10-04 21:14] JeffH-AWS commented on #214
@dblock that sounds like the best and most sustainable idea. Do you have a recommendation on where to start? That sounds like it would require a decent amount of development cycles.

[2022-10-04 22:07] alicejw-aws commented on #1115
quick status: created new page structure. moved previous "language analyzers" section i wrote to new page, and doing research on what sections/topics are required for the general analyzers page.

[2022-10-04 22:18] alicejw-aws commented on #658
quick status: i created an issue for opensearch-dashboards repo to remove the menu item. keeping this doc ticket open to maintain the research it contains for us.

[2022-10-04 22:24] alicejw-aws commented on #658
Here is the UI bug ticket for the opensearch-dashboards repo.

https://github.com/opensearch-project/OpenSearch-Dashboards/issues/2504

[2022-10-04 22:30] alicejw-aws commented on #1178
Hi @vagimeli , sounds good. Let's meet to discuss the 1-pager first draft.

[2022-10-04 22:32] #1149 closed

[2022-10-04 23:10] #589 closed

[2022-10-05 10:43] zbalkan commented on #214
It would be possible to create a schema and subschemas for plugins, with comments on it. Then, the comments can be extracted to provide a references page.

[2022-10-05 10:52] zbalkan opened #1436 "[DOC] Immutable indices setting is not documented"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [X] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**

Immutable indices are needed for security products that require a guarantee of integrity. We provide integrity for plaintext logs with checksums. But in a database, it is not always the case.

[2022-10-05 14:45] dblock commented on #214
I really don't know where best to start but I like what @zbalkan is saying. Start somewhere, start small :)

[2022-10-05 15:46] #1270 closed

[2022-10-05 18:08] dblock commented on #214
@JeffH-AWS I think this issue is as good as any because it's about documentation (what we want users to see).

[2022-10-05 19:24] JeffH-AWS commented on #214
@dblock alright - who is driving that side of the issue then?  RE: identifying scope and other requirements for this mechanism?

[2022-10-05 20:40] #1258 closed

[2022-10-05 23:53] Naarcha-AWS commented on #214
I think if we went with @zbalkan's idea, the documentation team would be possible for identifying scope and requirements to fit our current pipeline. However, to see this through would require development assistance. If we couldn't find resource on the OpenSearch team side, maybe we could from the community?

[2022-10-06 09:32] zbalkan commented on #214
You can just have a look for a simple [POC](https://github.com/zbalkan/opensearch-docs).

[2022-10-06 13:29] dblock commented on #214
@zbalkan Thanks for the POC! Let's be a little careful about introducing too many custom tools because they will need to be maintained.

Have you looked at whether these settings are available, or can they be made available in/from JavaDoc in the OpenSearch project (and plugins)? That's very standard and we could generate and publish javadoc with every build before transforming it into a reference

[2022-10-06 13:31] zbalkan commented on #214
Of course, it is indeed a better idea. Mine is just to prove that it is possible. The decision belongs to the development team. If it is possible with the current tools they are using, then why not?

[2022-10-06 16:55] Naarcha-AWS commented on #1436
Thanks for the issue submission @zbalkan.

[2022-10-06 18:18] Naarcha-AWS opened #1457 "Get Started with Data Prepper"
Migrate over https://github.com/opensearch-project/data-prepper/blob/main/docs/getting_started.md

[2022-10-06 18:19] Naarcha-AWS commented on #1457
We'll only backport this OpenSearch 2.0 and greater

[2022-10-06 20:36] #941 closed

[2022-10-07 18:08] Naarcha-AWS opened #1479 "[DOC] Update Dashboards plugin page to match core plugin format"
**What do you want to do?**

- [x] Request a change to existing documentation

**Tell us about your request.**

Update the [Dashboards plugin page](https://opensearch.org/docs/latest/dashboards/install/plugins/] to match how we convey versions in the [OpenSearch Core plugins page](https://opensearch.org/docs/latest/opensearch/install/plugins/#available-plugins). Instead of calling out each plugin

[2022-10-07 19:17] alicejw-aws commented on #1115
Status update: I have a PR draft here: https://github.com/opensearch-project/documentation-website/pull/1376
When complete, i will send it for tech review. thanks

[2022-10-07 19:25] Naarcha-AWS opened #1481 "Migrate from Open Distro to Data Prepper"
Migrate this Data Prepper page to opensearch.org: https://github.com/opensearch-project/data-prepper/blob/main/docs/migrating_from_opendistro.md

[2022-10-07 19:35] carolxob commented on #1481
Only pushing to OpenSearch 2.0 or later.

[2022-10-07 19:37] carolxob opened #1482 "Logstash Migration Guide"

[2022-10-07 19:43] alicejw1 opened #1483 "[DOC-META] Text analysis content needed"
This meta issue indicates the new pages we need for each of the text analyzers we are currently missing.
Note: Language analyzer is documented, and the concepts page: [Optimizing text for searches with text analyzers](https://opensearch.org/docs/latest/opensearch/query-dsl/text-analyzers/)

Analyzers (10)
- [ ] Standard analyzer
- [ ] Simple
- [ ] Whitespace
- [ ] Stop
- [ ] Keyword
- [ ] Pattern

[2022-10-07 20:02] alicejw-aws commented on #1115
reorg is complete:
created new page Text analyzers - will send for tech writer review next week.

Note: Text analyzers also needs a Specialized analyzers reference with contain all 8 analyzers
so far, Language analyzers section is complete. created separate [meta ticket](https://github.com/opensearch-project/documentation-website/issues/1483) for the remaining 7 pages.
hid "Specialized analyzers r

[2022-10-07 20:27] vagimeli commented on #922
Content is in progress; going out for technical review 10/14.

[2022-10-07 20:40] alicejw-aws commented on #1115
PR draft for TBD section needed: Specialized text analyzers
https://github.com/opensearch-project/documentation-website/pull/1484/files

[2022-10-07 20:53] vagimeli commented on #1106
Syncing with @kolchfa-aws

[2022-10-07 20:57] brijos commented on #937
As a quick update, the technical teams are still shooting for 2.4 for Dashboards integration.

[2022-10-07 21:10] Naarcha-AWS commented on #395
I suspect that this might have been fixed due to recent updates in the kNN documentation. Will investigate and close if so.

[2022-10-07 21:11] Naarcha-AWS commented on #518
@nateynateynate: Would you have any perspective on the best way to approach this? I'm experimenting with removing collections, but wondering if there's an alternative to that strategy.

[2022-10-07 21:27] alicejw-aws commented on #1115
Hi @macrakis , could you please review the new Text analyzers page? I wrote how analyzers work, given brief 1-line descriptions for all of the available analyzers, and moved my section on Language analyzers to this page.

Here is the PR:
https://github.com/opensearch-project/documentation-website/pull/1376
Thanks

[2022-10-07 21:45] Naarcha-AWS commented on #796
This issue is moving to 2.5. Updating milestone now.

[2022-10-07 21:52] Naarcha-AWS opened #1486 "[DOC]: Deep Learning Model for ML Commons"
**What do you want to do?**

- [x] Add new documentation

**Tell us about your request.**

The ML-Commons plugin now allows user to upload deep learning models and use them to make inference.

**What other resources are available?**

- Development PR: https://github.com/opensearch-project/ml-commons/issues/302

[2022-10-07 22:20] cwillum opened #1488 "[DOC]Add steps for configuring multi-authentication login in security documentation"
**What do you want to do?**

- [ ] Request a change to existing documentation
- [x] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.**
Steps for configuring multi-authentication login need to be added to documentation.

**What other resources are available?**
This will make a new heading in the [Backend configuration](https://

[2022-10-08 19:58] akarsh-jain-790 commented on #1479
Hey, I would like to work on this issue.

[2022-10-08 22:02] #1262 closed

[2022-10-10 13:30] davidlago opened #1499 "[DOC] Add `opensearch_security.openid.root_ca` to security plugin documentation"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Coming from https://github.com/opensearch-project/security-dashboards-plugin/issues/210, it seems like there is an undocume

[2022-10-10 15:15] JeffH-AWS opened #1500 "[DOC] Clean up broken links"
**What do you want to do?**

Jekyll is reporting 8 broken links in main. I'm going to clean them up.

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 n/a

**What other resources are available?** Provide links to related issues, POCs, steps for testing, etc.

[2022-10-10 15:25] vagimeli commented on #796
Thanks Nate

[2022-10-10 15:38] #1479 closed

[2022-10-10 17:38] davidlago opened #1507 "[DOC] Document that roles with DLS enabled should not have write access"
**What do you want to do?**

- [x] Request a change to existing documentation
- [ ] Add new documentation
- [ ] Report a technical problem with the documentation
- [ ] Other

**Tell us about your request.** Provide a summary of the request and all versions that are affected.
 Coming from [this issue](https://github.com/opensearch-project/documentation-website/issues/1273), we need to add a note in

[2022-10-10 17:39] davidlago commented on #1507
Oops! It seems like the issue I link had already been moved to this repo. Closing this one.